[2016-04-25 14:20] guparan opened #3 "Create profiles and repositories"

[2016-04-25 14:20] guparan opened #4 "Subtask 2"

[2016-04-25 14:20] guparan opened #6 "Testing ZenHub"
This is a task to do

[2016-04-26 09:03] #3 closed

[2016-04-26 09:11] guparan opened #8 "Logger documentation"

[2016-04-26 09:11] guparan opened #10 "Multi-threading"

[2016-04-26 09:11] guparan opened #11 "Component parameter update"

[2016-04-26 09:46] guparan opened #12 "Write masks specs"

[2016-04-26 09:46] guparan opened #14 "Write parameter update specs"

[2016-04-26 09:47] guparan opened #15 "Write logger documentation specs"

[2016-04-26 09:47] guparan opened #16 "Write CMake specs"

[2016-05-10 10:18] guparan commented on #6
Coucou @hugtalbot

[2016-06-03 23:10] FabienPean opened #2 "Compilation error when SOFA_FLOATING_POINT_TYPE = float"
### Details

If the option in the CMake file SOFA_FLOATING_POINT_TYPE is set on float only. Compilation fails initially in SofaDenseSolver library due to errors with the Newmat library, which propagates in further dependencies. It seems that there is no float version of the methods inside Newmat.
### Build output sample
- 3>     Creating library C:/.../lib/Debug/SofaDenseSolver_d.lib and object C:

[2016-06-09 07:37] hugtalbot opened #5 "Memory leak in LocalMinDistance?"
There seems to be a memory leak when using LocalMinDistance for collision detection. This can be seen if the memory usage is monitored when there is continuous collision between two objects. This has been checked with v15.12 and the latest changes from master branch.The code has been checked for LocalMinDistance as well as through valgrind tool but no result till now.

Refer to the post on the for

[2016-07-04 10:09] jnbrunet opened #7 "drawQuad (from DrawToolGL) doesn't call glBegin(GL_QUADS);"
Since drawQuad (as well as drawTriangle..) is a public function, one could think that we can call it from any draw function and get a Quad drawn. But drawQuad doesn't call glBegin(GL_QUADS) which than fail to draw the quad. We must call ourself glBegin(GL_QUADS) or simply call drawQuads with a vector of 4 vertices.

Should drawQuad function (as well as drawTriangle..)  be made private? Or maybe ad

[2016-07-07 08:33] guparan commented on #7
@fredroy ?

[2016-07-20 15:49] matthieu-nesme opened #9 "OglModel and texture in .jpg"
giving a texture in .png to an OglModel is working, while giving the same texture compressed in .jpg is not (the texture is loaded but it does not appear correctly on the mesh, like if the texture coordinates were incorrect)

[2016-08-22 13:21] hugtalbot opened #13 "OBJExporter: issue while exporting every N steps"
Issue with this exporter when exporting every N steps.
And export only the visual model, not the mechanical object.
-     fix the export every N steps
-     export the mechanical object of the node
-     create an additional component exporting the visual model (based on what was written before)

[2016-08-22 13:53] JeremieA commented on #13
The use-case of exporting a mechanical object is already implemented for many formats in MeshExporter. I would suggest adding the OBJ format there as it should be relatively trivial and would minimise code duplication. This way the OBJExporter can be kept for the other use-cases like exporting all visual models of the scene for offline rendering of the resulting animation.

[2016-09-08 13:07] matthieu-nesme opened #17 "FileRepository and special characters"
FileRepository needs to be checked and fixed.

It does not work for sure in some situations, e.g. if a sofa install is copied in a path containing accents on windows, FileRepository does not find the files.

Note I have not go any further, and everything needs to be investigated.
I did not test with the distributed, precompiled package. I did not test on linux...

[2016-09-21 12:34] thomas-lemaire opened #20 "SofaPython found by SofaTest at configure time"
Even if not activated, SofaTest finds the SofaPython package
in SofaTest/CMakeLists.txt
35: if(SofaPython_FOUND)
is true whereas it should be false
and cmake exits with an error at
52:     target_link_libraries(${PROJECT_NAME} SofaPython)
since SofaPython target does not exist

Windows, cmake 3.6.2

[2016-09-22 07:58] matthieu-nesme opened #21 "DataFileNameVector and spaces"
DataFileNameVector is a Data<vector<string>> where the strings are separated by spaces in the string-serialization. So how to include spaces in one of the paths? (right now it is splitting this path into two separated paths).

[2016-09-22 08:05] matthieu-nesme commented on #17
I added a test (FileRepository_test) empathizing the problem.
Successing on linux, failing on windows.

[2016-09-22 09:12] matthieu-nesme commented on #21
Problem demonstrated in the failing tests DataFileNameVector_test.

[2016-09-22 09:38] matthieu-nesme commented on #21
In fact the problem is there for any Data<vector<string>>.
For such vectors, the string-serialization could(should) separate strings with a specific character that cannot be on a path, but it would break existing scenes.

[2016-09-30 07:39] guparan opened #23 "Project SofaPython: general discussion"
## Main discussions

Stéphane: building matrices, vectors, to work with SciPy
Matthieu: Numpy is able to access the memory directly (there are examples)

There are some Python modules in Compliant with examples to assemble matrices, etc.

Components in Python (Stéphane)
"Trash" code, not clean, way to go to C++

Forcefield

Need to put breakpoints to interact with the scene from Python console

Ou

[2016-09-30 09:19] hugtalbot opened #24 "Project Multithreading in SofaKernel : general discussion"
Referee: @faichele

Members: @faichele , @fjourdes , @ChristianDuriez , @thomas-lemaire , @IPeterlik , @courtecuisse , @hdeling

Main objective: bring TaskScheduler within SofaKernel

Subtasks and estimated duration:
- merge the branch _issofa_multithreading_ involving the MultiThreading plugin into master (fixes)
- remove dependencies to boost (might face issue in the lock implementation)
- creat

[2016-09-30 10:27] hugtalbot opened #25 "Project Numerical validation : general discussion"
Referee: @IPeterlik

Members: @IPeterlik @remibessard @hdeling @damienmarchal @fredroy @epernod Jeremie

Main objective: provide a continuous support for validation of SOFA

Subtasks and estimated duration
- using python, based on Method for Manufactured Solutions (MMS), static linear elasticity with linear FEM in (compression and torsion with < 5% deformation)
  ex: TensorMassFEMForceField
- Tens

[2016-09-30 12:48] JeremieA commented on #21
There was a SVector<T> class added in sofa::helper simply to change the stream operators to use commas to delimit values and [ ] to delimit the vector itself (allowing for vectors inside vectors), but I don't like this design because the type itself is different affecting all the code that uses it...

[2016-09-30 13:02] ChristianDuriez opened #26 "Project SparseMatrices, Mapping & Mask : general discussion"
Referee: @matthieu-nesme @ChristianDuriez

Members: @JeremieA @francoisfaure @courtecuisse, Eulalie Coevoet, Igor Peterlik

Main objective: build or compute the mechanical system when forcefields, constraints etc... are under  mapping

1 implementations available using Compliance plugin (and EigenMatrix) and masks
1 implementation todo using sparseMatrix of SOFA without masks. For that, the fact t

[2016-09-30 13:20] guparan opened #27 "List small tasks/issues"
The idea is to create issues for small stuff/cleans/bugfixes that could be done by anyone.

[2016-09-30 13:20] guparan opened #28 "Clean similar components"
Some components in SOFA are very close.
For example, we have 5 versions of TetrahedralFEMForceField.
We should clean this.

[2016-09-30 14:21] fredroy commented on #7
I would not add a boolean because you would have a large number of tests in the case of a large mesh.
I would rather rename those functions and set them purely protected/private (then transforming them like utility methods for DrawToolGL).
And then create other functions implementing the DrawTool interface (calling those private methods and glBegin(*)/glEnd calls)

[2016-09-30 14:30] fredroy opened #29 "Bounding Box not computed"
A lot of scenes without an OglModel does not display anything because the bounding box is not computed by any component. Therefore, the default value is extremely small (default value of double I think).
This behavior is mainly found with the default QtViewer GUI, as QGLViewer seems to have a reasonable default bounding box value.

Even if there will be an other GUI, we have to implement computeBB

[2016-10-03 10:37] JeremieA commented on #29
Computing bounding boxes can have a non trivial runtime cost. In fact it's one of the first things we disable in our simulations to gain up to 5%. So if it is added in more components it should be done in a way that is transparent in term of performances (such as computed on the first iteration only by default).

[2016-10-04 16:18] matthieu-nesme commented on #21
A solution could be to replace the concerned Data with new Data **with different names** using SVector.

The backward compatibility could be ensure by having a specific "parse" function, looking for the old data names, and filling the new SVector by splitting at every spaces (the old way). W/o forgetting the deprecated message.

A similar process has been done in RigidMapping (Data 'rigidIndexPerP

[2016-10-05 08:41] jnbrunet opened #30 ""Save screenshot" button make the GUI freeze after second hit"
To reproduce the bug:
- Launch sofa with any scene
- Hit the "Save screenshot" button and save the image somewhere
- Hit again the "Save screenshot"
- The gui should now be frozen

Sofa version is 178a7b1 (current master branch)
Linked against Qt 5.5.1 and boost 1.58.0
Compiled with clang 3.8.0
Ubuntu 16.04.1 LTS

[2016-10-05 08:49] fredroy commented on #30
On Windows10/VS2015/Qt5.6 and MacOSX 10.11/clang/Qt5.5, the gui does not freeze.
[with QGLViewer or QtViewer]
Is it possible to try with an other version of Qt ?

[2016-10-05 13:10] jnbrunet commented on #30
I've tried with Qt5.2 and got the same error.

The error seems to come from RealGUI::screenshot() after the first screenshot is taken

RealGUI.cpp:2148

[code]

In my case, the pointer _begin_  is initialized to an empty string. The weird thing is that if I put a breakpoint there with gdb, and manually call  _filename.toStdString().c_str()_, the _begin_ pointer will be populated correctly, as if t

[2016-10-12 10:04] damienmarchal opened #32 "Clarify the semantic of the differente attributes of the Data"
I need to save the scene edited with runSofa in a readable way. But the current implementation of the saving is not working because too much data are saved.

This seems to be related with the fact that the attributes of Data (Persitant, Hide, Set) are not used in a consistent way within sofa and runSofa.

So I wonder if we have a document where the different attributes behavior of the Data are spe

[2016-10-12 12:55] thomas-lemaire opened #33 "miniBoost removal"
couldn't mini boost just be removed from the source tree now ?

[2016-10-13 07:50] damienmarchal opened #34 "DiagonalMass.cpp"
The specialization of the

[code]

is totally different to the one for:

[code]

This seems weird to me. Can someone confirm this is a bug (and that probably the Rigid2f/3f should be the same as Rigid2d and Rigid3d).

[2016-10-13 08:37] damienmarchal opened #35 "Removing data alias while preserving scene backward comptibility."
Hi,

I found the usage of data alias more annoying than helpful.
Currently data alias are used to provide backward compatibility with old scenes. The problem is that by doing so it does not indicate to the user that the data field name has changed and that it should change to fix his scenes. The consequence is that we have a lot of old scene that are still using differents name for the same data f

[2016-10-13 08:54] damienmarchal commented on #28
I guparan,

This is a nice idea. By doing so you will have to remove components which may break backward compatibility with users existing scenes.

Maybe you will find helpful the following template of code we are using in the soft-robots plugin  to handle such backward compatibility issues.

The idea basically consist in registering into the factory an empty component that simply print a warning

[2016-10-13 09:57] damienmarchal opened #36 "Writing test for DiagonalMass.cpp: what are mass & totalMass for ?"
I noticed several flaw (or hard to understand) with the way mass and totalMass interact in DiagonalMass compared to what is done in UniformMass.

eg:
- totalMass is set as readOnly in DiagonalMass while it is not in UniformMass
- despite totalMass is readOnly the value can still be changed in the scene file (so I wonder that the readOnly flag should be renamed to something that reflect what is it

[2016-10-13 12:53] damienmarchal opened #37 "Management of object that fails to initialize/reinitialize."
In sofa we are missing a way to handle the component when some failure happens (eg: when it cannot be initialized). Several code patterns are possible... more or less invasive...

I'm searching for different alternatives solutions I could employ to solve this issue.

DM.

[2016-10-14 21:53] damienmarchal opened #38 "BoxROI and doUpdate not working as I expect"
Whatever I set doUpdate to true or false the BoxROI object seems to update the selected triangles so I wonder what is supposed to be the behavior of this data field ?

[2016-10-19 07:08] damienmarchal commented on #33
I have no idea on this issue so I would vote for yes :)

[2016-10-19 09:00] matthieu-nesme opened #40 "FlowVR in SofaVolumetricData"
Does the files in sofa/modules/SofaVolumetricData/CMakeLists.txt really require FlowVR to compile?

[2016-10-19 09:46] damienmarchal commented on #40
Hi Mathieu,

Thanks for the tick reporting ;).

FlowVR is currently used in DistanceField.cpp to load .fmesh files. We can probably refine the dependency to FlowVR to allow DistanceField object to work but without the fmesh support.

This seems easy and I will try to do that.

Damien.

[2016-10-19 10:16] damienmarchal commented on #40
The commit that fix that is
910d498493f13ca0c670e7df32e99b8674e7c29d
in the defrost branch.

Cherry-picking it & test it is ready to go into master.

[2016-10-19 11:16] damienmarchal commented on #40
Test OK. Pushed to master.

[2016-10-19 11:16] #40 closed, assigned to damienmarchal

[2016-10-19 11:21] damienmarchal commented on #27
Hi guparan,

When I see this kind of small issues I tend to write //TODO(dmarchal) in the sofa source code. Maybe we should all do that and report all the TODO found from time to time in the issues tracking system.

DM.

[2016-10-19 11:38] damienmarchal opened #41 "Saving Scene file"
When saving scene file either in python and xml a lot of informations are added which ruins the initial file which make it very hard to read and manipulate.

Fixing this would be great.

[2016-10-19 11:48] damienmarchal commented on #41
There is a patch in the daccord repository on forge.

Here are the  commit messages (which contains possible interaction with other sofa part):

[code]

The case that probably could cause some problem is the replacement of the 'src', 'template' with real data field.

[2016-10-19 11:54] epernod commented on #27
I agree and you should find a way to put a "rate"/"priority". I have never worked with github issue manager.. maybe it is already possible.

[2016-10-19 12:10] epernod opened #42 "Duplicate code between MeshXX and MeshXXLoader"
Is there a real reason to have duplicate code between
MeshSTL and  MeshSTLLoader

idem for
SOFA_LINK_CLASS(MeshOBJ)
SOFA_LINK_CLASS(MeshTrian)
SOFA_LINK_CLASS(MeshSTL)

What is the final decision?

Edit: BTW how do we add a label to github issue? I wanted to put this one under "discussion"

[2016-10-19 12:19] damienmarchal commented on #27
You can add a thumb-up (with the Add your reaction icon... in the header of the message)) then sort by reactions in the issues listing.

[2016-10-19 12:21] damienmarchal commented on #21
The approach proposed by matthieu sounds ok to me.
I strongly support the "W/o forgetting the deprecated message".

[2016-10-19 12:46] guparan commented on #27
TODOs in source code are nice. Please be sure to make them Doxygen readable.
See https://www.stack.nl/~dimitri/doxygen/manual/commands.html

I think we could also create issues here with a special common label like "help wanted" (already existing).
More, we could have a whole series of "difficulty" labels: difficulty 0, difficulty 1, difficulty 2, ...

[2016-10-19 12:51] damienmarchal commented on #27
Thanks for the doxygen link.

[2016-10-19 14:08] epernod opened #43 "Creating tests on Topological operations"
Hi,

several tests were already done for topological modifier, they are tested through scenes in examples/Components/Topology/TopologicalModifiers

They test: add/remove of topological elements
- Is sofaVerification still used?
- I can easily rewrite those tests in c++ using the ::Sofa_test  api. Is it better? what is the politic between doing tests through scene or Sofa_test.

[2016-10-20 08:11] thomas-lemaire commented on #43
The successor of sofaVerification is in SofaTest, look at
plugins/SofaTest/SofaTest_test/Regression_test.h

I like small test scene that also serve the purpose of being didactic examples, it also ensures that examples are up to date since they are being tested

thomas

----- Mail original -----

[2016-10-20 17:03] maxime-tournier opened #44 "initData must go!"
Dear all,

I used a deliberately provocative title to start a friendly technical discussion about the way `Data` are initialized.

As of now, `Data` constructors potentially incur a non-negligible overhead per component created, and it is unclear why users should have to pay for (at least some of) it. The overhead can get pretty large as many components are created (think of contacts, for instance

[2016-10-21 05:01] damienmarchal commented on #44
I Maxime,

Thanks to rise up this kind of debate.

I agree with you that the cost for data init may be large.

I see two problems:
     - a lot of informations are duplicated in each instance of the component while most of the time they are per component informations (like the namestring, the helping docstring, etc...). I would be great to have that shared informations to be factored somewhere eit

[2016-10-21 05:06] damienmarchal opened #45 "Minor numerical implementation difference between float/double on BilateralInteractionConstraint"
I,

I'm factoring the code that is in double/float template specialization using the design pattern used in the Image plugin (an external class Specialization which is friend to the class to specialize).

The code in:

[code]

is different.
Float is using

[code]

Double is using:

[code]

Can someone check if this is expected or if this a kind of "someone change the value in one place and forgot

[2016-10-21 09:51] maxime-tournier commented on #44
Hello Damien, and thanks for your feedback.

Let met address your points one by one:

## Invasiveness

That depends on the use cases for `Data` embedded in a component. From the code in `Base.h`, it seems that components essentially should be able to:
- Enumerate all its `Data`
- Associate a name to a `Data`
- Adding/removing `Data`

Assuming it's all there is to `Data` management in a component,

[2016-10-21 10:47] damienmarchal commented on #44
Hello Maxime,

Thanks for the precise analysis that is really helpful as well as on tracking the 'hidden overheads' in sofa.

All that sound reasonable to me and I share your view that the cost hit of creating object in case of collision is a strong point for doing something.

Maybe people interested in this topic could experiment in a dedicated branch so that we have an alternative implementation

[2016-10-21 13:12] matthieu-nesme commented on #35
If the Data was simply renamed (but is having the same role as previously), it is not a big deal to have a alias.

If the Data is no longer used, backward compatibility will have to be done in the 'parse' function (to fill others Data for instance), in that case, it is easy to add a deprecated message. Note that the initial Data should not exist anymore.
As an example, you can look at RigidMapping

[2016-10-21 14:15] matthieu-nesme commented on #44
Max, if I follow correctly, the way you propose would not break existing code? And we could have both regular Data and Class-handled Data at the same time? So we could update components little by little? It definitively worth trying it.

Something tricky with actual Data is the multithreading management, maybe someone at InSimo could tell us a word about that?

[2016-10-21 15:14] maxime-tournier commented on #44
Matt',

Yes the breakage would be minimal.

It would be possible to mix instance-based and class-based Data management as long as the consistency in maintained through the data API in `Base`.  Static data would incur no extra penalty at construction time, but later add/remove would remain possible.

I am unsure this is desirable, however: a full-blown mix of class-based and instance-based manageme

[2016-10-24 12:06] damienmarchal commented on #35
To cite Jeff Johson from GUI-Bloopers:
"An even more blatant mistake is when designers put the same command onto different menus, but label it differently ... It is fairly serious because users almost always assume that differently labeled commands invoke different function".

" Another problem with putting the same command on multiple name is that it misleads users into believing that the applica

[2016-10-25 13:02] JeremieA commented on #44
Hello,

Interesting discussion. I think having a separate mechanism for static versus dynamic data instances would be adding quite a lot of complexity. However the current system could be improved based on your observations :
1. `VecLink m_vecLink` in `BaseData` will only ever contain { &inputs, &outputs }. `VecLink` could be changed to `helper::fixed_array<BaseLink*,2>` to remove those allocation

[2016-10-26 16:15] maxime-tournier commented on #44
Thank you Jeremie for this valuable feedback.

I started working towards a faster initialization path for `Data` and `Link` in a separate branch, I will post some results here if I get anything meaningful. The main use-case is a scene with many contacts, thus many components/data are added and removed at each time step due to collision handling. We'll see whether this is worth the effort.

A small

[2016-10-27 11:36] damienmarchal opened #47 "Behavior of SphereModel::getContactPointWithSurfacePoint"
Hi all,

in SphereModel.cpp it is unclear to me why the functions

[code]

Are specialized on Vec3fd to return the center only.

Second question is why do the message says that SphereModel only work with a Vec3 while it seems to also accept Rigid3 types.

Anyone can explain ?

Thank,
DM.

[2016-10-27 15:34] matthieu-nesme opened #50 "BaseObjectDescription::getAttribute"
`const char* BaseObjectDescription::getAttribute(const std::string& attr, const char* defaultVal=NULL);`
could be replaced by
`const std::string* BaseObjectDescription::getAttribute(const std::string& attr, const std::string* defaultVal=NULL);`

to remove a few string creation each time `getAttribute` is called.

[2016-10-28 13:58] matthieu-nesme commented on #21
Fixed in a99443a98fed8052fe1159487d73639a6a6e2624.

I finally changed DataFileNameVector that is now a SVector<string>, so be aware its string serialization changed.

I made this choice because only OglShader is using DataFileNameVector in sofa-public, so the consequences of this change are small, and at least future usage of DataFileNameVector will be ok.
Of course if your private code is using D

[2016-10-28 13:58] #21 closed, assigned to nobody

[2016-11-02 10:50] guparan commented on #50
Is this a topic to be discussed or just a TODO?
Are there any drawbacks? Side effects?

[2016-11-02 11:53] damienmarchal commented on #36
Hi @hugtalbot

In diagonalmass.cpp can you confirm that the following are bugs to fix:

The specialization for rigid3f ::init() & rigid3d ::init() are totally different. Seems to me they shouldn't.

You said that "totalMass parameter is re-computed in the un-specialized implementation of the reinit function sounds ok to me, but indeed, the specialization for rigid/vec should forward to this implem

[2016-11-02 12:54] matthieu-nesme commented on #50
It is kind of a TODO, not to forget.
And to see if anybody has an objection.
I've got no idea about drawbacks and side effects yet.

[2016-11-02 18:24] JeremieA commented on #45
Hello,

A simple [blame](https://github.com/sofa-framework/sofa/blame/25f245b2383a86f097cabdea13697aa42665568e/modules/SofaConstraint/BilateralInteractionConstraint.cpp) shows the 2 commits where these values where last set:
https://github.com/sofa-framework/sofa/commit/bb99399cba47a95301025531577c2e3ac3f728ab
https://github.com/sofa-framework/sofa/commit/8b294f75884a0216ce26f5457b8689da57dd081a

[2016-11-02 18:31] JeremieA commented on #50
I'm not sure of the expected improvement there. This is only used during parsing of XML files (so not in a computational loop). Changing to a string forces it to create a temporary string for the defaultVal (and as it's a pointer it can't be automatically done from a compile-time constant). And as in c++11 strings cannot share the actual data buffer, providing the const char\* pointer to copy from

[2016-11-02 18:50] JeremieA commented on #38
I believe it's a hack that is probably no longer required. It was forcing an update at each step, probably from an ancien time when this code was not an Engine or when Engines were not implemented correctly. Now the Engine is automatically updated when someone read its output and any input changed so that this flag should no longer make any difference.

[2016-11-02 19:13] JeremieA commented on #44
I don't remember a specific reason why fixed arrays were flagged as CopyOnWrite, it may be just because the type description was largely copied from resizable vectors. It would indeed make sense to disable this flag, or better to look at the memory size and only enable the flag if it is more than a reasonable threshold.

[2016-11-02 22:02] damienmarchal commented on #38
So I deprecate it :)

[2016-11-03 08:11] thomas-lemaire commented on #35
it may be used in some automatic similar-name-data linking (when using src="@/path/to/component") style of linking data (instead of position="@/path/to/component.position", edges="@/path/to/component.edges",...)
I think this style is appreciated for being less verbose, as usual for newbies it is confusing, for experienced users it is a facility

maybe the in between decision could be to clean the

[2016-11-03 09:41] damienmarchal commented on #45
Thank Hugo, thanks Jeremie for the inputs.

I fixed that in the defrost branch. I choose a different approach to one suggested by Jeremie to maintain backward compatibilty. If you want to have a look it is there:
https://github.com/sofa-framework/sofa/commit/2ccfd85df740afeb084f7fdab2ded74c13018561

We should merge our weeks difference from defrost to master tomorrow (if everything goes smoothly).

[2016-11-03 09:41] #45 closed, assigned to nobody

[2016-11-03 11:17] damienmarchal commented on #38
I agree with Hugo this make sense to be able to control if the update happens or not.

So I finally fixed the doUpdate behavior. If you want  to have a look at this happens in commit:
https://github.com/sofa-framework/sofa/commit/111e21cc23a76c7d3c0844ce7b64aa81e381d614

[2016-11-03 11:24] JeremieA commented on #38
I don't agree, the correct way to have BoxROI not update itself, like any other engine, is to link it to inputs that are not changing, i.e. rest_position instead of position. Otherwise this will break updates after topological changes for instance...

[2016-11-03 12:12] damienmarchal commented on #38
Thanks for the feedbacks,

This seems related to the fact that Engines are designed to be data flow oriented and, keeping that in mind, we shouldn't break the general design of engines.

But, it also appears that in several scenarios, ROIs are used to select features, eg 'position', but not necessarily at initialization time and not necessarily at rest_position and that there may not have an assoc

[2016-11-03 12:41] JeremieA commented on #38
It's something that is too general to make it specific to BoxROI. What about SphereROI, EllipsoidROI, ... ?
There are several ways to handle this use case (using an Engine to compute something once or only at specific triggers):
1. don't use a link but copy the data manually (but easily) using python for instance
2. add a new link syntax that would not automatically trigger updates, or that would

[2016-11-03 12:50] JeremieA commented on #33
`boost::intrusive_ptr`is very widely used within Sofa, and is not part of `c++11`, so this part of boost has to be there, even if most other boost dependencies may be able to be removed (on thread-related classes for instance). This initial idea of miniBoost was to make it easier to handle this dependency without having to maintain OS and compiler-specific binaries of the full boost libs, in cases

[2016-11-03 12:56] damienmarchal commented on #38
@hugtalbot  as you asked: https://en.wikipedia.org/wiki/Dataflow_programming  :)

[2016-11-03 12:59] guparan commented on #33
I would vote for yes too. This has been discussed for a long time now. Online documentation is already updated to "use your own Boost".
Cleaning as much as possible Boost dependencies that are redundant with C++11 features is another topic in my opinion.

[2016-11-03 22:26] damienmarchal commented on #35
I have implemented a component "MakeAlias" to explicitely specify the Alias of a component (not a data) at the beginning of its scene. It is commited in  https://github.com/sofa-framework/sofa/commit/92753c42b7eaa076ace4b3840aa4cac6c18172a7

Example of use:

[code]

With this approach people that want alias to simplify their scene...have them...but:
    - there is not alias by default
    - alias

[2016-11-04 14:01] fredroy opened #51 "Qt & JPEG support"
Reading a JPEG file is implemented by ImageQt, which obviously depends on Qt.
It means that Qt is needed to load any JPEG image (actually, also gif, and other exotic formats).

1) I think we should be able to read JPEG files without Qt ; perhaps using libjpeg ?
2) Moreover, we need to have a Qt Gui to activate ImageQt ; then it could be an idea to move this class to a plugin ? Which will be able t

[2016-11-05 06:10] damienmarchal opened #52 "Dashboard improvement"
Hi,

The current dash board does not allows to differentiate tests that fails because they are 'showing'  a not yet fixed sofa defect to the one caused by regression (ie tests that were supposed  to work but don't anymore).

This is a problem because while introducing new regression failure is a bad thing, introducing new tests that exhibit sofa defect is a positive thing. But they have the same r

[2016-11-06 01:15] damienmarchal commented on #35
I finally got a working component "MakeDataAlias" to explicitely specify the data aliases at the beginning of a scene. It is commited in:
https://github.com/sofa-framework/sofa/commit/b434f8a0865723a14d70b3a51c9d9d0057bc4e63

[code]

[2016-11-07 10:21] damienmarchal commented on #29
@JeremieA do you think that a doUpdateBoundingBox data field in all objects would be enough ?

[2016-11-07 12:26] guparan commented on #52
Hi Damien,

Actually, Jenkins is already doing this, here is a regression: https://ci.inria.fr/sofa-ci/job/ubuntu_gcc-4.8_options/3955/testReport/(root)/ImagePNG_test/ImagePNG_NoFile/

We can also access this results with a GET request: https://ci.inria.fr/sofa-ci/job/ubuntu_gcc-4.8_options/3955/testReport/api/json?pretty=true
Just search for "REGRESSION".

So it is possible to count them in the "

[2016-11-07 13:42] damienmarchal commented on #52
Hi guillaume,

Many thanks for the links to the jenkins API, this will helps us in differentiating the tests.

I think the meaning of the colors depend on what the dash board is used for:
  a) if the dash board is used to know what is the current state of the sofa code base (so answer the question: "is this version of sofa good") then, as you say, it should be red showing that something is bad.

[2016-11-10 14:13] matthieu-nesme commented on #51
is it related to https://github.com/sofa-framework/sofa/issues/9?

[2016-11-10 14:29] matthieu-nesme commented on #29
No need for an extra doUpdateBoundingBox Data.

BaseObject has a method

If you explicitly need the bounding box of that component, you can call it with onlyVisible=false.

By default the display needs the entire bounding box of the scene, and calls this function for every components (through a visitor) with onlyVisible=true ; such as only displayed (and displayable) components participate to the

[2016-11-10 16:31] matthieu-nesme opened #53 "[SofaPython] display a warning when an argument is not used during a 'createObject'"
It would be easier to notice a typo in a Data name.
(I think this is done during xml parsing)

[2016-11-11 06:16] damienmarchal opened #54 "Why LightManager test fails ?"
Hi all,

One test related to LightManager is failing only on windows eg:
https://github.com/sofa-framework/sofa/commit/6d3e1398363cc617124fd25522193ef20b1b7b1c

The failing scene is rather simple:
[code]
Any one know why the test on Windows behave differently to to other plateforms ?

DM.

[2016-11-12 09:55] fredroy commented on #51
I guess your bug is a consequence of this issue yes, as OglModel is using Image helper class (and using ImageQt for jpeg then)

[2016-11-16 13:04] damienmarchal opened #56 "What should be the DefaultMessageHandler and other msg_* API impovement"
This issue is connected to the discussion:
https://github.com/sofa-framework/sofa/commit/aee0d912432d043a792f3b43160417e724b11704

This discussion was continued between I, Mathieu and Guillaume, during our weekly meeting.

Our conclusion were that:
- in sofa::core the defaultmessagehandler should be the simplest so that people making third party applications out of Sofa are not disturbed by the ne

[2016-11-18 09:31] matthieu-nesme commented on #34
Good eyes!
It also seems obvious to me that the float version should be the same as the double version.

[2016-11-18 09:35] matthieu-nesme commented on #17
I guess the easiest and safest way to handle that would be to use boost::filesystem
http://www.boost.org/doc/libs/1_62_0/libs/filesystem/doc/index.htm

[2016-11-18 10:35] bcarrez commented on #52
I see the difference of point of view between you.

Guillaume wants the dashboard to show the absolute current state of Sofa, with all failing tests marking the commits as "broken/need to be fixed"
Damien sees more the average Sofa contributor point of view: "did I break something?"/"is Sofa better or worse with my last commit"

**_Would it be acceptable**_ to add a simple checkbox on the dashboar

[2016-11-18 11:07] matthieu-nesme commented on #47
The Rigid SphereModel was added "recently" and the comment is not up-to-date.

Rigid Spheres can rotate (Particle spheres cannot), and modeling the contact directly at their surfaces allows extra behaviors such as friction.

On the other hand, adding contact points at the surfaces of particle spheres would only add unnecessary extra cost (mapping+mstate). Creating a spring/constraint directly betw

[2016-11-18 11:09] damienmarchal commented on #52
I think that the proposal of bcarrez is a good one.

[2016-11-18 11:10] JeremieA commented on #29
Agreed, I don't like adding a Data in every component just for this.
I think the underlying issue of having an empty scene bounding box when there is not visual models could also by fixed relatively simply and without introducing much cost by:
- including the collision models top-most bounding boxes that are already computed during each time step (in fact this could be the only information used by

[2016-11-18 11:11] JeremieA commented on #51
Instead of adding `libjpeg` as a dependency on the core of Sofa, I would support doing the opposite, i.e. removing `libpng+zlib` by only keeping the abstract `Image` class in `sofa::helper`, and including the derived classes in plugins, where we could only use by default the Qt-based implementation, so only for projects choosing not to include the Qt GUI they would have to enable the other impleme

[2016-11-18 11:18] JeremieA commented on #42
`sofa::helper::io::Mesh*` has been deprecated since many years, replace by `MeshLoader` components, it would be indeed good now to clean it up ;)
The biggest chunk of work required is to remove all the `"filename"` Data still around in quite a few components (BaseMeshTopology, MechanicalObject, DiagonalMass, UniformMass, VisualModelImpl, SpringForceField, RigidMapping, RigidRigidMapping), which wo

[2016-11-21 09:53] matthieu-nesme opened #61 "Data update listener"
The tendency would be to alleviate Data, but one important behavior is missing.

Do you have suggestions on how to perform a listener/observer mechanism on Data w/o adding extra cost?
The idea is to be able to call a callback as soon as a Data is modified. The main usage is the gui, to be able to update some stuff w/o having to check for modifications of tons of Data at regular intervals.
This has

[2016-11-23 10:47] damienmarchal opened #64 "UserInterface: Unifying the way to specify colors in the scene"
In sofa, some component allows to specify colors by writing color="1,0,0" and "red" while others just allow color="1,0,0".

This is a consistency issue (very very bad for the user experience).
So we should unify this in all sofa for the next release.

DM.

[2016-11-23 11:29] #56 closed, assigned to nobody

[2016-11-23 11:41] damienmarchal commented on #47
Thank Mathieu for the info.

So you are confirming that the name getContactPointWithSurfacePoint mismatch the behavior of what is actually implemented for vec3. Shouln't we separate the two behavior in two function with clear naming ?

DM

[2016-11-23 11:52] damienmarchal commented on #47
I created a branch for this issue in: https://github.com/SofaDefrost/sofa/tree/fixing-sphere

EDIT: The branch has been deleted.

[2016-11-23 11:54] damienmarchal commented on #17
Isn't this issued solved ? by recent comits so we can close it ?

[2016-11-23 12:04] damienmarchal commented on #34
I created a branch to fix that in: https://github.com/SofaDefrost/sofa/tree/fixing-issue34

(Using branches & pull-request for such trivial things...seems overkill and a waste of time...)

[2016-11-23 12:52] matthieu-nesme commented on #17
not it is not
FileRepository_test.findFileWithAccents on windows

[2016-11-24 10:09] #30 closed, assigned to nobody

[2016-11-25 22:51] damienmarchal commented on #64
Actually we also have the same problem for 'ambient' and other color related data fied.

There is also inconsistencies in 'filename' that can be either of String or DataFilename type.

[2016-11-28 10:19] guparan commented on #64
TODOs have been added by pull request #65

[2016-11-28 13:21] guparan commented on #54
Some more info about this test...
Fails on master since b70b477f
Error appeared in `defrost` branch between 4b1f289 and a33b4b1.
First CI build with error: https://ci.inria.fr/sofa-ci/job/windows7_VS-2015_default_amd64/546/
Error message:
[code]
Full output:
[code]

[2016-11-28 13:27] damienmarchal commented on #54
Thanks Guillaume for the feedback.

I'm very surprise this fails since
https://github.com/sofa-framework/sofa/commit/b70b477f9cdae6a1d31d4f462f23780d3bdbcde1

because I see no link between the two.... this is very strange to me.

[2016-11-28 13:39] guparan commented on #54
Actually the commit hint is not accurate because we don't have a CI build for each commit.
Sure thing: error appeared between 4bee6c8d and b70b477.
Between this two, there are 35 commits corresponding to `defrost` branch.

[2016-11-28 13:51] guparan commented on #54
According to origin/defrost on the Dashboard, error appeared between 4b1f2897 and a33b4b12.
There are some LightManager changes here, we are close ;)
I update my "summary" post.

EDIT: This range is where the test was created. **This test fails on Windows since its creation.**
Please @damienmarchal give this type of information (if you know it) when you create your issue so that no time is lost se

[2016-11-29 05:27] #54 closed, assigned to nobody

[2016-11-29 05:29] damienmarchal commented on #54
Hi Guillaume,

Thank for the fix. Sorry about the the tailing tests since the beginning... I was assuming that Jenkins would correctly report this information with its regression/failure status & tracking.

DM.

[2016-11-30 09:31] faichele commented on #24
As an additional thread management pattern, I would like to add a thread pool with persistent worker threads, which also uses "Task" instances to encapsulate single work items as in the Multithreading plugin.
The motivation for this alternative to the existing work-stealing approach in the Multithreading plugin is to use it for a simple parallelization scheme in the collision detection pipeline.
T

[2016-11-30 09:39] #34 closed, assigned to nobody

[2016-11-30 10:10] bcarrez opened #78 "FileMonitor: lack of implementation on MacOS/Windows"
There is no implementation of FileMonitor on OSX and Windows, making all the FileMonitor.* tests to fail on these platforms (7 test fails on OSX, 8 on Windows)

This has to be fixed.

[2016-11-30 10:36] olivier-goury opened #79 "Scene crashing in GUI mode only: can't make a test that fails"
Hello. I made a test with the following scene. It actually pass in the current testing framework despite crashing upon loading in the GUI mode.
[code]

[2016-11-30 15:18] matthieu-nesme commented on #61
I found a way. See PR #80.

[2016-11-30 15:18] #61 closed, assigned to nobody

[2016-12-01 14:42] raphaeldeimel opened #81 "Compliant plugin: unintuitive behavior of friction coefficients"
Hi all,

I wanted to discuss the default behavior of the friction coefficients in the contact models of the Compliant plugin  (FrictionCompliantContact.h and  CompliantContact.h). The current behavior seems kind of strange:

1) the global mu coefficient set in the DefaultContactManager component always overrules friction coefficients defined locally for each collision model.

2) when the global mu

[2016-12-02 15:08] olivier-goury opened #84 "Bug Mouse Picking not working on Linux"
In runSofa, on Linux, Mouse picking is working on Collision models but when picking directly on a MechanicalObject point, it becomes totally unstable.

[2016-12-02 16:48] matthieu-nesme commented on #53
fixed in #87

[2016-12-02 16:48] #53 closed, assigned to nobody

[2016-12-02 17:01] matthieu-nesme commented on #81
Hi,
thanks for your comments.

1) Indeed the local parameters should override the global parameter. If it is not the case there is a bug.

2) The friction coefficient cannot be negative, so set a positive value! Of course this could be checked.

3) Indeed the product of the two friction coefficients are used everywhere in SOFA (not only in Compliant as far as I know). In fact the friction coeffici

[2016-12-02 22:30] damienmarchal commented on #79
This bug is fixed.

Fundamentally the problem is that when there is not topology associated to the force field a warning message is printed...but the draw function is still working "as" if there were.

[2016-12-03 11:17] maxime-tournier commented on #81
Hi there,

Those are all very reasonable suggestions, and actually I think I had some of them on my TODO list at some point but somehow they got lost on the way... Not so many users of Compliant at that time ;-)

The geometric mean seems to fit nicely in between the minimum and the arithmetic mean, so it makes sense to add it.

I guess the way friction coefficients are mixed should be global, so w

[2016-12-05 10:31] guparan commented on #64
@damienmarchal could you set priority and difficulty tags for this task? Thanks :)

[2016-12-05 10:48] guparan commented on #43
Are you still writing tests for Topological operations @epernod ?
What is the status of this issue ?

[2016-12-05 11:32] matthieu-nesme commented on #84
Give a try to the mouse described in Compliant (note this mouse implementation is fully compatible with non-Compliant solvers).
For that, compile the Compliant plugin and then add these components to your scene:
`<RequiredPlugin name="Compliant"/>
<CompliantAttachButton />`
(Note that CompliantAttachButton has parameters you can set in your scene and access from the runSofa gui)

[2016-12-05 13:16] damienmarchal commented on #64
@guparan It is relatively easy because there is already good examples in some Sofa components. So it is more a factor of refactoring/reorganize/reuse existing code.

I consider that anything that has consequence on the User Experience is of high priority (in order to get more and more happy sofa users). Data fields are a big part of the sofa User Interface.

[2016-12-05 14:21] #79 closed, assigned to nobody

[2016-12-05 15:25] EulalieCoevoet opened #90 "Rename PlaneROI"
I think we should rename these components:
PlaneROI -> OrientedBoxROI
BoxROI -> AlignedBoxROI

Because if I understand correctly what PlaneROI does, it is not what we expect from the component name.

[2016-12-05 17:17] matthieu-nesme commented on #81
Have a look to #91.

1) In fact the global mu overrides the local ones (because it is easy to know if the global one is set or not, but it is not that easy to know if the local ones are set or not). But now the global one is no longer set by default so it should not bother.

2) you can still put local mu<0 and it will give you crap :)

3) I added FrictionCompliantContact::frictionCoefficientMixing

[2016-12-05 17:27] maxime-tournier commented on #81
Thanks a lot Matthieu 👍

Can you expand a little bit on "easy" vs. "hard" to get global/local mu parameters?

Looking quickly at the code, one could just add a GLOBAL flag and use the global mu (if any): that would make the code a bit simpler and the behaviour more explicit.

[2016-12-06 15:44] epernod commented on #43
It is in my todo list for the next 2 weeks, as Christmas gift ;)

[2016-12-06 20:33] damienmarchal commented on #90
I support any renaming of poorly named component but we will need to conduct the change in a very smooth manner.

[2016-12-06 21:15] damienmarchal commented on #43
For small scenes I found very convenient to write the scene directly in the test...
This allow to iterate on each variation of scene elements (PointLight, DirectionalLight, SpotLight) (or templates (Vec3d, Vec3f, Rigid)) with just a simple loop and string concat.

[code]
For complex scene I think that using a template langage could be an option ...but needs more work.

[2016-12-07 12:53] olivier-goury commented on #84
With the mouse described in Compliant, the bug disappears indeed. Maybe this should be the default implementation?

[2016-12-07 16:08] damienmarchal commented on #81
@maxime-tournier

Would it make sense to have extra flag values like FRICTIONLESS and CONSTANT in addition to  {MINIMUM,AVERAGE,GEOMETRIC,PRODUCT}

FRICTIONLESS would correspond to the mu<0 code path while CONSTANT flag would correspond to the mu >= 0 code path.

This would make all the behavior very explicit and that only one behavior is acceptable at a time.

[2016-12-07 16:09] guparan opened #94 "[SofaTest] Init MessageDispatcher to prevent side effects"
`MessageDispatcher::clearHandlers()` can have side effects on other tests in same suite.
See #83 for error case.

SofaTest API should ensure that each test starts with a clean MessageDispatcher containing always the same set of MessageHandlers.

[2016-12-07 16:43] maxime-tournier commented on #81
Hi @damienmarchal,

If I understand correctly, FRICTIONLESS is global mu <= 0 and CONSTANT is a global mu > 0 ?

If so, then the semantics are not quite right since you can still get frictionless contacts with mu1 = 0, mu2 >0 and either MINIMUM, GEOMETRIC or PRODUCT mixing.

And if not, then please clarify :-)

In any case I would favour clamping negative mu to zero together with some warning disp

[2016-12-07 17:30] matthieu-nesme commented on #81
FRICTIONLESS makes no sense to me, as soon as you chose FrictionCompliantContact.

global mu<0 does not mean you do not want friction, it means you want to use the local friction coefficients (the ones in collision models). This is the default behavior, as a global mu should only be useful to debug.

But forget about global mu<0, it is just an internal implementation, you do not need to know it.

[2016-12-07 20:40] damienmarchal commented on #81
Thanks for the explanation,

So, when GLOBAL is set the friction coefficient came from the mu parameter and when {MINIMUM, AVERAGE, GEOMETRIC, PRODUCT} is set the friction coefficient is computed from the objects with the corresponding function.

If so, I agree that a GLOBAL flags in addition to MINIMUM, AVERAGE, GEOMETRIC and PRODUCT would make sense.

I also agree with maxim's that "In any case

[2016-12-07 22:24] damienmarchal commented on #94
The pull-request #95 contains code that automatically install the dispatcher needed in tests.
So normally it is not needed any more to clearHandlers (unless you really want a specific behavior).

EDIT: The Pull request #95 was not clean so I did a new one, sorry for the noise.

[2016-12-08 11:31] matthieu-nesme commented on #81
Something really useful would be to create a Compliant specific contact manager that directly exposes the contact Data, rather than the DefaultContactManager and its really unefficient string of parameters.

[2016-12-08 12:12] damienmarchal commented on #81
@matthieu-nesme I support the idea of having a compliant contact manager to expose directly the parameters instead of using the string of parameters.

[2016-12-08 14:45] raphaeldeimel commented on #81
Wow, didn't expect that much interest :) My proposal for geometric average just came from intuition. There acutally may be users out there that have tables of friction values for material pairings, so we might want to consider that use case too. Here's a try:

We  introduce a new "material number" property attached to collision models which could then be used as indices for looking up coefficients

[2016-12-08 19:21] damienmarchal commented on #90
Well Hugo is right...a single box with an orientation parameter would probably make it.

[2016-12-09 13:41] EulalieCoevoet commented on #90
I agree. I will add the "orientation" feature in BoxROI.

[2016-12-09 17:20] matthieu-nesme commented on #84
Not possible, this mouse implementation is using some Compliant's components.
Feel free to fix the default mouse implementation.

[2016-12-09 17:25] matthieu-nesme commented on #81
@damienmarchal I think @RomainTestylier did some experiments to do so. I guess it would also be possible to make the DefaultContactManager to automatically creates the same Data as the ones in its contact type (during init/reinit) - and even with an automatic Link? -, so it would not have to extract a string and to look for all the Data at runtime.

[2016-12-09 17:32] matthieu-nesme commented on #81
@raphaeldeimel That would be the idea. Note you can do it w/o modifying the collision model class.
Each object has a Data named "tags" dedicated to quickly hack these kinds of functionalities. Note that it is not an integer, so the lookup in a table would be less efficient. Note also that collision models have a Data 'group', that is here to decide who should collide with who, and you could certai

[2016-12-12 13:18] thomas-lemaire opened #98 "status of VS2013"
Currently sofa does not compile with VS2013, and I see there is no VS2013 VM on the continuous integration.
- Is VS2013 support dropped ?
- I read in some email that there is a plan to have again a VS2013 VM, is it still the plan ?

thomas

[2016-12-13 09:51] thomas-lemaire commented on #98
ok thanks

well for now [master] does not compile on VS2013, looks like active people have switched to VS2015

----- Mail original -----

[2016-12-13 12:41] damienmarchal commented on #98
Is this a consequence of the switch to c++x11 ?

[2016-12-13 12:43] guparan commented on #98
Yep, I have some fixes to share. I will PR them asap :)

[2016-12-13 12:49] damienmarchal commented on #98
My heart is bleeding when I hear about downgrading the code-base to support compilers with incomplete c++x11 support ;)

[2016-12-14 01:48] bcarrez commented on #78
PR #102 implements OSX filemonitor

[2016-12-14 09:49] damienmarchal opened #103 "Update documentation with new features of 16.12"
We need to update the documentation to describe the new features.

[2016-12-14 09:54] damienmarchal opened #104 "Update CHANGELOG.md for release 16.12"

[2016-12-14 10:25] guparan commented on #103
Reminder: SOFA documentation is on https://github.com/sofa-framework/doc
All @sofa-framework/reviewers have write access to this repository.

[2016-12-14 12:09] damienmarchal commented on #44
I'm very interested in the issue...is there any progress here ?

[2016-12-14 14:50] #98 closed, assigned to nobody

[2016-12-14 21:52] raphaeldeimel commented on #81
@matthieu-nesme / @damienmarchal: There's a bug in commit 062db796c47cdc6b4c176c14905fc9ca2fd623e3

GEOMETRIC computes sqrt(c0 + c1)  -> should be sqrt(c0 * c1) !

[2016-12-14 23:07] damienmarchal commented on #81
@raphaeldeimel gg for spotting the problem.
@matthieu-nesme do you have time to fix it (otherwise I will do that during our coding friday) ?

[2016-12-15 11:37] #17 closed, assigned to guparan

[2016-12-15 15:13] #94 closed, assigned to nobody

[2016-12-16 13:35] matthieu-nesme opened #107 "helper containers does not have c++11 operators"
helper::vector, helper::set, helper::list, etc. lack of important c++11 functionalities
such as move constructor, initializer_list and maybe other stuffs.

helper::vector is adding several stuffs to std::vector, so it makes sense to add these functionalities.

But is derivating helper::set, helper::list from stl container the right design since they are simply adding the stream operators (for stri

[2016-12-16 13:40] matthieu-nesme commented on #107
helper/map.h is implemented that way, and it works.
We should do the same for set, list, pair, deque, stable_vector.

And we should add the new operators to helper::vector and helper::SVector.

[2016-12-20 19:16] damienmarchal commented on #36
Hi Hugo,

If I remember correctly there is still an inconsistency between the internal logic between DiagonalMass and UniformMass.

I started with these two because I wanted to review all the component we are using in our soft-robots plugins.

DM.

[2016-12-20 19:25] damienmarchal commented on #90
There is PR https://github.com/sofa-framework/sofa/pull/108 from @EulalieCoevoet  that implements all that.

[2016-12-23 13:09] matthieu-nesme commented on #41
What is the "daccord repository"?

I would be happy to talk about saving a sofa scene (and to help making it work).

first: indeed that's critical and it would do most of the job.

second: most of the time these are other ways to describe existing Data (e.g. the Data 'translation' is a Vec3 , but the parse function is able to read scalars 'tx', 'ty' and 'tz'). In that case the Data "translation" i

[2016-12-23 13:30] matthieu-nesme opened #111 "Auto tests"
Trying to list automatable tests we could/should implement.
Feel free to complete it!

- ProjectiveConstraint:
  - "projectResponse" could be tested by finite differences on "projectPosition"
- MultiMapping:
  - "getK" (assembled API) could be compared to "applyDJT" (non assembled API)
- ForceField:
  - masks: all the non-null lines of the stiffness matrix should have an entry in the mask vector (

[2016-12-23 14:57] matthieu-nesme commented on #107
started in https://github.com/anatoscope/sofa/tree/containers

[2016-12-23 16:13] matthieu-nesme opened #112 "ARM Dashboard"
Could we have a dashboard compiling sofa on a ARM architecture?!

[2016-12-26 20:49] epernod commented on #112
Is it compiling right now on ARM?

[2017-01-03 08:34] matthieu-nesme commented on #112
I've got no idea, but we need such a dashboard to make it happen!

[2017-01-03 09:29] bcarrez commented on #112
For information... Last year I managed to build & run SOFA on a RaspberryPi 2 (build on the Pi itself, not using a offline toolchain) it took more than 10 hours to compile and the Caduceus ran at 1 or 2 fps. But it worked.
It runs out of the box with standard raspbian packages.

[2017-01-03 10:47] damienmarchal commented on #41
Hi Mathieu,

Best wishes for this year.

Daccord is an old repository on gforge storing a lot of experimental feature (UI & modelling) that are pending for integration in sofa.

I fully agree with your suggestion for point first&second
for third:
  - what about adding a Data for template & src ? (I really would like to preserve as much as much as possible the original scene because)
  - "type" I d

[2017-01-03 10:49] damienmarchal commented on #44
Update ?

[2017-01-03 14:19] maxime-tournier commented on #44
Hi Damien,

I haven't had much time to devote to this as of late, but here is some quick feedback so far:

- lots of code need modification (like *lots*), deep down the core and you need lots of patience to recompile everything over and over again,
- it makes little sense to optimize data initialization if you don't optimize links as well since they use a similar initialization mechanism,
- the sp

[2017-01-03 15:08] matthieu-nesme opened #114 "sofa.ini"
This file is mandatory but is not created w/o SOFA_INSTALL_RESOURCES_FILES.

I think /sofa/CMakeLists.txt lines 206-211 should be outside the if(SOFA_INSTALL_RESOURCES_FILES)
as the sofa.ini file has nothing to do with an installation.

[2017-01-03 16:07] guparan commented on #114
`if(SOFA_INSTALL_RESOURCES_FILES)` was added by @fredroy in 374a42f0 and is related to CPack usage.

@fredroy, could you help on this?

[2017-01-04 09:07] bcarrez commented on #78
... and PR #109 for windows ! Job done.

[2017-01-04 09:10] fredroy commented on #114
I thought at that moment that sofa.ini was a resource but apparently no.
(it was related to CPack and Mac when creating a .app/dmg).
So yes, it should be processed outside this test then.

[2017-01-04 09:44] damienmarchal commented on #107
Wouldn't it make sense to alias the std container to sofa::helper ?

So that the general guideline could be to always use sofa::helper::* and not "if your are using a list then use std::list, if it is a vector then use a sofa::helper::vector, ...".

More generally
- it would make the source code more consistent
- it would ease newcommer's life to get into sofa.

[2017-01-04 09:50] damienmarchal commented on #36
@hugtalbot

I suggest post-poning this to 17.06. The reason is that unifying the mass data fields may(will?) introduce change in existing scene behavior.
I don't think we can cope and evaluate correctly the impact on our user's scenes within the 16.12 timeframe.

[2017-01-04 10:32] matthieu-nesme commented on #107
Also we could just define the stream operators << >> directly on std::vector (with the actual helper::vector implementations). So std::vector could be used in Data and helper::vector would be useful only for advanced users (like cuda-vector, stuff that is not necessary for regular Data).

[2017-01-04 17:07] #78 closed, assigned to bcarrez

[2017-01-05 10:52] damienmarchal commented on #104
I have added my commits & pull-request into the changelog :)

[2017-01-05 15:31] matthieu-nesme opened #117 "copyright.txt"
sofa/applications/copyright.txt needs to be fixed.
There are maybe others.

[2017-01-05 16:45] damienmarchal opened #118 "Cleaning VisualModelImpl"
Hi,

To fully support xml saving (see PR:https://github.com/sofa-framework/sofa/pull/116) we need to clean VisualModelImpl::parse().

I can do some stuff but is unclear to me how much VisualModelImpl requires cleaning and whether or not some part are deprecated (the loading stuff from file seems redundant with loader).

By the way...any suggestion/advice regarding the data attributes is more than

[2017-01-05 16:49] guparan commented on #117
Yes, this is part of a big license cleaning task that has to be done. There are indeed some inconsistencies in license headers and copyright files, particularly in plugins. There are even sometimes several license headers on the same file.
About this single copyright.txt file, I think we should remove it. Everything in applications/ is not GPL.
Actually I think we should remove all the copyright.t

[2017-01-09 14:34] #104 closed, assigned to nobody

[2017-01-09 16:26] damienmarchal commented on #64
Hi all

I started implementing something for this but I'm facing a weird compilation issue on VS2015 for which I have no idea on how to solve it https://github.com/sofa-framework/sofa/pull/119

If you have an idea, please share.

[2017-01-10 08:39] thomas-lemaire commented on #118
----- Mail original -----

Yes, definitely redundant, the MeshXyzLoader components should be used for this task
The same for BaseMeshTopology::load(filename)

thomas

[2017-01-10 08:50] damienmarchal commented on #118
IMO it is very hard to handle the changes of scene in a smooth manner for sofa user.
Any idea ?

[2017-01-10 08:57] damienmarchal commented on #44
Hi Maxime,

Thanks for the feedback.

[2017-01-10 10:30] damienmarchal commented on #64
This PR solve the issue https://github.com/sofa-framework/sofa/issues/124
So when merged... we can close that.

[2017-01-10 19:01] damienmarchal commented on #111
On my side I would like to have automatically generated tests on the Data<> to be sure the object behave nicely whatever the user gives as input.

I made some early prototype (read, non-satsifactory) using clang but I have more high priority task to do.

[2017-01-10 19:04] damienmarchal commented on #114
Who can fix the problem ?

[2017-01-10 19:34] JeremieA commented on #118
What I would suggest :
1. add big visible warnings generated in load() or parse() if `filename` is not empty, stating that this direct loading feature is deprecated as it is redundant with the `MeshXyzLoader` components and will be removed SOON. Bonus point if the warning message show the equivalent xml or python syntax to instantiate the corresponding component and link it.
2. add an entry in the

[2017-01-10 21:45] jlefley opened #127 "segfault when executing runSofa after building on CentOS 7"
I built sofa v16.08 on CentOS 7 using GCC 4.8.5 with the default cmake options. The build completes successfully. However, when I execute runSofa it terminates due to a segfault. This happens with both debug and release builds. Here's the stack trace after running in debugger:

[code]

I tried running some of the tutorial applications as well and it looks like the segfault occurs anytime the sofa

[2017-01-11 08:59] damienmarchal commented on #118
WIP in https://github.com/SofaDefrost/sofa/blob/341330312c267ce5695bbd23f7ad7a8ef2b11c37/SofaKernel/modules/SofaBaseVisual/VisualModelImpl.cpp

[2017-01-11 09:45] bcarrez commented on #127
Thanks for your detailled report.
This definitely looks like a bug of SOFA related to DAGNode; we don't have centOS on our CI yet, but we will put a Centos7 config on our continuous integration system and look into this problem.

[2017-01-11 09:46] damienmarchal opened #128 "Moving SOFA modules to plugins"
This issue is following a dev-meeting discussion about putting much more of the sofa components into plugins.

This issue is to continue the discussion and keep a trace.

[2017-01-11 10:10] damienmarchal commented on #128
During the meeting several point were identified as open question.

One proposed approach was to implement automatic loading of plugins when a component is
called in the scene.
An alternative approach was to make it more explicit in the form of
<RequiredPlugin ='sofaAll'/>. Which would required to create kind of "packages" of plugins (maybe all the plugin in a directory?)

Then is how to we handle

[2017-01-11 16:12] damienmarchal commented on #128
@hugtalbot feel free to change the name :)

[2017-01-11 22:37] damienmarchal opened #130 "Problem with fixed_array and static_assert in VisualStudio 2015"
Hi all,

for the PR # https://github.com/sofa-framework/sofa/pull/119
implementing a basic RGBAColor i'm inheriting  from Vec4f. This seems to fail on VS compiler.

The resulting error on VS2015 is the following (the static_asserts):
https://ci.inria.fr/sofa-ci/job/windows7_VS-2015_default_amd64/1002/console

This seems to suggest that the templated code is 'generated' while it shouldn't.

Any hel

[2017-01-12 11:27] epernod commented on #114
I have faced this issue as I'm using the install of sofaPhysicsAPI. I will give a look

[2017-01-13 15:51] bcarrez commented on #130
After spending some (too much?) time on this topic, it seems that the fact that static_assert not being evaluated in uninstantiated functions of template classes is not consistent between compilers.
Neither could I find a way to trick the compiler to postpone the evaluation of the condition of the static_assert (for example replace (N==10) by (sizeof(T)==0||N==10) , of template tricks to force the

[2017-01-13 18:42] vmagno opened #131 "Mouse events are not transmitted to the scene from the QtGLViewer"
Scene objects never receive mouseMove, mousePress and mouseRelease events (but they receive mouseWheel events). Those events are generated, but are used only for picking or for moving the camera around.

[2017-01-16 08:47] damienmarchal commented on #130
I haven't enough knowledge on that to be of anyhelp but maybe @JeremieA  has.

[2017-01-17 14:02] epernod opened #134 "Uniforming FEM interface methods"
Some FEM have similar members and methods but the behaviour slightly changes sometimes.

For example:
- In triangular and tetrahedronFEM, you have to choose the method using an enum: (large, small, etc...). In triangular, Large = 0 and in tetra, Large = 1.
Which is stored as string or enum depending on components.
- Same for setter and getter, you have: TriangularFEMForceField::setYoung vs Tetrahe

[2017-01-17 14:04] damienmarchal commented on #134
+1 about any proposal for unifying the similarities between component toward a more consistent sofa.

[2017-01-17 19:10] jnbrunet opened #135 "Image plugin add python plugin as a dependency even if we do not compile the plugin with python support"
This issue was first discovered by @rosaliepl  : https://www.sofa-framework.org/community/forum/topic/error-with-cimg-plugin-with-dependancy-to-skeleton-h-does-not-compile/#post-8397

The image plugin supports the python plugin, but does not require it. However, when linking the image plugin into an external project by using the install path of sofa, the image plugin lists the python plugin as a r

[2017-01-17 19:24] jnbrunet opened #136 "Image plugin installation does not preserve the file's hierarchy"
This issue was first discovered by @rosaliepl : https://www.sofa-framework.org/community/forum/topic/error-with-cimg-plugin-with-dependancy-to-skeleton-h-does-not-compile/#post-8397

When installing SOFA's image plugin (ex.: make install), the image plugin installation does not preserve the file's hierarchy which will failed the compilation of any external project that includes the SOFACImg.h file

[2017-01-19 08:46] #135 closed, assigned to nobody

[2017-01-19 08:53] #136 closed, assigned to nobody

[2017-01-19 09:38] #131 closed, assigned to nobody

[2017-01-19 15:43] damienmarchal opened #140 "Problem with FileMonitor_test"
There is a problem in how the tests are implemented in FileMonitor.
This make the test to fail randomly on macosX because of a too long run (or too short delay).
To fix that the delay should be replaced with the timeout parameter.

[2017-01-19 22:52] damienmarchal commented on #118
Currently we can do things like that (from OglShader.scn example):
[code]
Is the color='red' transmitted to the shader or is the shader overriding the material defined in OglModel ?

[2017-01-24 15:04] matthieu-nesme opened #142 "using instancing in DrawToolGL"
Would it be possible to boost debug rendering performance, especially when drawing tons of spheres?
I guess it would be more efficient to instantiate only one sphere once for all, and then to draw it many times?

[2017-01-25 10:15] matthieu-nesme opened #145 "DefaultMultiMatrixAccessor suspicious warning"
Clang compiler gives a suspicious warning (for a long time now):
`sofa/SofaKernel/modules/SofaBaseLinearSolver/DefaultMultiMatrixAccessor.cpp:485: warning: variable 'it' is incremented both in the loop header and in the loop body [-Wfor-loop-analysis]`

It is just an information to people that may use DefaultMultiMatrixAccessor massively.
(Hadrien and François J could also be interested)

[2017-01-25 10:20] matthieu-nesme opened #146 "framework_test: existing.txt"
What is the file SofaKernel/framework/framework_test/resources/existing.txt?
Does it really need to be pushed? Could it be removed and added to .gitignore?
It seems to be modified when running the test.

[2017-01-25 11:22] matthieu-nesme opened #149 "[CI] print call stack when a test crashes"
Would it be possible to print the call stack in the console when a gtest crashes?
An xml file is generated, but it is complicated to access it, its content could be printed directly in the console. The resulting raw output would be huge but at least we would have access to useful informations.

[2017-01-25 13:53] GuillaumeULB opened #151 "[MeshVTKLoader] Bug in the scale parameter that is accepting "0,100" instead of "0.100""
If the scale parameter in meshVTKloader is used with the bad encoding (0,001 written in place of 0.001), no error or warning is given, but the simulation doesn't work in batch mode.

[2017-01-25 20:22] damienmarchal commented on #151
Hi Guillaume,

After a quick look in the mesVTKLoader class you are totally right there is bug theres. This is related to the fact the that the VTKLoader is parsing the "scale" argumente using atoi/atof. These functions depends on the LC_LANG/LANG environment variables.

Using 0,001 is not valid but does not generate an error.
We should fix that.

As this is code that I'm cleaning on I can probabl

[2017-01-25 20:25] damienmarchal commented on #146
@matthieu-nesme  you are right the "existing.txt" file is created to validate the behavior of the FileMonitor API. It should be added to .gitignore as well as probably removed when the test terminates.
Edit: typos

[2017-01-26 09:25] thomas-lemaire opened #152 "VisualModel does not update"
I am using a Visual(Ogl)Model to display a decorative mesh (ie not a simulated object)
The geometry is loaded using a MeshLoader. If I change some transformation value in the MeshLoader, and update/reinit this component, I get:
- positions in mesh loader updated
- VisualModel linked positions updated
- the 3d display NOT updated
- even if I reinit the VisualModel the display is still not updated
-

[2017-01-26 12:47] flargilliere opened #155 "Tests on VS2013 crashing with exit code 53"
Hey guys,

apparently, 30 tests out of 32 crash with exit code 53. (And bring some bad red color to the beautiful dashboard)

This code is "The network path was not found". Is every binary/file where it's supposed to be ?

NB : Is this config worth the trouble ? Or should it be removed as VS2015 is freely available ? (I heard something about people **needing** it but...)

[2017-01-27 08:21] bcarrez commented on #112
@hugtalbot in that case could we close the issue ?

[2017-01-27 08:44] #112 closed, assigned to guparan, bcarrez

[2017-01-30 13:27] damienmarchal commented on #140
Should be closed with the merge of PR https://github.com/sofa-framework/sofa/pull/143

[2017-01-30 13:27] #140 closed, assigned to nobody

[2017-01-31 08:50] bcarrez commented on #155
Fixed :-)

[2017-01-31 08:50] #155 closed, assigned to nobody

[2017-01-31 08:57] bcarrez commented on #127
A CentoOS config has been added to our dashboard, and the problem is reproductible.
https://www.sofa-framework.org/dash
Now, time to fix it!

[2017-01-31 10:52] flargilliere commented on #155
Well done !

[2017-01-31 22:33] damienmarchal commented on #149
+1.

We probably simply need to install the autodump trick somewhere in Sofa_test.

[2017-02-01 08:29] bcarrez commented on #127
The problem is clearly related to the DAG graph. A workaround until the bug is corrected is to use the Tree instead:

`$ runSofa -s tree`

[2017-02-01 10:04] thomas-lemaire commented on #152
[meshLoader.txt](https://github.com/sofa-framework/sofa/files/744463/meshLoader.txt)

[2017-02-01 10:04] #152 closed, assigned to nobody

[2017-02-01 18:46] #103 closed, assigned to nobody

[2017-02-01 19:01] damienmarchal commented on #44
Hi all,

In some of my work I tend to add new Data to Base object and as rightly pointed by @matthieu-nesme  this may have a significant cost.

To have more insight I just made a quick test with the following result:
The time to create 200 000 (empty) component (without calling their init() function):
- with 6 Data field is 1.10sec
- with 10 Data field is 1.55sec
So, one data field added to a comp

[2017-02-01 19:14] damienmarchal opened #160 "Cleaning printLog mis-usage"
@thomas-lemaire pointed that in several place there is mis-usages of printLog.
We should clean that by clearly defining what is the correct behavior.

We can clean the printLog stuff independently but this is in fact connected to the msg_* API (https://www.sofa-framework.org/community/doc/programming-with-sofa/logger/) as well as this PR(https://github.com/sofa-framework/sofa/pull/106) which are a

[2017-02-02 08:01] matthieu-nesme commented on #44
Both ;)

[2017-02-02 09:31] thomas-lemaire commented on #160
I think the clean should not be done independently, if you remove the if (printLog) test many components are going to fill their "log buffer", hence increase memory usage

[2017-02-02 11:25] damienmarchal commented on #160
@thomas-lemaire currently I see that some components are doing
[code]
While the 'sout' is already checking the printLog which is redundant. This is what I'm refering as mis-usagse. To me the cleaning consist in defining what is the right pattern to employ and this may (or not) result in removing the if(printLog) from the component and replace them with the use of 'sout'.

About the link with PR106

[2017-02-02 11:27] damienmarchal commented on #44
@matthieu-nesme I like so much your concision I should learn from that when writing ;)

[2017-02-08 10:03] damienmarchal commented on #160
My best solution is currently to use the following macro
[code]

This allow to write onliner's  as in
[code]

I suggest to rename 'printLog' by 'verbosityLevel'.

[2017-02-08 10:28] damienmarchal commented on #160
Actually i think 'msgInfoVerbosity' may be a better name because it explain that the control is only on the amount of INFO messages and that it left untouched  the warning or error (that are import functional messages and shouldn't probably be removed).

[2017-02-08 11:58] epernod opened #162 "RegularGridTopology dependency in MechanicalObject"
Hi,

I'm working on the different TopologyGrid (cylinder/regular/... PR to come) and during my cleaning I found that some method of the RegularGrid are called directly in the mechanicalObject here:

[code]

I find the dependencies a "bit dirty". Any idea why this is here? can I move this code in the reinit of the RegularGrid instead.

Erik

[2017-02-08 13:52] thomas-lemaire commented on #160
I see the benefit of having generic msg_xyz_when(cond) message, maybe they should be more general and not tied to a "this" pointer, like msg_xyz_when(sender, cond)

In the component itself, I would rather see
component_msg_info() if (printLog) msg_info(this)
with "printLog" data name updated
I also think "warning" and above (error...) levels should not depend on a flag
And last, I would call that

[2017-02-08 15:01] damienmarchal commented on #160
My dream would be to have:
[code]
With an an automatic selection between the 'this' and 'string' version.

I in my mind msgInfoVerbosity was not a boolean but something with different levels (NONE, LOW, MEDIUM, HIGH) . Maybe useful as well as overkilling.

[2017-02-09 08:43] StephaneCotin commented on #128
Hi all

I really would like to see this happen! It's something I've been advocating for a long time. Feel free to add me to the workgroup.
From a user perspective (and organization standpoint) we could do something like what's done in python. Plugins could be grouped in packages (or to stay closer to the current architecture we could split "modules" into "plugins"). Then if someone wants just a pl

[2017-02-09 10:06] epernod commented on #128
I think a first step would be to clarify/clean the list of components that are 100% trustful / in dev / research proposal etc..
From my point of view even if I known Sofa, I find very hard to know what exist or not in Sofa. I'm still using the Modeler which is no longer supported to find components.
And we often see in the forum questions like what is difference between Tetrahedron and Tetrahedral

[2017-02-09 10:13] thomas-lemaire commented on #160
if msgInfoVerbosity is a level,and you have s.t. like

then the level is not homogeneous : first name of the macro (error, warning, info - isn't there a msg_debug() macro too ?), and then in the condition in msg_info_when()

well, this might be "my" concept of level (this is also the one in the qt libs I am familiar with)

about the automatic switch between "this" and "string" versions, this would

[2017-02-09 10:54] damienmarchal commented on #160
Hi thomas,

Maybe the use of 'printLog' in my example was ambiuous sorry...

To me the 'error', 'warning', 'info' specifiers is the message 'type' and the set of types is un-ordred so it cannot be controlled via a single level.
Eg of valid pattern:
[code]

Eg of in-valid pattern (should be rejected in the PR :)):
[code]

'msgInfoVerbosity' only control the amount of info messages emitted so is not

[2017-02-09 11:44] epernod opened #163 "RegularGridTopology crash if discretization is not > 1"
Hi,

it is logical that when using a RegularGrid, the discretization should be > 1 in each direction.  But the constructor take
`RegularGridTopology(int nx, int ny, int nz);`

And there is no check on those values. They could even be null or negative.
Then in some methods you have this code:
`i*2*r/(nx-1)`
which could lead to a division by 0 and crash Sofa.

As there is not catch and try, how coul

[2017-02-09 23:09] damienmarchal commented on #163
Hi erik,

You are totally right,

As far as i know there is no well defined error management pattern on sofa. Without using exceptions or changing function signature my current approch is, for each detected error, to emit an error messages with the msg_error() macro and set the componentState to invalid. Then in each function that needs a valid object...check it and exit if it is not.
 Not perfect

[2017-02-10 09:42] epernod commented on #163
hum yes ok, I will check, hopefully exiting methods will not create a crash in another component.

[2017-02-10 09:44] damienmarchal commented on #163
A more detail approach of the kind of pattern I'm using in the init/reinit function (actually any change to the data from the UIs should also be checked)
[code]
Then for each function crashing sofa when the object is not properly initialized...
[code]

I agree this is a lot of code to add but I haven't yet a better solution.  Now...if you implement this kind of pattern you can then do the followin

[2017-02-10 09:53] epernod commented on #163
thanks for the examples. I like the solution of sending warning if value are not possible and set to default one. This would avoid chain reaction in the graph.
I will do that for the grid.

Do you know it the ComponentState::Invalid is used in the simulation graph? checked by visitor?

[2017-02-10 09:59] damienmarchal commented on #163
@epernod for sure ComponentState is not used in the simulation graph (maybe it should...).

But even if it was the case we would still need at least an assert at  the entry of each functions in case the caller is not respecting the callee's precondition of being in a valid state.

[2017-02-10 11:26] damienmarchal commented on #160
@thomas-lemaire After some digging into internet I found a non-portable solution to support the 'non this' version.

[code]

I hate (and love) so much these macro trick (template wizard are welcome for a better solution)...
but with this macro we can now write:
[code]
which look perfect to me.

The problem is that this solution is not portable because it uses the ## GCC extension.
Any idea on how

[2017-02-13 16:21] damienmarchal commented on #130
Hi all,

I don't like to removing the safeguard by removing the 'static_assert'
I finally implemented a version in PR119 that conditionally compile the set(...,...) functions based on condition so that static_assert is not a problem anymore. The implementation is using the enable_if feature for C++X11.

[2017-02-15 09:41] damienmarchal opened #174 "[SofaPython] Updating the python documentation to include numpy examples."

[2017-02-15 10:34] damienmarchal opened #175 "[SofaPython] SofaPython to python3"

[2017-02-15 10:47] damienmarchal opened #176 "[SofaPython] Make cython available as an plugin."

[2017-02-15 10:48] damienmarchal opened #177 "[SofaPython] Improve the tutorials"
Suggested labels:

[2017-02-15 11:15] damienmarchal commented on #23
Hi all,

We created the SofaPython project to track and conduct all python related developement.
The project is there: https://github.com/sofa-framework/sofa/projects/2

You can use this issue as a general channel to annonce progress/request etc...
When you can create a new issue, please:
    - assign them with the "project: SofaPython" tag
    - please link them with the SofaPython project

PS: t

[2017-02-15 11:42] damienmarchal opened #178 "[CI] Compilation time on centos increased a lot recently"
It seems there is a problem on the CI with Centos.
The compilation time that was around 1h increase to more than 10h since https://ci.inria.fr/sofa-ci/job/centos_clang-3.4_options/180/

We need to fix that.
@matthieu-nesme  when you have feedback on that can you report them here ?

[2017-02-15 12:09] damienmarchal opened #179 "[all] Cleaning the way we handle message in Sofa."
Currently there is different ways to send messages in Sofa. Each way having its own 'side effects' leading to a different results exposed to the users.

This issues was already partially addressed in Issue https://github.com/sofa-framework/sofa/issues/160 or PR https://github.com/sofa-framework/sofa/pull/106 and others....

The general goal of this Issue is to finally have only one system all arou

[2017-02-16 08:58] damienmarchal opened #180 "[CI] Creating a dedicated repository for the CI scripts."

[2017-02-16 09:15] guparan commented on #180
I have a concern about what should contain this repository. We already have a private repository on GForge containing our Dashboard private back-end.
What do you think?

[2017-02-16 09:18] damienmarchal commented on #180
A private repository sounds nice.

[2017-02-16 09:30] guparan commented on #117
Fixed by #139

[2017-02-16 09:30] #117 closed, assigned to guparan

[2017-02-16 12:54] damienmarchal commented on #179
About a possible implementation for the following syntax:
[code]

I finally have one that seems to work on gcc and on visual studio.
You can try it one-line at: http://www.cpp.sh/3xvfk

I have a question to you @matthieu-nesme, @thomas-lemaire, @nurbal . I really like the implicit version but at the same time I fear using complex MACRO trick. What do you think ?

DM

EDIT: maybe trying it...and se

[2017-02-16 15:27] fredroy opened #181 "[SofaPython] Crash with PyQt4"
Context: Sofa compiled with Qt5 on Ubuntu 16.04, Python2.7

Sofa is crashing if a python script (used by PythonScriptController) imports a library using PyQt.
I solved the problem by forcing Sofa to use Qt4.  Ubuntu is using only Qt4 with Python 2.7.

I guess the other solution is to use PyQt5 but less and less linux distribution is shipping PyQt5 for Python 2.7. (the only solution in that case wo

[2017-02-17 13:30] bcarrez opened #183 "[MacOS] runSofa menu unresponsive"
On Mac, when runSofa is launched, the menu bar is unresponsive to clicks. A workaround is to change the focus to another appllication, then back to runSofa and THEN, the menu is working properly.

Keyboard shortcuts like Cmd+O work properly and are not affected by this bug.

[2017-02-20 10:25] thomas-lemaire commented on #179
I like the simplicity of your proposal, however the macro trick (does it work with clang ?) could be avoided if we decide some different names for the macro, like

msg_info () << "Implicit 'this'"; // keep that one, the most common

msg_info_component ( this ) << "Explicit"; // or s.t. else shorter
msg_info_name ( " Something else " ) << "Hep"; // I think that one is mostly used in python, should

[2017-02-20 10:33] thomas-lemaire commented on #179
at least I would push for simplicity here, like if msgInfoLevel==InfoMessageLevel::MUTED, then no info message goes to the component stack,
when using:
msg_info () << "I print if I am not muted" ;

the _when version can be kept for fine tuning (I personally find it overkill)

thomas

----- Mail original -----

[2017-02-21 20:34] #180 closed, assigned to guparan

[2017-02-22 09:15] damienmarchal opened #184 "[SofaPython] Make new components in python and add them in the factory."
I may be a great addendum to be able to make new components in Python.

Any one interested to work on ?

@fredroy ?

[2017-02-22 09:51] fredroy commented on #51
The CImgPlugin has been implemented. It can read bmp, png, jpeg, etc. using the CImg API.
( http://cimg.eu )
The idea would be to remove ImageQt indeed (original goal of this issue) but also ImagePNG and ImageBMP which are in the core of Sofa.
So the remaining question is : should the plugin be in the core of Sofa (SofaKernel) ? or we consider the fact to read images as optional and the plugin wil

[2017-02-22 10:31] matthieu-nesme commented on #51
A remark about cimg : if I remember well it is an extlib of the plugin 'image', it would be great to share it in-between plugins (by moving it back as a sofa extlib?)

[2017-02-22 10:32] fredroy commented on #51
Yeah the move has been done while I implemented the CImgPlugin (move to share/extlibs)

[2017-02-22 10:36] JeremieA commented on #51
To me loading textures and logos is not a core functionality of a physics library, so I would vote for not putting it in SofaKernel. What is important is that this removes the dependencies to `zlib` and `libpng` from sofahelper, correct ?

[2017-02-22 10:49] fredroy commented on #51
`zlib` I don't know (I would say it is only used in Sofa not SofaKernel for gzip files but I am not sure).
`libpng` yes it should be removed from SofaKernel.

[2017-02-22 10:54] JeremieA commented on #51
`zlib` is a dependency of `libpng`, which is why it was needed up to now. But indeed it is hopefully not used for anything else inside `sofahelper`

[2017-02-22 11:03] JeremieA commented on #162
FYI, the decision back in the sofa coding sprint of June 2014 (as fas as I remember), was to remove all `*GridTopology`, in favor of a new design based on `*GridLoader` or `*GridEngine` types of components. A workgroup worked on this topic during the sprint. The associated branch may or may not still exist, but unfortunatly it was not completed and merged back. The rational however is still valid,

[2017-02-22 11:07] JeremieA commented on #151
We lost more than a week of work recently, because for years in Sofa during initialization the LC_LANG/LANG variables were forced to the safe and sane "C" value, but it was removed during a "refactoring" (I can look up the id of the commit if that is useful). Since then, you have to expect bugs like this (particularly in closed-source haptic drivers...). I would prefer that we go back to this stra

[2017-02-22 11:17] fredroy commented on #51
Then I will change the CMakefiles in SofaKernel to remove useless dependencies.
Note that the CImgPlugin does not have a hard dependency on libpng (and zlib). If it does not find `libpng`/`zlib`, it will just not be able to read png files. So even if CImgPlugin is inside SofaKernel, `libpng `and `zlib ` wont be necessary.
(for now, CImgPlugin is searching for `libpng `for PNG, `libjpeg `for JPEG,

[2017-02-22 13:17] damienmarchal commented on #151
@JeremieA Same starting point, loosing time to understand what is wrong, but with a slightly different conclusion.

I fully agree that the locale have to be set globally to each application calling sofa  to correctly parse number.

But the real problem is caused by the fact that in Sofa there is places where we convert string to number while silently ignoring when something is wrong (or don't even

[2017-02-22 14:17] fredroy commented on #183
This problem is because you are launching runSofa from the command line.
The "normal" way to solve it would be to launch from a .app application (so-called bundle). In that case, the menubar is directly accessible.
I already searched for an other solution, but apparently that is because of MacOS itself:
https://github.com/robotology/yarp/issues/457
(I cannot find the bug report on Qt...)

http://w

[2017-02-22 14:39] damienmarchal commented on #179
I agree that we should embed the 'muted' test in the macro
msg_info() << "Emitted only when InfoMessageLevel is not Muted"...

The macro trick should work with clang (but didn't tested) so now we could vote for the version we prefer.
@matthieu-nesme, @hugtalbot, @thomas-lemaire, @bcarrez,  @epernod, @EulalieCoevoet, @fredroy

Which one would you prefer to use:
[code]
or
[code]
or
[code]
Please ans

[2017-02-24 13:28] matthieu-nesme commented on #179
1

[2017-02-24 15:07] hugtalbot opened #186 "Project Continuous Integration : general discussion"
This issue is the general discussion about the project Continuous Integration.
Please feel free to share any remark or ongoing work about it.

[2017-02-24 15:09] hugtalbot opened #187 "Project User Experience : general discussion"
This issue is the general discussion about the project User Experience.
Please feel free to share any remark or ongoing work about it.

[2017-02-27 08:08] bcarrez opened #189 "Copy legacy SofaPython plugin to SofaPython27 (for backward-compatibility)"

[2017-02-27 08:10] bcarrez commented on #23
Just before the February school  break we started a branch on our repo. The task #189 is complete (needs more testing to validate it) and is a prerequisite before real python 3 refactoring in SofaPython.
Stay tuned.

[2017-02-27 09:29] bcarrez commented on #186
I would like to schedule a hangout in the coming days to synchronize everyone's job on CI. I have the feeling that everyone is not up-to-date with the current CI status, and I came to the point I would not touch anything until I understand clearly what has been done recently.
This includes jenkins updates, use of tests ci scripts, etc.

[2017-03-01 10:22] #183 closed, assigned to fredroy, bcarrez

[2017-03-02 10:16] damienmarchal commented on #186
INFO MESSAGE:
We are now updating the VS-2015 machine that are in charge of the the PRs.
In case you detect any problem please report.

[2017-03-02 10:54] damienmarchal commented on #179
Hi,

Thanks for those who voted.

So I have implemented all that.

To have a taste of how would look like a switch to the msg_api I have converted 300+ std::cerr from sofa and 200+ of the broken if(f_printLog.getValue()) sout << "blabha" into their equivalent msg_*

I personally found that quite ok but please tell me if it goes in a direction you like.

EDIT: I forgot to see that everything is in

[2017-03-02 16:14] epernod commented on #163
Fixed in PR #164

[2017-03-03 10:12] damienmarchal commented on #178
Some jobs seems not be killed by the CI. I killed them manually to see if this solve the problem.

[2017-03-03 10:12] #178 closed, assigned to damienmarchal

[2017-03-03 14:57] matthieu-nesme commented on #181
Indeed, you need to use the same version of PyQt than the Qt version used to compile your sofa app.

[2017-03-03 14:57] #181 closed, assigned to nobody

[2017-03-03 15:00] matthieu-nesme commented on #114
@epernod did you look at it?

[2017-03-06 11:17] matthieu-nesme opened #193 "[SofaPython] reload imported modules"
When an imported module is modified, the sofa app needs to be closed and launched again so the sofa-python interpreter integrates the modifications.
How to force reloading imported modules so any modification can be integrated when reloading the scene?
(right now, the reload works for modified main scene file, but is always using the original module code)

[2017-03-06 11:35] damienmarchal commented on #193
Hi matt (again),

My first answer was in fact out of the topic (my answer was about livecoding that exhibit the same behavior but was not about the reload)  :)

EDIT: my first attempt will probably to try to recreated a new python interpreter from scratch, otherwise there is very good support for that in python

[2017-03-06 16:29] maxime-tournier commented on #151
Instead of setting environment variables, we could call [imbue](http://en.cppreference.com/w/cpp/io/basic_ios/imbue) on input streams prior to parsing?

[2017-03-07 13:21] damienmarchal commented on #193
Hi matt,

I wanted to test a very basic approach based on completely reinitializing the Python environment
you can have a look here: https://github.com/SofaDefrost/sofa/tree/reinit-plugin

But there is problem with numpy (an probably other modules) that does not support to be reloaded and crashing sofa. But if I comment the numpy parts it is working ok.

Now the challenge is either to fix the nump

[2017-03-07 14:14] matthieu-nesme commented on #193
I see, thanks to have a look at it.
Au secours encore un reinit! ;)

Could we find a way to clear/empty the python environment rather than deleting and creating a new one?

I guess the numpy problem comes from PythonEnvironment.cpp:70 ^^

[2017-03-07 14:27] damienmarchal commented on #193
I actually just finished a much better version that is not deleting the environment anymore... please have a look.

EDIT: and it is not crashing with numpy.
EDIT: Instead of using a per plugin reinit we could probably trigger the cleaning by calling the cleaning code when the scene is destructed.

[2017-03-07 15:11] matthieu-nesme commented on #193
I will need some explanations on that version as it is above my python skills.

yes for EDIT2!

[2017-03-07 15:59] guparan commented on #149
I just spent a significant amount of time to understand how we play with GTest and XML outputs in SOFA.
Printing a call stack should be done with #191 + #195.
But there is still a problem in our way to report unit tests.
Currently what we do is to run all our tests with `--gtests_output:xml`. This is OK but sometimes we have crashes (often due to segfaults) in our tests. When a test crashes, it ju

[2017-03-08 08:39] damienmarchal opened #196 "[SofaPython] Add docstring to the binding."
Docstring is the proper way to document python code.
Currently there is no docstring in our binding so we should add them (I suggest to do that for the SofaPython3 version).

[2017-03-08 08:42] damienmarchal commented on #186
The upgrade of the VS2015 machines is now done.
Compilation time for a full build is now 3h30 (instead of 9h30).

Please report any problem encountere to this list;

[2017-03-08 08:42] #189 closed, assigned to nobody

[2017-03-08 08:44] damienmarchal commented on #23
The branch is: https://github.com/SofaDefrost/sofa/tree/SofaPython3
And it also moved the SofaPython plugin to SofaPython27 dirctory (for backward-compatibility)

[2017-03-08 08:52] damienmarchal commented on #114
@epernod  up :)

[2017-03-08 09:07] epernod commented on #114
Sorry, in fact, I'm not facing the same problem.
I'm not sure to understand the problem (but I can still work on it)
For me, sofa.ini is generated in build/etc/

[2017-03-08 10:19] damienmarchal commented on #145
Is this issue solve and ready to be closed ?

[2017-03-08 16:05] damienmarchal commented on #193
@matthieu-nesme

The version is very simple...
In the constructor we:
- record the already loaded modules,
- install a hook on the import function.

At each subsequent import we record in a second list the imported modules.
Then when calling uninstall we remove from python module cache the one that are in this second list...(thus returning to the previous loading state)

This force python to reloa

[2017-03-08 21:00] damienmarchal opened #197 "[all] Unifying the way we report file related errors"
Currently  loader and components that are working with files does not report loading problem
in a consistent way.

This is bad for both the sofa users and the developers.

So I suggest to make a set of macro (or helper function) that returns the text for the most common scenarios.
Eg of use
[code]

If you have other thinking or solution please share !

[2017-03-09 09:32] #90 closed, assigned to nobody

[2017-03-09 10:25] damienmarchal opened #199 "[all] Cleaning the relation between sofa/defaultype and sofa/helper"
Hi all,

The relation between sofa/defaultype and sofa/helper is not really clean.

The SofaDefaultType ibrary rely on SofaHelper but there is plenty of file in sofa/helper that includes defaulttype/*.

What do you suggest to clean that ?

[2017-03-10 10:57] damienmarchal opened #201 "[SofaPython] Memory leaks"
The C++ script controller object is not destroyed (the destructor is not called).
The python part (the script content) neither (probably because the we need to decrement the python reference).

The two are causing memory leaks.

[2017-03-13 16:08] matthieu-nesme opened #203 "[dashboard] stop an entire 'line'"
In advanced mode, would it be possible to have a link per line to abort all the compilations (every configs/platforms)?

Suggested labels:

[2017-03-14 13:17] damienmarchal commented on #196
This have started since
https://github.com/SofaDefrost/sofa/commit/0404ba9d4b3314075e3af31043fe23113a9ee9aa

anyone is welcome to help.

[2017-03-14 13:19] damienmarchal commented on #175
Things are moving in the branch:
https://github.com/SofaDefrost/sofa/commits/SofaPython3

Anyone is welcome.

[2017-03-14 13:20] damienmarchal commented on #149
Seems done...so I close it.

[2017-03-14 13:21] damienmarchal commented on #151
I think the initial issue is 'done' so we can close it.

Further discussion should be done in a different issue titled: "Clarifying and Improving the way we handle LOCAL changes in Sofa"

[2017-03-14 13:21] #151 closed, assigned to damienmarchal

[2017-03-14 13:22] damienmarchal commented on #145
No one seems to care about this issue.

[2017-03-14 16:42] JeremieA commented on #145
I flagged your message to have a look later. It does seem like a bug, however it is in a part of the code that was never finished (creating mechanical matrices including contributions below mappings), so is not currently used. As far as I know, for the same functionality within the Compliant/Flexible plugins they used a completely rewritten matrix construction code. This issue might be one reason

[2017-03-15 08:39] #47 closed, assigned to nobody

[2017-03-16 16:41] #199 closed, assigned to nobody

[2017-03-20 12:47] fredroy commented on #127
After a thorough search, it appears that CentOS 7 (latest stable version) is using boost 1.53.0. And apparently, there is a bug or an incompatibility with this version (and 1.52.0 as well).
I don't know if this problem appears on all platforms (I would say yes).
Anyway, the solution is to compile by yourself boost >= 1.54.0.

[2017-03-20 21:37] jlefley commented on #127
Great, thanks for the info. I'll try with a newer version of boost when we try using sofa on our CentOS system again.

[2017-03-22 09:27] bcarrez opened #210 "[SofaPython] Python3.x compatibility"
Add a SOFAPYTHON_PYTHON3 cmake option to SofaPython plugin, to use Python 3 C-API

[2017-03-22 10:08] matthieu-nesme opened #211 "[SofaTest] sofa errors do not generate gtest errors"
Some unit tests are generating sofa errors w/o generating gtest errors (e.g. SofaBoundaryCondition_test).

To detect such problems, I had added a msg handler that was returning a gtest error at each sofa error.
It was not good enough because some tests can generate sofa errors on purpose.
But the new implementation defeat the main purpose.

[2017-03-22 12:40] damienmarchal commented on #211
Hi Mathieu,

I see what you mean.

The new implementation allows you to select precisely how gtest suceed or fail according to the messages emitted by a component by using either the MessageAsTestFailure or/and ExpectMessage RAII.

To update the old tests with *a minimal amount of effort* to restore the behavior you described.
I think in each test setup we can simply add something like
[code]
I ca

[2017-03-22 12:50] damienmarchal commented on #211
Actually on 83 files are using Sofa_test half of them are alreay using the new system so the effort will not be that big.

EDIT: a proposition to restore that is in PR #213

[2017-03-24 10:16] damienmarchal commented on #203
It is a good idea but I really have no time for that in the next weeks. Any volunteer ?

[2017-03-24 10:17] #149 closed, assigned to guparan, bcarrez

[2017-03-24 10:18] damienmarchal commented on #160
This discussion seems to be over.
The PR needs to be finalized.
I close the Issue.

[2017-03-24 10:18] #160 closed, assigned to damienmarchal

[2017-03-24 10:20] damienmarchal commented on #127
GG @fredroy  for the investigation.

[2017-03-24 10:20] #127 closed, assigned to nobody

[2017-03-24 10:22] damienmarchal commented on #107
There is a PR that resulted from this discussion and it was merged.
I close the Issue, do not hesitate to reopen in case it is too early.

[2017-03-24 10:22] #107 closed, assigned to damienmarchal

[2017-03-24 10:23] damienmarchal commented on #142
There is a merged PR associated with this issue. So I close It.

[2017-03-24 10:23] #142 closed, assigned to fredroy

[2017-03-24 17:20] damienmarchal commented on #20
Is this issue fixed ?

[2017-03-24 17:21] damienmarchal commented on #7
Is this issue solved ? Can we close it ?

[2017-03-24 17:22] damienmarchal commented on #2
Is this issue still true ? It is not closed and it is waiting since 9 month

[2017-03-27 07:56] bcarrez opened #221 "[CI] zombie test jobs"
We regularly have build slaves not responding on CentOS, Windows and MacOS.

After investigations, this is always caused by zombie test processes (Compliant_test) that disturb the daily cleaning job, and therefore the whole build machine.
The only way to fix it for a while is to kill all proccesses on the corresponding slave, wipe the work folder and restart the slave.

[2017-03-27 08:33] damienmarchal commented on #221
Let's make a killall *_test as a cleaning job executed all nights :)

[2017-03-27 10:18] maxime-tournier commented on #221
Is there any log I could use to investigate ?

[2017-03-27 15:59] maxime-tournier commented on #221
Found it, this is my fault (sorry):

- we have some mappings implemented in python in Compliant
- setting up the mapping uses scipy, which is not the expected version on some plateform (mostly osx for now), which triggers a python error
- the python code returns to c++ before having a chance to finish the test and keeps going on forever

I fixed the offending script, assuming it is the only one. I

[2017-03-27 19:52] damienmarchal commented on #221
Hi Maxime,

This is great news. This evening I still had to kill manually some Compliant_test running in endless loop. Now the MacBuilder is "knocked out" for the night because there is no more space left on the device and we need to log in manually to clean that.

If you are curious here are the builds:
35GB https://ci.inria.fr/sofa-ci/job/mac_clang-3.4_options/4959/console
41GB https://ci.inria.

[2017-03-28 07:36] matthieu-nesme commented on #221
more than 40Go of text!!!
In top of adding a stopping criterion based on execution time, we could also add a maximal size for the logging buffer.

[2017-03-28 07:59] bcarrez commented on #221
I’m currently cleaning the ci infra disks, before anyone else notices… ;)

--------------------------------
Bruno Carrez
SED Inria Lille-Nord Europe
bruno.carrez@inria.fr

[2017-03-28 08:04] maxime-tournier commented on #221
Well I found a fix, it involves `sys.excepthook` to register a toplevel handler for uncaught python errors.

In this case I simply abort the test. We should be fine now, but just in case we should also:

1. limit logging size
2. limit simulation time for tests

I'll look into the second part.

And again, my deepest apologies.

[2017-03-28 08:09] damienmarchal commented on #221
Hi maxime,

These things happens so don't worry.
Hopefully you found rapidely a quick fix and as far as understand this have not propagated to the whole sofa branches (which would have been more annoying).

[2017-03-28 08:12] damienmarchal commented on #221
Congratulation Bruno @bcarrez  for the new log messages ! !

[2017-03-28 09:04] maxime-tournier commented on #221
New build job https://ci.inria.fr/sofa-ci/job/mac_clang-3.4_options/4965/console failed early due to no space left on device :-/

[2017-03-28 09:35] bcarrez commented on #221
Killing all Compliant_test and SofaBoundaryCondition_test processes freed 60GB instantly on the disk…

--------------------------------
Bruno Carrez
SED Inria Lille-Nord Europe
bruno.carrez@inria.fr

[2017-03-28 09:47] damienmarchal commented on #52
No implemented..but let's close the issue for the moment.

[2017-03-28 09:47] #52 closed, assigned to nobody

[2017-03-28 09:58] matthieu-nesme commented on #221
The test timeout should be done directly in the CI bash scripts, by running the gtest executables using the command `timeout` that can even send a signal to be able to print a specific message on the dashboard.
https://www.gnu.org/software/coreutils/manual/html_node/timeout-invocation.html

Maybe it makes more sense that @guparan or @bcarrez have a look at it rather than @maxime-tournier?

[2017-03-28 10:09] guparan commented on #221
Jenkins has a timeout feature to abort too long builds. This feature is enabled on all our jobs.
The question is why are these builds not aborted by Jenkins?

[2017-03-28 10:16] guparan commented on #221
Timeout on tests was disabled in 2bc5db53 with commit message "I have the intuition that this timeout mess might be the reason why continuous builds on Windows are so long. Let's see..."
Should we re-enable this?

[2017-03-28 10:26] damienmarchal commented on #221
@guparan the timeout in Jenkins is a timeout of "no activity" and not absolute...an application that constantly print on its ouput is not halted. This is clearly not enough.

We probably need both logics:
   - a 'no activity' timeout that should be set to a short duration like 30min.
   - an 'absolute' timeout configured to a much larger value (eg: build duration + all the test + 40% )

EDIT: one

[2017-03-28 17:00] faichele commented on #24
I've prepared a local version of the MultiThreading plugin that uses STL classes instead of boost, minus currently:
- boost::thread_specific_ptr
- boost::pool

I can create a pull request for this if there is interest.

[2017-03-30 09:52] thomas-lemaire commented on #20
have not tried yet...

[2017-03-31 07:59] damienmarchal opened #223 "[all] Unifying how topological change are handled in mappings."
In PR https://github.com/sofa-framework/sofa/pull/217

[code]
Is coding to change to runtime condition instead of #IFDEF.

@JeremieA  pointed that this rise consistency issues in how the topology changes are handled into the mapping.

Maybe we should keep that in mind and in some future do something (eg making a test that should be done all mapping to validate a consistent and clear behavior).

[2017-03-31 10:20] hugtalbot opened #224 "Share in SOFA the StaticSolver"
A clean version implementing a correct incremental loading and a correct Newton loop.

[2017-03-31 12:25] bcarrez opened #225 "SOFA-NG: Components filtering"
Suggested labels:

[2017-03-31 12:31] bcarrez commented on #225
2080: 20% of the components make 80% of the result

Components list: https://docs.google.com/spreadsheets/d/1mPGnMrC-3Yo8dEdm5549dRhKcquK4mDmWoNRQt711gs/edit#gid=0

General idea: Repackage components ina way that a subset of the components will be mandatory. These selected components will be maintained with a high level of quality (tests, doc, comments, etc...)
Binary distribution will include onl

[2017-03-31 12:41] bcarrez commented on #225
Idée de base pour trier les composants:
- garder tous ceux qui sont dans les tutos
- éliminer ceux qui ne fonctionnent plus et ne sont pas maintenus depuis longtemps (ex: WachingMachineForceField)

[2017-03-31 12:52] bcarrez commented on #225
Todo en vrac:
- trier les composants à garder
- réorganiser les composants à mettre dans des plugins
- mise à jour des CMakeLists pour compiler en mode "NG" (par défaut) ou avec tout
- "paquets de plugins" pour ne pas devoir activer un par un tous les plugins

Sur les composants gardés:
- mettre n place des tests
- faire une passe de cleaning (noms, code, etc)

[2017-03-31 13:03] bcarrez commented on #225
Pb de maintenabilité si on sort certains plugins sur des dépôts séparés (gestion des branches, etc)

[2017-03-31 13:12] bcarrez opened #226 "[Sofa NG] component list"
établir la liste des composants "NG"

[2017-03-31 13:17] bcarrez opened #227 "[Sofa NG] update CMakeLists"
Add a "Sofa NG" option to build only the subset of "NG" components

[2017-03-31 13:20] bcarrez opened #228 "SOFA-NG: Quality standards"
create a quality checklist, a list of criterias where selected NG components will be upgraded

[2017-04-03 09:21] damienmarchal commented on #228
My checklist:
- tests coverage (none, low, good)
- have at least one working example (yes, no)
- is validated in the Igor's sense (if yes provide a link to the validation references)
- is thread safe according a given thread safe design provided by the Multi-thread WG.
- sofa code guidelines violation  (none, a few, a lot)

I suggest this checklist to be part of the component as a kind of meta-dat

[2017-04-03 09:30] damienmarchal commented on #227
To me there is several aspect in Sofa-NG:
   - one, I would called MiniSofa is about having a single plugin that contains "selected component" with the 20/80 rules presented by Stephane.
   - the other, I would called Sofa-HiQu (Sofa- High Quality), is the set of component possibly containing some with nearly similar function but all matching a minimal level of quality.
   - the last one, I would

[2017-04-03 09:30] damienmarchal commented on #226
Where is the list ?

[2017-04-03 09:32] fredroy commented on #226
https://goo.gl/XoYa9L

[2017-04-03 09:56] bcarrez commented on #226
The link is in the « general discussion » issue of the project on GH

--------------------------------
Bruno Carrez
SED Inria Lille-Nord Europe
bruno.carrez@inria.fr

[2017-04-03 15:57] hugtalbot opened #231 "Share a public version of hyperelasticity"
@hdeling suggested to make a basic version of hyperelasticity available in SOFA

[2017-04-03 16:02] hugtalbot opened #232 "Ensure coherency in ForceFields"
Considering the linear elasticity and corotational approach, the code (initially starting from FastTetrahedralCorotationalForceField) should be cleaned and made coherent:

- consistency of functions (involving both direct and iterative approaches)
- data structure (e.g. vector of Young's modulus, if size = 1, set as constant)
- and data naming

[2017-04-03 16:04] hugtalbot opened #233 "Define and create the test scenes for elasticity"
Some test scenes must be written (Python?) for comparison and validation.
These scenes could also later on, be used for regression tests.

[2017-04-04 11:59] damienmarchal commented on #187
Hi all

@EulalieCoevoet @epernod  @matthieu-nesme @thomas-lemaire @hugtalbot  @guparan @fredroy

I suggest we use this issue for general communication about what is happening on the UX group either on github and/or on gitlab.

Please tell anyone interested to join/

Our general target for the next sofa release (17.06) is to ship a runSofa2 application.
This means we only have less than 3 month.
I

[2017-04-04 12:52] guparan opened #234 "Update Git Bash on Windows VMs"
"If you have a version older than 2.7.4, it is highly advisable to upgrade."
See https://github.com/git-for-windows/git/wiki/FAQ

Plus: it adds **unzip** which is needed for Windows dependency pack.

[2017-04-04 12:56] guparan commented on #234
Update is done.
Good to know: Git Bash added itself at the end of PATH, **after** MinGW.

This brings me a question: why MinGW? We don't need all these duplicated tools (sh.exe, bash.exe, ...). @damienmarchal, did you install MinGW only for Ninja?

[2017-04-04 12:56] #234 closed, assigned to guparan

[2017-04-04 13:06] damienmarchal opened #235 "[UX] Handle dependencies between data field."
Data fields are part of the user interface.
The problem is that relationship between the data field is not encoded.
bool enableShadow
float shadowParam1
float shadowParam2

A good user interface should make the shadowParam1 et 2 only visible and editable iff enableShadow is set to true. Not having this relationship prevent us from doing that in Sofa user interfaces.

How can we handle that in sofa

[2017-04-04 13:32] damienmarchal commented on #234
@guparan it was there and "already in the path" I simply dropped ninja in it :)

[2017-04-05 12:49] damienmarchal commented on #187
There is now on gitlab a big list with "big" or "small" tasks to do as well as proposal.

[2017-04-06 09:42] damienmarchal commented on #225
To my understanding Stéphane or Fred :)

[2017-04-06 09:57] fjourdes commented on #24
issofa_multithreading is a few commits behind our public integrated branch.
Almost all the commits are directly related to the `Multithreading` plugin, see https://github.com/InSimo/sofa/commits/issofa_integration_2017/applications/plugins/MultiThreading

There is also one particular fix related to the concurrent call to `DDGNode::update` method
https://github.com/InSimo/sofa/commit/2e8d6f33b597ff

[2017-04-06 15:02] ChristianDuriez commented on #26
The project has been renamed to "Sparse Matrix" and "Sparse Vector" representation because we have similar issues with Mask, mapping, constraints, solvers etc... due to the lack of unified "sparse" representation of vectors and matrices in SOFA.

[2017-04-06 15:33] ChristianDuriez commented on #26
Several lines of thought:
+ Proposal around a new way of adding contribution in addKtoMatrix in SOFA  and avoid a virtual call at each call
+ Merge MatrixDeriv with a sparse matrix representation
+ SparseVectors in SOFA
+ Simplify the (quite complex) multi-matrix things as a lot of the initial intentions have never been really implemented and can be (maybe) solved in a more simple way using effici

[2017-04-06 17:30] maxime-tournier commented on #26
Hello @ChristianDuriez,

I've been discussing the sparse matrix issue with @matthieu-nesme for some time now. Here are some thoughts on the subject.

The biggest issue with sparse matrices is that there is no silver bullet representation that covers everyone's needs: some people like it compressed (row/column), others like to have small dense chunks instead of single floating points, and so on.

I

[2017-04-07 08:12] guparan commented on #234
As expected, MinGW in path before Git Bash raised a problem: unzip was not found.
It is located in `/usr/bin` relatively to Git Bash but not reachable because of MinGW.

[2017-04-07 09:01] marques-bruno opened #238 "[SofaQtQuick] [QtViewer] - OpenGL Core Profile context"
runSofa's QtViewer and the new SofaQtQuick interface create a "Core Profile" OpenGL context on Linux, with Intel GPUs, with the following error messages:

A core profile context isn't likely to support the ARB_multitexture extension because that extension is specific to the fixed-function pipeline. (For more information: [Check this thread on OpenGL's forum](https://www.opengl.org/discussion_board

[2017-04-07 09:09] marques-bruno opened #239 "CMake cannot generate a Makefile with SOFA's default settings - SofaPython vs SofaTest"
Sofa's default CMake settings activates SofaTest, which depends on PLUGIN_SOFAPYTHON, which is not activated by default. This result in an unsuccessful generation of the project.

Either SofaPython should be a default SOFA dependency, or Sofa tests using SofaPython should be separated and only activated when SofaPython plugin is too.

@bcarrez @matthieu-nesme might be interested
__________________

[2017-04-07 09:12] fjourdes commented on #26
@maxime-tournier  just to make things clear for me.
You use an intermediate data structure to store the matrix values ( wherever they are coming from, mapping forcefield... ) and the mask data structure store the sparsity pattern. Since Flexible and Compliant rely extensively on the `Mapping` API, (conceptually everything can be broken down in a combination of application + linearisation around a

[2017-04-07 10:08] maxime-tournier commented on #26
(hey salut :-)

You are correct, the only requirement for us regarding mapping/forcefields is to get the Jacobian/Hessian sparsity pattern + values.

What I have been experimenting with is to have the mappings push sparse data into a dumb vector of triples (row, column, value) instead of a full-blown sparse matrix structure. It's up to the caller to further structure the data as needed, and to man

[2017-04-09 13:18] francoisfaure commented on #26
+1
Back-inserting triplets combines flexibility and efficiency. It is used in Eigen.
However, I think we have to seriously consider the demand for small dense chunks rather than scalars, since a significant number of applications use only 3D points as DOFs, and sorting such chunks can be much faster than scalars.
This may be easily handled using a choice of triplets, (such as Triplet<Mat3x3>) prov

[2017-04-09 19:16] fjourdes commented on #26
To support the discussion, the link to sparse matrix filling tutorial provided in the Eigen library documentation : https://eigen.tuxfamily.org/dox-devel/group__TutorialSparse.html#TutorialSparseFilling

[2017-04-10 08:23] maxime-tournier commented on #26
@francoisfaure It is true that having dense matrix blocks is a must-have for some applications, but I wonder about the API:

- for efficiency reasons, we need the DOF types to be available if we want to implement this proposal
- it is quite difficult to recover actual DOF types *from outside* the mapping/forcefield, except when working with a component at the same graph level as the mapping/forcef

[2017-04-10 08:40] francoisfaure commented on #26
Why ? The dense matrix blocks could be of arbitrary compile-time types, the same way as SReal. E.g. Mat<3,3,SReal> . Which may remove most of your objections.
I don’t know if it is worth it. I am just raising the question, since we (Anatoscope) do not use this.
It is time for potential users to speak up.

FF

[2017-04-10 09:29] fjourdes commented on #26
For my own sake. Having an implementation of [std::variant](http://en.cppreference.com/w/cpp/utility/variant) for the type of chunks would allow to support different type of chunks ( if we need to support a variety of chunk types simultaneously like scalar, Mat3x3 ) with minimal overhead, while being able to use it in the API declaration of `ForceField` and `Mapping`.

So there would be a single m

[2017-04-10 10:47] maxime-tournier commented on #26
@francoisfaure

This just shifts the same issue to chunk types, then :-)

I probably misunderstood your proposal: you mentioned having the sparse matrix type passed as a template parameter for efficiency reasons. I was simply pointing out that this template type cannot be known outside of the component, and so cannot appear in the `back_insert_iterator` type which is part of the hypothetical API I

[2017-04-10 11:28] francoisfaure commented on #26
Hi,
yes, I was definitely thinking about something along these lines:

The std::variant (which I am not familiar with) seems to elegantly solve the only issue I had in mind, namely, the need for multiple vectors with their associated push functions.

[2017-04-10 11:56] fjourdes commented on #26
@maxime-tournier : indeed that makes a lot more sense to do as you suggested. I just wrote down something to emphasize on what you mentioned above, which is that the concrete chunk type that will be used in the end could not be inferred beforehand at the level of the API, since it is something that depends on the template type.

[2017-04-10 12:17] maxime-tournier commented on #26
For the ones interested in `std::variant`, here is the core of it: [variant.cpp](https://gist.github.com/maxime-tournier/399b29e200456fd5e3c5e1d406e4ada2#file-variant-cpp). This idiom can come up pretty handy in some situations.

[2017-04-11 10:06] epernod commented on #163
can you post or point out an example of use.

[2017-04-12 11:31] dequidt commented on #163
No you're perfectly right @hugtalbot 👍

[2017-04-12 20:00] epernod commented on #163
ok no problem to remove the restriction.
In fact, the problem was that many scenes combine RegularGridTopology with a FEM. And those FEM crash if the regularGrid doesn't produce hexahedron. I will see how to move the check in the FEM when possible.

[2017-04-13 07:29] epernod commented on #163
yes, that was what I mean by moving the test in the FEM.
No problem to have regularGrid in 1D, but this won't be possible for sphere and cylindricalGrid

[2017-04-19 08:08] damienmarchal commented on #238
HI lagarkane,

Thank you for the bug report. I will give it a look.

[2017-04-19 12:15] hugtalbot opened #242 "MechanicalObject : dependency to TopologyData"
Hey,

In the context of the workgroup SOFA NG, it has been noticed ( @fredroy ) that the MechanicalObject presents dependencies on TopologyData.inl, itself having dependencies to all topologies in SOFA (containers etc.).

For SOFA NG, it is intended to provide a first set of basic components, implementing the main virtual classes defined in SofaFramework and SofaSimulation. This first step helps u

[2017-04-19 14:20] fjourdes commented on #242
As far as I know, the dependency with `TopologyData.inl` comes from the fact that changes in topology within a MechanicalObject is handled differently compared to the rest of the components that support topology changes. See [MechanicalObject::handleStateChange](https://github.com/sofa-framework/sofa/blob/master/SofaKernel/modules/SofaBaseMechanics/MechanicalObject.inl#L391-L573)
This constrats wi

[2017-04-19 15:58] fredroy commented on #242
That's an interesting explanation @fjourdes and it seems you raise an issue to solve if we need an efficient way to manage points/vertices/whatever in the MechanicalObject.
However as you say, TopologyData is actually NOT used in MechanicalObject. Therefore it is totally safe to comment/remove `#include SofaBaseTopology/TopologyData.inl` . I assume that it was forgotten when people attempted to us

[2017-04-20 08:46] hugtalbot opened #245 "Release SOFA-NG repository"
As soon as the 1st SOFA NG version is ready, the github repository including the CMakeList configuration of NG should be released.

[2017-04-20 08:47] hugtalbot opened #246 "FixedConstraint dependency on topology"
A dependency is noted in FixedConstraint on the Topology (for topological changes). A version without topological dependencies would make sense.

This is in relationship with issue #242

[2017-04-20 08:48] damienmarchal commented on #228
agreed.

[2017-04-20 08:49] damienmarchal commented on #228
I will see if I can come up with an implementation of that probably exposed through the factory or something like that.

[2017-04-20 08:49] hugtalbot opened #247 "1st SOFA NG version"
A list of components is being defined, see issue #226
The idea is to present shortly a first prototype of SOFA NG to involve more and more people in the cleaning, testing of SOFA.

This 1st SOFA NG version focuses on :

- very few classes (~20)
- simple implementation of the base classes

This would allow to have a first set of simple components allowing for:
- new users to understand SOFA easier

[2017-04-20 09:05] hugtalbot opened #248 "Stiff-SpringForceField : two components should we merge them?"
There is two very close implementation : SpringForceField and StiffSprindForceField. Does two implementations really make sense ?

@matthieu-nesme @fredroy @thomas-lemaire

[2017-04-20 10:53] matthieu-nesme commented on #248
SpringForceField is an explicit formulation only.
StiffSpringForceField is an implicit formulation.
They both make sense and even if StiffSpringForceField should be used in 99% cases, SpringForceField can be useful in some specific situations.

In my opinion only the names are crap.
I would rename SpringForceField in ExplicitSpringForceField and StiffSpringForceField in SpringForceField, but it wo

[2017-04-20 10:59] matthieu-nesme commented on #247
I would add ImplicitEuler + CGSolver that are the initial reasons for being of SOFA.

Personally I would remove the assembled solver for the first sofa-ng. For me it should become an external plugin and this code should be removed from the main sofa (the same way Compliant does).

[2017-04-21 12:39] fredroy opened #251 "[Collisions] DiscreteIntersections, intersectors"
DiscreteIntersection class has direct dependencies to "not common" collision primitives such as RigidSphereModel, CapsuleModel, OBBModel, CylinderModel .... and registers itself the possible intersectors between those primitives.
It seems it has been added for an ad-hoc code at some point in the past, and should be isolated like mesh primitives (line, triangle) in the module SofaMeshCollision.

I

[2017-04-24 09:13] damienmarchal commented on #187
Hi all,

We have now started to make the runSofa2 application.
Please Join us in this effort.

If you have some time to spare go the the gitlab repository, pick a todo-task, and make a merge request.

More hands make work lighter.

[2017-04-24 12:22] JeremieA commented on #251
I agree that it make sense to keep in DiscreteIntersection only what it the most commonly used and validated (as was the original design before those new primitives where added). I'm not sure however that SofaMeshCollision is the right place to put codes not related to collision on meshes. Maybe SofaMiscCollision ?

[2017-04-24 13:23] damienmarchal commented on #187
The runSofa2 project developpement is taking place in https://gitlab.inria.fr/ocarre/sofaqtquick
Currently you need an inria account to access it..but this should change one day.

[2017-04-24 14:16] fredroy commented on #251
I did not explain well my point about SofaMeshCollision: I wanted to say that we should make a new module like the SofaMeshCollision one which contains Line/Triangle/etc.
Therefore we totally agree :)
As for the name, SofaMiscCollision seems OK to me.

[2017-04-26 19:31] damienmarchal commented on #232
On that I can contribute by installing the stylechecker on a CI machine.
This is on my todo list before summer.

[2017-04-26 19:33] damienmarchal commented on #193
Merge.

[2017-04-26 19:33] #193 closed, assigned to damienmarchal, bcarrez

[2017-04-26 19:34] damienmarchal commented on #179
It was a tedious work be we now have a nice API.
It has been merged since PR 190 so please use it :)
I close this issue.

[2017-04-26 19:35] #179 closed, assigned to damienmarchal

[2017-04-26 19:36] damienmarchal commented on #51
I think this have been merged recently.
I close it (if I was wrong just reopen it)

[2017-04-26 19:36] #51 closed, assigned to fredroy

[2017-04-28 18:36] #64 closed, assigned to nobody

[2017-04-30 03:10] jnbrunet commented on #183
Another way to fix this could be by disabling the native menu bar and use the Qt one. That would also have the benefit of having the same menu bar for every version. Here is one way to do it:

[code]

This works perfectly on my mac. The menu bar will be directly on the Sofa's interface like it would with another OS.

<img width="1095" alt="screen shot 2017-04-29 at 11 09 38 pm" src="https://cloud.

[2017-05-02 16:35] jnbrunet commented on #187
:+1:
Yes, please, don't keep us in the dark!  :-)

[2017-05-03 08:24] damienmarchal commented on #247
We have started bit of cleaning on the "pre-selected" component: https://github.com/sofa-framework/sofa/pull/258

[2017-05-03 08:31] marques-bruno commented on #239
This is related to issue #20 (discussion will follow on initial issue)

[2017-05-03 08:32] #239 closed, assigned to bcarrez

[2017-05-03 08:42] damienmarchal commented on #27
This discussion seems deprecated with the SofaNG activity. So I close it.

[2017-05-03 08:43] #36 closed, assigned to hugtalbot

[2017-05-03 08:43] #28 closed, assigned to nobody

[2017-05-03 08:44] #176 closed, assigned to damienmarchal

[2017-05-03 08:46] damienmarchal commented on #9
Please submit a PR with a test validating the right behavior.

[2017-05-03 08:46] #184 closed, assigned to nobody

[2017-05-03 08:47] damienmarchal commented on #146
Let's close it (even before the merge of the PR)

[2017-05-03 08:47] #146 closed, assigned to damienmarchal

[2017-05-03 08:50] #27 closed, assigned to nobody

[2017-05-03 08:51] damienmarchal commented on #50
Hi all,

Is there any conclusion to this discussion ? Can we close it ?

[2017-05-03 08:52] #37 closed, assigned to nobody

[2017-05-03 08:59] damienmarchal commented on #128
This discussion is now deprecated since the creation of the SofaNG project.

[2017-05-03 09:00] #128 closed, assigned to matthieu-nesme, fredroy, damienmarchal, JeremieA, hugtalbot, epernod

[2017-05-03 09:00] epernod commented on #42
Up!
Can we remove the sofa::helper::io::Mesh* ?
And also do we go to a solution using external mesh tool, like Assimp?

[2017-05-03 09:09] marques-bruno commented on #84
@olivier-goury would you (or someone else) be able to fix this issue for milestone %v17.06 ?

[2017-05-03 09:21] marques-bruno opened #259 "Standardize the order in which transformations are applied in Sofa components"
There is no unified way of applying transformations in current SOFA components (rotation > translation > scale / translation > scale > rotation ...) even though the order matters a lot in this case.

[2017-05-03 09:23] marques-bruno commented on #259
@damienmarchal if you're motivated too

[2017-05-03 09:41] JeremieA commented on #42
👍 for removing sofa::helper::io::Mesh*

There is however an issue that the support for loading texture coordinates was removed from MeshObjLoader, so the OglModel version on the master can only have textures when using these deprecated loaders. In our latest integration branch we reverted this removal of texcoords support and fixed it to have the same level of support using MeshObjLoader+OglModel

[2017-05-03 09:54] olivier-goury commented on #84
I already tried unsuccessfully to solve that problem... If anyone has a clue...

[2017-05-03 13:11] damienmarchal commented on #259
well... for Sofa 17.12 or 18.06  :)

[2017-05-04 19:55] FabienPean commented on #2
Well initially I just reported the error and did not necessarily plan to look for the fix, so yes the the error still holds. It was just to try out the option but it was not a blocking issue as, I think, people uses double option or both.
So in the end, I decided to take a look at that. I think I solved the issue. PR to come.

[2017-05-09 13:51] epernod commented on #42
Ok thanks for the information. I will check that.

[2017-05-09 14:42] bcarrez commented on #20
I don't have the problem; neither on OSX nor on a Ubuntu Xenial VM. This problem looks Windows-specific (despite not being detected by our CI). Keeping investigating...

[2017-05-10 07:35] damienmarchal commented on #187
Hi @jnbrunet  & @hugtalbot as far as I know the repository is now public.
You can now join to help as there is still a lot of work :)

[2017-05-10 07:58] damienmarchal commented on #221
Hello,

We still have problem in Compliant_test that is not killed by Jenkins:
https://ci.inria.fr/sofa-ci/job/ubuntu_gcc-5.4_options/44/console

Maybe it came from Python_test.cpp  and more specifically in Python_scene_test::run . There is an infinite loop that probably never exit when Python is stopped because of an error.

If someone have time to make that more robust any PR will be appreciated

[2017-05-10 08:09] bcarrez commented on #20
I cannot reproduce the problem on windows either (VS2015 on Windows7, cmake 3.6.1). Is the problem still there ?

[2017-05-10 16:46] hugtalbot opened #265 "Check of data initialization"
This issue comes up from a SOFA-meeting discussion.
The question is how to homogenize and improve the check of data initialization (e.g. out of bounds values etc) in SOFA while avoiding increasing the computation time at the init phase. Consequence a more robust SOFA and possibility of avoiding long init phases.

An option has been proposed and consists in creating a new specific virtual function

[2017-05-11 11:48] damienmarchal commented on #187
Hi all,

I will try to give weekly news on the runSofa2 project progress.

So let's start,
here are runSofa2 recent merges:
      - adding a new widget to handle DataFilename (which pop-up a file selector)
      - adding a new widget to handle Data<RGBAColor>
      - adding a new widget to handle Data<OptionsGroup>
      - add a button in the graph view to open the current scene in your prefered t

[2017-05-11 12:39] hugtalbot opened #266 "[runSofa2] "Open" function"
Hey,

After running runSofa2 it looks like "Open" a new scene, pops up a new window very very slowly and unresponsive!

______________________________________________________

Suggested labels:

[2017-05-11 15:03] damienmarchal commented on #187
@hugtalbot, greetings should go to Anatoscope.

[2017-05-11 15:08] damienmarchal commented on #266
Use gitlab for runSofa2.

[2017-05-11 15:08] #266 closed, assigned to damienmarchal

[2017-05-13 05:43] damienmarchal opened #272 "Handling deprecation in SOFA"
Hi all,

When crawling into sofa code I often found line like that:
[code]
This kind of comment is problematic as I have no idea what to do and it rise a lot of questions.

Each time we want to deprecate something we should make efforts on documenting that properly to manage the changes.
To me this means at least answering the following questions in the source code & in a github Issue:
- why the c

[2017-05-15 08:20] bcarrez commented on #272
I totally agree with Damien.
Depending on the case, the comment should at least include the following informations:
- date of deprecation
- replacement method pointers

Furthermore, the deprecated method could issue a message on the console, to warn against its use.
In extreme cases, after a reasonable time delay, the method should not work anymore, just issue an error message with the previous in

[2017-05-15 13:35] damienmarchal commented on #265
Actually the different specialization for sofa::helper::vector<> look highly suspicious to me and we can for sure do better.
(especially the "unsigned int" one that is used to defined the indices in topologies)

In this PR https://github.com/sofa-framework/sofa/pull/271
I wrote small tests trying to show all the possible "bad behavior" to fix.

EDIT: It is a bit out of the scope of the Hugo's init

[2017-05-15 13:42] damienmarchal commented on #221
I close this one...we will re-open it if we still found new problems.

[2017-05-15 13:51] damienmarchal commented on #211
Merge.

[2017-05-15 13:51] #211 closed, assigned to damienmarchal

[2017-05-17 08:33] damienmarchal commented on #201
I will give it a look for 17.06

[2017-05-17 10:00] damienmarchal opened #274 "Remove duplicated code for data initialization in component"
The duplicated code to initialize the data field in component looks really bad & error prone.
Since c++x11 we can probably do much better.

If you think this is something to fix (or at least stop doing in new components) and have a better pattern that our copy-paste approach please drop it here.

______________________________________________________

Suggested labels:

[2017-05-17 10:12] guparan commented on #177
Closed because too large.

[2017-05-17 10:12] #177 closed, assigned to bcarrez

[2017-05-17 11:22] damienmarchal commented on #274
I made a quick POC using constructor delegation (c++x11) in
https://github.com/SofaDefrost/sofa/tree/constructor_delegation

(I messed up with the branch so only have a look at how I factorize the constructors in
RegularGridTopology.cpp & GridTopology.cpp).

To me this looks quite an improvement over the existing approach but maybe I made mistake or there is scenario in which we will have trouble

[2017-05-17 11:39] epernod commented on #162
ok ok... :+1:

[2017-05-17 17:04] epernod commented on #162
I did some tests with and without the code in the reinit of the mechanicalObject, appently it only change the value of the Data P0 but the result is the same (see pic right is without the code and left with)
Thus I'm going to just remove the code.

![screenshot from 2017-05-17 19-01-03](https://cloud.githubusercontent.com/assets/21199245/26166261/3e1ebe42-3b33-11e7-83e2-e056ad7a3e56.png)

[2017-05-17 17:08] epernod commented on #162
the only case I see is if you are using the Data P0 of the regularGrid in another component....

[2017-05-17 17:19] epernod commented on #42
sh.., commit above was pointing to issue #162

[2017-05-17 19:42] epernod commented on #42
@JeremieA are the commit you pointed out already part of an on going PR?

[2017-05-18 13:22] JeremieA commented on #42
No there are not in any PR, and will not be for some time, as we are still working on getting the changes from previous years merged in. So if you are interested on working on this topic, feel free to cherry-pick them as part of your work (or as a separate PR).

[2017-05-19 09:03] matthieu-nesme commented on #265
One simple solution, it to add [Base::checkDataValidity()](url). Its call would be let to the application.
For example, runSofa would call it right before `init` and `reinit`, but a more specific application could chose not to call it not to add over-cost.

Note that high level checkers could be implemented (such as `check_it_is_a_valid_vector_of_indices`, ...)

The downside is how to perform the

[2017-05-22 09:47] marques-bruno opened #277 "empty() method in fixed_array returns false"
Hi,

I noticed that the empty() method in fixed_array always returns false, and is not overloaded by any of its subclasses, such as Matrices and Vectors.
I doubt that it's a feature, but it seems wierd to me that no one ever noticed.. so I flagged this issue as discussion for now :)

@sofa-framework/consortium
______________________________________________________

Suggested labels:

[2017-05-22 11:44] fjourdes commented on #277
I believe the explanation for this `empty()` method is to be able to have `fixed_array` fit into any generic code which expects its template parameter to have container concepts, and that can work both with resizeable ( like `std::vector` ) and fixed size containers ( like `fixed_array` ).

A (kind of not useful ) method like that could work both with `vectors` and `fixed_array` implementation :

[2017-05-22 15:39] maxime-tournier commented on #259
The natural order is translation/rotation/scaling.

That being said, specifying such transformations inside Components is a bad idea as this complicates and duplicates the code. They really should be performed using Engines or Mappings.

[2017-05-22 15:56] maxime-tournier commented on #274
Alternatively, you could simply stick all your data inside a dedicated structure as follows:

[code]
As an added bonus, you don't even have to use `d_` prefixing to remember which attribute is a Data ;-)

[2017-05-22 16:01] maxime-tournier commented on #274
The problem with delegating constructors is when you actually need to do something in the default constructor that you don't want (or want done differently) in the other constructors, whereas the above works in any case (but is slightly longer to type).

[2017-05-22 16:27] marques-bruno commented on #277
But then for the sake of clarity at least, wouldn't it still make sense to implement this function by checking whether or not the values are the same as the defaults?
One can argue that a zero-ed matrix doesn't mean an "empty" matrix, and some could consider the identity matrix to be an empty matrix maybe in some cases, but at least, with a little comment, it would make it clearer.
Otherwise a msg

[2017-05-22 16:42] fjourdes commented on #277
If you want to hide methods in a inherited class because they don't really make sense in its API, private inheritance is usually the way to go. Inherited methods can still be made public in the derived class by selecting them with the `using` directive.

See [https://stackoverflow.com/a/675451](https://stackoverflow.com/a/675451)

[2017-05-22 16:48] fjourdes commented on #277
However in the particular case your are mentionning ( ie compile time fixed size matrices ) nothing really strikes me as a "bad behavior" or undocumented behavior of some sort that needs to be amended in the current design.

Then again in the standard which has `std::array` for compile time fixed size array, the `empty()` method always return false unless your array is degenerated ( ie it cannot c

[2017-05-22 16:49] maxime-tournier commented on #277
@lagarkane except `empty` for vectors has pretty well-defined semantics as a shortcut for `size() == 0` like in the STL.

[2017-05-23 06:17] marques-bruno commented on #277
Ok, Thanks for the clarification :) I close the issue

[2017-05-23 06:17] #277 closed, assigned to marques-bruno

[2017-05-23 08:11] epernod commented on #259
So we agree that even if the object is not at the scene origin, making a rotation should only rotate the object around its center of gravity and not over the whole scene ?

something like this (x is the origin):
x---------M     180 rotation give   x-------------W
and not:
x---------M    give     W---------x

[2017-05-23 08:19] maxime-tournier commented on #259
This is how `Rigid` behaves, so I would agree.

But really, coordinate transformations should go in Engines/Mappings where they can be performed in any order depending on what the user needs.

[2017-05-30 14:52] MaximeMoge commented on #24
Here is a short feedback of what we have done since the STC :

**First strategy :** Model the Data accesses using ORWL's concepts + high level task parallelism (coarse grain parallelism)
- use abstract Data accesses stored in FIFOs to extract parallelism : thread safe data accesses allowing concurrent reads.
- ensures that the semantic of the program is preserved.
- tasks defined at Visitor level

[2017-05-30 14:57] #33 closed, assigned to guparan

[2017-05-31 08:43] fredroy commented on #9
See #51
Partially fixed in PR #185 .
Last things to do is:
 - to remove ImageBMP/ImagePNG/ImageQt code
 - load CImgPlugin when you want to load images (force loading like SofaPython ? or wait PR #253 )

[2017-05-31 11:02] damienmarchal commented on #9
Do this means that the meshes loader will not read the textures correctly if the plugin is not loaded ?
For coherency I thinkg the loader should be transformed into plugin as well with a dependency to the
CImagePlugin.

Just a small side note... on the CI it seems that to fully function CImage requires imagemagick or graphicsmagick to be installed and available in the path on the machine...is it a

[2017-05-31 12:07] marques-bruno opened #280 "No Mat::inverted() function in defaulttype::Mat"
After spending half a day struggling on a little piece of code, I finally found out that my call to invertMatrix didn't return the correct result:

In Sofa, calling
[code]
returns a grotesque bullshit, because "from" and "dest" are the same, and no copy is made, so values are changed and read at the same time.
I understand that in terms of performance, avoiding a useless copy is good, but there is

[2017-05-31 12:20] fjourdes commented on #280
Indeed. I am not a big fan of having a member function `invert`
Anyway, to fix the problem you can test that the address of reference passed as an argument is different from the address of the object instance. e.g.

[code]

NB: it is an usual pattern when for instance you must overload the assignment operator of a class (because it has to manage some heap allocated memory for example ), and theref

[2017-05-31 12:24] fjourdes commented on #280
So bottomline is, there are no warnings to fire, just handle properly the case where the parameter passed to the `invert` method is the object itself, which is not handled at the moment as you pointed out.

I believe the same problem exists with the `transpose` class member method.

[2017-05-31 13:08] fredroy opened #281 "Plugins: loading & components introspection"
[ Follow-up of #253 ]

To sum up the ideas:
 - create a manifest file @ plugin post-build
 - create a configuration system where applications can find the list of plugins to load automatically at startup
 - inform the user that if you want to use `<ComponentAFromPluginXXX>`, you need to add the line `<RequiredPlugin pluginName="PluginXXX" >`

(Everything started from:
 - hard loading of SofaPython

[2017-05-31 13:46] fredroy commented on #9
For the coherency, I totally agree that mesh loaders should be gathered in a plugin.
As for the dependency, I would just warn the user that if find_package() in CMake does not find CImgPlugin, then texturing will just be disabled. (i.e no REQUIRED flag) ; you could wish to load meshes just for pure mechanical scene.

As for the CimgPlugin and CImg, CMake detects if libpng/libjpeg/libtiff are prese

[2017-06-01 05:56] IPeterlik commented on #280
Yeah, handling the self-assignment is probably the best way out; keeping the performance and addressing the issue. Shall you go ahead, Bruno?

[2017-06-01 10:06] maxime-tournier commented on #280
FWIW, I think we all should be using Eigen for doing this anyways ;-)

[2017-06-01 14:24] #163 closed, assigned to epernod

[2017-06-01 14:38] epernod commented on #162
Fixed in PR #270

[2017-06-01 14:38] #162 closed, assigned to epernod

[2017-06-02 13:17] fredroy commented on #281
Proposal for the 2nd point (autoload a list of plugins from a config file)
1) CMake generates a plugin_list.conf.default file containing all selected Plugins ( names & version ).
E.g
SofaPython 0.1
CImgPlugin 0.1
image 0.2
BeamAdapter 0.1
CGALPlugin 0.1
(version info is optional)
I would say that the location of this file should be where all plugins are. ( i.e bin/ )

2) runSofa application:
inste

[2017-06-02 13:27] #84 closed, assigned to nobody

[2017-06-02 15:54] maxime-tournier commented on #201
the best ref on the topic I found so far: http://arctrix.com/nas/python/gc/
besides the official doc: https://docs.python.org/2/extending/newtypes.html#supporting-cyclic-garbage-collection

[2017-06-06 15:07] matthieu-nesme opened #292 "VisualDrawVisitor / Node::getShader"
The `Node::get{Component}` (e.g. `getShader`, `getMechanicalState`) can be silently quadratic (i.e. if they do not find the component at the local level, they search up in the parent nodes).

`Node::getShader` is called for each Node traversal in `VisualDrawVisitor` that is VERY costly (issue pointed by @maxime-tournier).

The right way to do would be to use a stack inside the `VisualDrawVisitor`

[2017-06-06 15:25] maxime-tournier commented on #292
Or use a map tag -> shader stack? this way we should get O(n * log(k) )

[2017-06-07 07:42] matthieu-nesme commented on #292
Each component (each shader) can have several tags, meaning several maps + a global map not taking into account tags.
In real scenes, k is pretty small (not a lot of shaders), I think not enough to absorb the constant cost of maps.

[2017-06-07 09:39] maxime-tournier commented on #292
I don't understand why a single map: tag => stack would not work: for each component, iterate over each of its tags, lookup the corresponding stack in the map and take the topmost shader in the corresponding stack. That's a total O(k * log(k)) for each component, which is O(1) if k is small/bounded.

I mean the whole point of using a stack was to avoid linear searches upwards in the first place, s

[2017-06-07 13:14] matthieu-nesme commented on #292
Sure, a map per tag would work, but keep in mind that what you will gain in not looking up in a unique stack, will be lost it in managing a stack per tag (+ the global stack with no tag).

In reality there are only a few shaders per scene, looking-up in the scene graph then can contain a lot of nodes can be costly, but looking up in a stack of only a few shaders is neglectable.

[2017-06-07 13:24] maxime-tournier commented on #292
Ok I get it now. In any case, you can go for the single shader stack then add a map<tag, index> afterwards if needed.

[2017-06-08 12:35] #114 closed, assigned to guparan, epernod

[2017-06-08 16:14] Innokentiy-Alaytsev opened #295 "Wrong prebuilt dependencies version for VS2015"
zlib library, provided on site as part of Windows dependencies archive is built with VS2013 instead of VS2015, which may result in Sofa applications crashes.

[2017-06-13 23:37] JeremieA commented on #259
Alternate proposal (in agreement with Maxime's comment): deprecate custom transform codes within components and always rely on TransformEngine. I think that was already the plan, but maybe it should be more explicit.
This is also linked with the deprecation of the sofa::helper::io::Mesh loaders, as TransformEngine cannot be used when a component is loading the mesh directly through these classes (

[2017-06-14 08:30] damienmarchal opened #302 "Material regression"
Material parameters are not parsed as they should because of the use of RGBAColor.
This must be fixed before 17.06.

______________________________________________________

Suggested labels:

[2017-06-15 09:53] bcarrez commented on #20
I encountered the problem yesterday. It seems linked to a mess between different shadow-build folders. We have had some problems of multiple shadow-builds "interferences" on linux systems, looks similar...
Needs some more investigations.

[2017-06-21 12:06] lujaindong opened #307 "error: Plugin not found:"SofaMiscForceFieldDev""
I built Sofa with the registration plugin successfully. When I had a test with ICPRegistration_ShapeMatching.scn in .\applications\plugins\Registration\examples. It reminded these errors:

[INFO] [SofaPython] Added ‘F:/SOFA16.12/sofaproject/sofasrc/applications/plugins/image/python’ to sys.path
[INFO] [SofaPython] Added ‘F:/SOFA16.12/sofaproject/sofasrc/applications/plugins/Registration/python’ to

[2017-06-25 19:33] hugtalbot opened #308 "SparseGrid : translation imposed"
A bug has been reported by a user (Cristóbal) in the forum : https://www.sofa-framework.org/community/forum/topic/vertices-from-obj-are-moved/

The SparseGrid seems to shift the mesh. This might be due to "max" Data is related to the BBox.
Whatever, strange behaviour.

[2017-06-26 11:30] damienmarchal commented on #307
Hi @lujaindong

Thanks for reporting this issue.

As far as I know SofaMiscForceFieldDev not part of Sofa and I bet it is a private plugin that implements the missing component "RotatioNFinder" and "ShapeMatchingForceField".

Having an example base on private plugin is problematic and we should either provide a different example with only public components or ask the author of RotationFinder & Sha

[2017-06-26 11:46] damienmarchal commented on #281
Hi Fred,

On my side I have implemented the "warning" behavior. It is in PR #306 and I would appreciate your feedback (and if you have time, some support to fix the linking problem on windows).

[2017-06-26 12:39] damienmarchal commented on #302
This issue is fixed by PR #305

[2017-06-26 12:39] #302 closed, assigned to nobody

[2017-07-03 12:51] guparan commented on #295
Hi @WilkGardariki, sorry for the late answer. The dependency packs have been updated.
Thank you for the report !

[2017-07-03 12:51] #295 closed, assigned to guparan

[2017-07-04 13:05] marques-bruno commented on #280
Thanks for your input =)
Will PR a fix in the upcoming days for both invert and transpose

[2017-07-05 08:19] bcarrez opened #316 "Multithreading cannot build with Boost 1.64"
With Boost 1.64, at least on Mac, Multithreading build fails with the following message:
[code]

This plugin should either be updated with the new boost API, or get rid of boost dependency.
I don't know this plugin enough...

______________________________________________________

Suggested labels:

[2017-07-05 08:37] fjourdes commented on #316
As I already mentionned somewhere ( probably in the PR related to multithreading ) in our public branch we have already removed the dependency to boost in the Multithreading plugin. I guess in that respect there are very few commits that need to be backported.
See :
https://github.com/InSimo/sofa/commits/issofa_integration_2017/applications/plugins/MultiThreading.

However note that we removed fro

[2017-07-05 08:53] epernod commented on #308
Note: To test the bug: Demo/CollisionMultiple.scn related to #270

[2017-07-05 08:54] bcarrez commented on #316
I totally agree with the idea to limit dependencies, as a general state of mind. (not only in this particular case)
+1 to backport the commits that cut boost dependency, though I have no idea how simply doable it is... :-)

[2017-07-05 09:02] #221 closed, assigned to maxime-tournier

[2017-07-05 09:04] #2 closed, assigned to FabienPean

[2017-07-05 09:07] damienmarchal commented on #281
One of the point remaining is to build an object that map the component to plugins.

The easy path is probably to make an application that loads all thall the plugins, load them and dump the infos in a file (json, xml, whatever).

Then having a queriable object to get that info through an API.

[2017-07-05 09:08] #7 closed, assigned to jnbrunet, fredroy

[2017-07-05 09:19] damienmarchal commented on #196
Docstring support is now tegrated in https://github.com/sofa-framework/sofa/pull/304
Please drop a comment there to support its merging :)

[2017-07-05 09:53] damienmarchal opened #318 "Changing the PR reviewing process."
Currently we have a very strict reviewing process to validate a PR for merging in master. This is very good because we now have a very stable master. But after one year I think our approach also tend to favor trivial "micro changes" against complex things.

Because they are hard to read, or review, or because they may eventually break something, big PRs are often rejected. This is a drama and I th

[2017-07-05 10:00] damienmarchal commented on #24
Any news on that topic ?

[2017-07-05 12:36] marques-bruno opened #321 "[UX] Default values for DataFileName"
It seems like there is no way with the current implementation to set a default value to a DataFileName field. In fact, it is not possible at all to modify a value passed through a DataFileName. Neither setValue() nor read() etc. work, as the operator=() is made private...
Did I miss anything? otherwise, especially if DataFileName should be the official way of providing a file path to a component,

[2017-07-05 13:17] damienmarchal commented on #321
@lagarkane I see no reason why it shouldn't be modifiable.  And yes it should be the official way of providing file names in component.
But in my master' branch there is a setValue that is public...did I miss something ?

[2017-07-05 13:40] guparan commented on #316
Waiting for a fix, Multithreading and THMPGSpatialHashing plugins have been disabled in MacOS jobs.

Error output for THMPGSpatialHashing:
[code]

[2017-07-05 13:46] marques-bruno commented on #321
@damienmarchal  yes, setValue is public, but if you look at the implementation of setValue():
[code]
it uses the operator=() that is private (and not implemented..):
[code]

[2017-07-05 14:01] damienmarchal commented on #318
I just submitted a new PR #322 on top of the SceneChecker to implement gentle mecanism to guide users through changes in Sofa.

My underlying target is to favor a bit more the PR that improves things but changes the behavior as long as our users are warned and guided to fix their scenes.

[2017-07-05 14:13] damienmarchal commented on #321
I'm totally lost... isn't the = operator supposed to work between string ?

[2017-07-05 14:21] marques-bruno commented on #321
Shoot, my bad...
My apologies... Stupid me, I declared my DataFileName as follows:
`Data<DataFileName>` without realizing that DataFileName was already a Data... -__-
Issue closed...
Sorry @damienmarchal for making you loose your time

[2017-07-05 14:21] #321 closed, assigned to marques-bruno

[2017-07-05 18:10] flm8620 opened #323 "Invalid literal suffix"
[Here](https://github.com/sofa-framework/sofa/blob/33690ee02117a875f4332996932a327736d6d7ea/applications/projects/runSofa/Main.cpp#L323)

The single quote mark is LEFT SINGLE QUOTATION MARK U+2018, which causes error in my compiler(VS2015).
It's better to use APOSTROPHE U+0027

Error:
[code]

[2017-07-06 07:47] damienmarchal commented on #323
Hello @flm8620

It is very interesting, I didn't even knew that stuff in a pair of " " could cause compilation problem.
I'm also surprised that our Continuous integration system is compiling sofa with VS2015 but didn't reported a problem. Maybe something related with the language you use on your system ?

Anyway, thank you very much for your report. If you have time maybe you can submit a pull-req

[2017-07-06 07:56] maxime-tournier commented on #323
The string should be properly prefixed as per the standard: http://en.cppreference.com/w/cpp/language/string_literal

[2017-07-07 01:20] flm8620 commented on #323
I know the reason. My OS is windows 8, language is French. But I have some softwares are set to Chinese.
The UFT-8 code of LEFT SINGLE QUOTATION MARK is 0xE2 0x80 0x98.
The weird character 鈥 has code 0xE2 0x80 in GBK.
I have idea why Visual Studio use GBK instead of UTF-8.

[2017-07-13 09:24] #307 closed, assigned to nobody

[2017-07-13 09:29] epernod commented on #308
Yes because the mechanicalObject is translating the topology:
`<MechanicalObject dx="0" dy="20" dz="29" rz="64" />`
z= 29 - 1.75 = 27.25

The problem is in fact that the position in the regularGrid are not transformed... which is weird as they should be updated by the data graph.

[2017-07-13 09:48] damienmarchal commented on #318
Now it is in PR #329

[2017-07-13 09:50] epernod commented on #308
I just checked, this is the same for other topologies. For example if you take the scene: Demos/TriangleSurfaceCutting.scn and add change the mechanicalObject like this:
`<MechanicalObject translation="10 0 0"/>`

in MeshGmshLoader: x[0] = [0; 10; 0]  // logical
in MechanicalObject: x[0] = [10; 10; 0] // logical
in TriangleSetTopologyContainer: x[0] = [0; 10; 0] // because position=@meshLoader.pos

[2017-07-13 09:55] epernod commented on #308
oh ok... this is totally different to the bug I have been told :)
I will check,
I already noticed another bug in sparseGridTopology I wanted to fix. The fileTopology is not following the same rules as other filename Data. I.e not always using share folder path and crash if file not found.

[2017-07-13 11:43] raffaellatrivisonne opened #333 "Error Messages in SOFA_Python are not clear"
Hi everybody,
a couple of days ago I had this error : **TypeError: bad argument type for built-in operation**, referring to this line of code:
_tool.createObject('LinearMotionStateController', indices='0 1 2 3 4 5 6 7 8', keyTimes='0.0 200.0', keyDisplacements='0 0 0    0.0 0.04 0')_

Eventually, I found out that the plugin with the _LinearMotionStateController_ component was missing.
I think that

[2017-07-13 12:20] ChristianDuriez commented on #318
Thanks Damien for this contribution.  I agree with your point of view on changing the PR review process

[2017-07-13 12:35] damienmarchal commented on #318
I add @thomas-lemaire on this discussion :)

[2017-07-13 12:49] thomas-lemaire commented on #318
If the consortium has such res sources to handle this work; why not, but I would not put it as a priority.
Yes a PR can be breaking, if not we never go forward, and then it is written [BREAKING] in the ChangeLog.

[2017-07-14 07:15] #323 closed, assigned to nobody

[2017-07-14 13:44] untereiner opened #336 "tracing execution time during simulation in python"
To trace execution time I wanted to bind in python the advanced timer class to be able to retrieve it and interogate it during a simulation. (without using -c option of runSofa)
I wanted also to change the format of the output.
For now my binding does not work.
Can static methods be binded ?

I think your are the python master @damienmarchal.
Do you have any idea on how I can do ?

_______________

[2017-07-17 21:28] damienmarchal commented on #336
Hi @untereiner

I'm far from a python master, but thanks for the greeting ;)
I don't know if static method can be binded directly.
But I'm sure that if it is not possible you can create a static function that forward to the static method.
So it should work...if you make a branch somewhere (or a PR with the WIP tag someone can probably help you to locate the problem).

[2017-07-17 21:36] damienmarchal commented on #333
Hi raffaella,

We really appreciate feedback & suggestion, so thank you.

On the Python side we are currently actively working on improving the whole way to report error. This take place in PR #304
So it is the right moment to have that to be improved because release the next sofa release (17.12) will change things.

More generally Sofa messages are from ok to really bad but we lack (wo)man-power

[2017-07-17 21:44] damienmarchal commented on #318
My point is that the discussion  is not whether or not a PR can be breaking or not...because on that everyone agrees...the conclusion is that of course a PR can be breaking.

The real discussion is more on:
- how do we manage breaking change to avoid messing others code base and activity because of a sudden change. On that, please have a look at PR #329
- what kind of integration & merge flow we c

[2017-07-19 16:00] untereiner commented on #336
We have a branch with our work on https://github.com/mimesis-inria/sofa/tree/wip_pythonAdvancedTimer
We try to create a class which wrap the advanced timer and that can be binded using Python... without success so far.

[2017-07-19 18:35] maxime-tournier commented on #336
If your question is: "can c++ static methods be bound in python", then yes. If your question is "can I bind something as a python class/static method", I *think* the answer is yes but in any case you can wrap it as a free function in a module.

If applicable, I suggest your binding class follows the context protocol (https://www.python.org/dev/peps/pep-0343/) so that you can time code fragments us

[2017-07-19 22:12] damienmarchal commented on #336
+1 for the with statement.

[2017-07-19 22:22] hugtalbot opened #338 "Default Rayleigh parameters in ODE solvers non-null"
Hi,

I am wondering if there is a reason why Data related to Rayleigh damping and mass in ODE solvers (e.g. see [EulerImplicitSolver](https://github.com/sofa-framework/sofa/blob/master/SofaKernel/modules/SofaImplicitOdeSolver/EulerImplicitSolver.cpp)) are not zero by default. Couldn't it be very confusing for new users ?

Thanks for your feedback
___________________________________________________

[2017-07-20 08:38] fjourdes commented on #338
It should be zero by default in my opinion.
There is also a little confusion because there are currently two ways to specify the rayleigh damping parameters.
If you use `EulerImplicitSolver` rayleigh damping is specified at the solver level.
However both the `ForceField` and `Mass` API in SofaCore also implements rayleigh damping... provided you use `kfactorIncludingRayleighDamping` instead of `kf

[2017-07-20 13:08] untereiner commented on #336
Thank you for your comments!
I will try to follow this pep.
For now I created a class and bind the static functions of AdvancedTimer as free functions in this but I have an undefined reference at linking to the class I created `AdvancedTimer_PyTypeObject'

[2017-07-20 13:27] fjourdes commented on #338
For the last point about the units, it is just that if you are developping a scene where you indeed add rayleigh stiffness, I was wondering if that would be beneficial to have a unit less value in case you want to compare different executions with slightly different time step size, without having to alter significantly the rayleigh stiffness value. Which you would have to do if you want to keep ro

[2017-07-20 13:34] fjourdes commented on #338
As a final note, even though I do not use it ( I still use global rayleigh damping when I need some) I believe that having rayleigh damping set at the component level is a better option.

[2017-07-20 13:51] hugtalbot opened #342 "Test cmake to handle external repository"

[2017-07-21 17:05] jnbrunet opened #344 "MechanicalObject output an error on the position state vector's size when debug is enabled"
When sofa is compiled in debug mode, if the positions are initialized manually in the _position data attribute_ of the MechanicalObject, the later will always output an error stating that the position state vector contains a bad size.

This message is called because the `MechanicalObject::init()` method calls `MechanicalObject::write(VecCoordId::position())` before setting the `vsize` member (with

[2017-07-24 12:32] hugtalbot opened #346 "Think how to move files for new archi and deprecate the rest"

[2017-07-27 09:53] ggrosshenny opened #348 "AdvancedTimer output in JSON"
The AdvancedTimer output is difficult to read when the option -c is activated with runSofa. Moreover it is not possible to use it to make performance graphics from a given simulation.

The idea to solve this problem is to return an output in JSON. The benefits of the JSON output are the following :
* The output can be get with any language used to define a scene in SOFA
* The output can be used in

[2017-07-28 13:22] bcarrez opened #352 "CGAL plugin won't build with image plugin activated"
There are some unresolved externals in MeshGenerationFromImage.inl in the CGAL plugin.
[code]

This file is only included if the image plugin is activated, thus making this error appear only in specific cases.

Moreover, since CGAL seems not tested on CI, this error might be quite old, as it has passed under the radar so far.

It has been observed on OS X, and Linux.

_____________________________

[2017-08-01 12:45] thomas-lemaire opened #355 "[OBJExporter] obj file not written"
When the parent folder of the output file of an OBJExporter does not exist :
- a message is output like this one: [INFO]    [OBJExporter(ObjExporter)] Exporting OBJ as: /path/to/my/mesh.obj
- no obj file is written

I think the user either expect :

1. either to have an error/warning message instead of a success message
2. or to have the parent folder(s) created properly (and silently or not) and

[2017-08-02 09:09] guparan commented on #336
Should we close this issue @untereiner ?

[2017-08-03 08:04] chrijopa opened #356 "Command line arguments for python scene"
I am currently running a convergence analysis using python scenes. Since the convergence analysis loads several settings from a .json file, it would be good to have a possibility to forward the filename of the file to the python scene via the command line. To my knowledge, this is not possible at the moment, please correct me if I am wrong and explain me your solution.

My first work around was to

[2017-08-03 08:38] chrijopa opened #357 "Advanced timer usage at initialization"
While there are some pretty nice ideas going on considering the improvement the output of the advanced timer #348, to my knowledge (please correct me if I am wrong!), the component has some shortcomings:
1. The timing output does not show up when using the batch gui, i.e. when specifying -g batch over the command line. Together with @ggrosshenny, we already took care of this in the work related to

[2017-08-08 15:31] thomas-lemaire opened #362 "A node can contain two objects with the same name"
When this is the case, it is impossible to access data of both components.

- In the first place a warning could be issued when attempting to add two components with the same name
- In the end the should be an error, but this is a breaking change

I labeled it as a bug, it is rather a *design* issue

______________________________________________________

Suggested labels:

[2017-08-09 10:17] marques-bruno opened #363 ""Dynamic" Data in sofa (mainly OptionsGroup)"
Hi!

OptionsGroup in Sofa are currently created in 2 steps:

- in ctor: every option are created, from strings, usually by calling "setNames()". A default value is set, usually to 0 by calling setSelectedItem(0)
- during parsing of the scene file: user value is taken into account

This is working great, except in one case:
What if my OptionsGroup is supposed to contain a list of values retrieved f

[2017-08-15 18:09] damienmarchal commented on #363
Hi @lagarkane

Maybe I have not clearly understood what you want to achieve but what about something like the following:
[code]

[2017-08-15 18:11] damienmarchal commented on #362
I totally agree with the approach you are proposing...and the bug label is well deserved :)

[2017-08-15 22:45] jnbrunet commented on #183
I've submitted a small PR for the bug.

@bcarrez Is there any reason why this issue was closed? The bug is still very present on my mac. Did this issue moved somewhere else?

[2017-08-16 08:39] marques-bruno commented on #363
Hi @damienmarchal ,
Thanks for your reply!
Indeed, that is what I would like to do... I didn't know I could call parse() per component, instead of per data.. The solution is much simpler than I thought.. sorry!
I close the topic

[2017-08-16 08:39] #363 closed, assigned to marques-bruno

[2017-08-21 08:26] maxime-tournier commented on #356
I most definitely agree with you, this is very annoying. In fact, I have a custom build of the main SOFA executable just for this.

As of now, there is no mechanism I know of that will forward `sys.argv` correctly. The simplest and by far the most natural solution would be to forward anything happening after `--` to `sys.argv`.

Unless there is a compelling reason not to do so (@damienmarchal ?),

[2017-08-21 08:52] maxime-tournier commented on #356
Ok so after a quick look at the [code](https://github.com/sofa-framework/sofa/blob/master/SofaKernel/framework/sofa/helper/ArgumentParser.cpp#L128), there is already a path that handles `--` in a non-standard way.

Any argument following `--` is added to the files list, and all but the first files are ignored in the main `runSofa` executable. I don't really know if there are other binaries relying

[2017-08-21 09:18] damienmarchal commented on #356
Hi all,

To me there is several questions here...
1- one is how to pass command line argument to python.
2- one is how to get the file name associated with a loaded scene.
3- one is how to execute multiple sofa in // with small difference in the scene.

1-
To pass command line argument to python and answering Maxime suggestion I prefer something like --extra or --scene-argv so that we don't have t

[2017-08-21 09:26] maxime-tournier commented on #356
Hi, thanks four your feedback :-)

I'm tackling 1. and it's almost done, however I lack a clean way of exposing the extra args to the sofa python plugin. any idea ?
2. can't you just use `__file__` for that anyway ?

[2017-08-21 09:44] damienmarchal commented on #356
Hi Maxime,

For 1.
What about just setting the arguments into sys.argv using PySys_SetArgv(argc, argv) ?

For 2.
Isn't __ file __ returning the current file... So in a python script controller __ file __ it would not contain the scene filename but the controller's one. But you are totally right that this could solve the initial @chrijopa question in a very simple way.

[2017-08-21 10:15] maxime-tournier commented on #356
Mostly done, see #368

[2017-08-21 10:39] damienmarchal commented on #346
Hi Hugo, This is a very challenging target.

I would probably try something something like:

1-  For release 17.12
- move all the "not core" files in plugins.
- for each "SofaXX/blahblah.h" in the old location have this kind of file with:
[code]
- for each component you really want to deprecate add a hook in the SceneChecker saying "component xxYYZZ is now deprecated and will be removed in sofa 18

[2017-08-21 21:34] damienmarchal commented on #362
Hi Thomas,

I made a small PR #371 trying to implement that. As you said a message is send if duplicated names exists.The name checking is done either on the node or on the object lists. The PR also contains basic tests to validate thee behavior.

But, as usual, things are a bit more complex in the details...so I have several question.
- do we really want to have a test of linear complexity for ea

[2017-08-21 23:48] damienmarchal commented on #13
@hugtalbot  What issue are you refering to ?

[2017-08-22 07:17] thomas-lemaire commented on #362
Hi damien,

I agree, as always the details are not straightforward... I think also we should avoid the O(N) complexity (indeed objects and children are stored in list) at object/child insertion. I do not know about the WITH_SOFA_DEVTOOLS option, I would activate such check in debug mode.

An other approach would be : it is fine to have objects/nodes having the same name as long as you do not retri

[2017-08-22 08:20] maxime-tournier commented on #362
The O(n) should be avoided even though
1. there might already be a O(n) lookup hiding somewhere during insertion
2. we should be fine in practice
3. this should really be O(log n) anyways

I like the late check during `getChild/getObject`, and even more so the Visitor approach where all the checks are made in a separate pass (aside: in this spirit we could provide a `check` method just like `init`

[2017-08-22 09:30] damienmarchal commented on #362
Thanks for the feedback,

I totally agree that O(log n) as well as memory/indirection optimization would be nicer but this topic should have its own issue.

About the checking...I also like the idea of the Visitor and this is very consistent as we already have existing SceneCheckerVisitor.

[2017-08-22 15:08] chrijopa commented on #356
Thank you a lot for the nice proposals preventing potential hacks like the ones I presented above. I just checked your pull request and I really like its simple usage - I hope it will be merged soon!

@damienmarchal : I am excited to see your solution to 3., if you would like to have further information about my approach, please let me know.

To create python scenes, I am using the [scene to pytho

[2017-08-22 16:45] maxime-tournier commented on #356
Hi there,

Unless you really have to, I would suggest you drop `.scn` files altogether and work with python files directly: it's easier to work with and waaay more powerful. If it were just me, I'd have dropped `.scn` support a long time ago or rewritten it with 100 lines of python :-) Some people may disagree though.

I'm not sure there is a nice way of forwarding command line args from the `.scn

[2017-08-23 08:21] #316 closed, assigned to nobody

[2017-08-23 11:19] #231 closed, assigned to hugtalbot, hdeling

[2017-08-23 21:35] damienmarchal opened #374 "[sofa] crash for some link values."
Hi all,

On my computer if I take the caduceus scene,
and I add something like parents="@" in for example the "Snake" node
runSofa crash when trying to load the scene.
______________________________________________________

Suggested labels:

[2017-08-23 21:40] damienmarchal opened #375 "[runSofa] crash on closing the Node window properties."
start runSofa (the caduceus scene)
double click on the "Snake" Node in the scene graph to open its window properties.
go to the layer named "Link",
press "Ok".
It crash.

This have been tested on two different linux from fresh checkout.

______________________________________________________

Suggested labels:

[2017-08-24 18:03] chrijopa commented on #356
As a reaction to your proposition I adapted my scene and dropped the .scn file and now it works, thank you for your work!

PS (another issue?): Since createScene does not have the argument self - that I am using to communicate values between the different functions - I inserted a python script controller, i.e.
[code]
and
[code]
This does not seem to be very elegant.
1. Could self be used as well a

[2017-08-25 08:11] maxime-tournier commented on #356
It's unclear what you're trying to do: `createScene` is a function and has no `self` binding.

I think #283 was merged, so what you can do now is the following:

[code]

[2017-08-25 09:15] damienmarchal commented on #375
Ok, so I investigated the problem a bit...and actually there are multiple.

The first problem I see is related to the fact that we have "@linear solver"  with the space in the middle and that the GUI is giving that as a single "big" string which is, as usual, leading to a lot of troubles when it have to be parsed.

The second problem  I encountered is that somewhere the getRoot() function enter in

[2017-08-25 10:51] damienmarchal commented on #375
Ok so when the widget is created...the CreateString function is called. And this one returns @+path+data

If path & data are empty...it just resturn @... so now why are path & data empty or the parent link ?

[2017-08-25 11:47] chrijopa commented on #356
Thank you for your help! I changed the scn2python script:
- The standard output is now be .py (before it was .scn and .py)
- It handles the command line arguments now in the way you presented it above
- It uses the output into .json, as presented in #360.
I would like to push these changes to your pull requestion #368, do you mind giving me access rights (if not I will wait and do a separate pull

[2017-08-25 11:55] maxime-tournier commented on #356
Please make a separate pull request referencing #368.

I need to fix failing tests before #368 is merged though.

[2017-08-25 12:07] damienmarchal commented on #375
Ok.... so when a node does not have parent.... which I assume is the case of the root ...
then the getPathName() string is empty... and
Which make the function CreateString to return "@".

I have no clear idea where to fix that... the current fix is in #377

[2017-08-25 12:29] damienmarchal commented on #374
This problem is in fact the same as the one in #373 for which we have a fix. So I close that.

[2017-08-25 12:29] #374 closed, assigned to nobody

[2017-08-27 15:52] ghost commented on #356
Sounds good, I will check regularly to see whether your pull request is finished!

[2017-08-29 14:07] thomas-lemaire opened #378 "Error at component creation not reported in the log"
Let's try this small scene
[code]
No error is triggered on the console, and obviously "tartempion" is not a valid template
However in debug, I can follow up to the line where a message is sent to object->serr in ObjectFactory.cpp around line 174
if (!usertemplatename.empty() && object->getTemplateName() != userresolved) {
            object->serr << "template <" << usertemplatename << "> incorrect

[2017-08-30 10:40] damienmarchal commented on #378
Hi Thomas,

Intriging... thanks for reporting.

[2017-08-30 13:41] ErwanDouaille opened #381 "[runSofa] Property panel can crash if displayed data has no help defined"
If you manually create data, then add it to your component without setting help parameter, the gui will crash.

How to reproduce the bug :

- create data from a component with no arguments and without using setHelp function
- add it to the component using addData() function
- run sofa
- double click on your component in the scene graph
- sofa will crash

___________________________________________

[2017-08-30 13:46] ErwanDouaille commented on #381
fix : https://github.com/sofa-framework/sofa/pull/382

[2017-08-31 12:18] maxime-tournier commented on #356
#368 is merged, closing issue.

[2017-08-31 12:18] #356 closed, assigned to nobody

[2017-09-05 08:48] #381 closed, assigned to nobody

[2017-09-05 15:39] #280 closed, assigned to maxime-tournier, marques-bruno, IPeterlik

[2017-09-06 08:13] damienmarchal commented on #375
Fix have been merged so we can close this one.

[2017-09-06 08:13] #375 closed, assigned to nobody

[2017-09-06 09:16] damienmarchal opened #388 "Modularizing & Refactoring SofaVolumetricData"
Hi all,

At DEFROST we are working on adding new features to SofaVolumetricData & CGAL.

But currently SofaVolumetricData is not a plugin and is poorly organized so we are considering that it may be a good opportunity to clean it and tranform it into several plugins. If you are using it...please join the effort so that the end result match yours need & expectation.

Currently we have done the foll

[2017-09-06 12:39] damienmarchal opened #390 "[Anouncement] PSL plugin to write elegant, dynamic & savable SOFA scenes."
Hi all,

We are on our way to make a PR with our PSL plugin to simplify the writing of scene with SOFA.
If you never heard about it you can
- read the "in-progress" documentation: https://github.com/SofaDefrost/sofa/tree/PSL/applications/plugins/PSL/README.md
- have a look at this video introduction:
https://www.youtube.com/watch?v=_lU6hJIXz1g&feature=youtu.be

If you have idea of extension we hav

[2017-09-08 13:28] ErwanDouaille commented on #378
We tested this scene in debug and release, and  both displays a warning message.
The warning message is consistent because it use a default template (aka double)

Here is a log on debug :
`   [WARNING] [MergeVectors(merge)] Template <tartempion> incorrect, used <double>
`

[2017-09-08 13:32] damienmarchal commented on #378
Thanks erwan for the test.
The warning is also there in release.

Maybe the problem is specific to Thomas application.
Each application has to define and set-up its way to handle the messages. Have a look in runSofa on how it is one.

[2017-09-08 13:50] bcarrez commented on #352
unresolved externals fixed by PR #351
CI still needs CGAL...

[2017-09-11 08:52] damienmarchal commented on #346
Not a lot of contribution here.

In recent PR I'm doing moving code from modules to plugins.
I think that the followin approach combining plugins & packages (group of selected plugin or components)
plugins:
    - plugin1
    - plugin2
    - plugin3
    - plugin4

packages:
    - SofaAdvanced (include pluin1, plugin2)
    - SofaMisc (include plugin3, plugin4)
    - SofaNG(include plugin1, and Mecha

[2017-09-11 10:59] damienmarchal commented on #378
Can we close this one ?

[2017-09-14 11:04] sergeiNikolaev opened #400 "Python scripts execution in Sofa"
Hello.
Does anyone knows how to run python tests in SOFA framework?

@hugtalbot

Thank you for information.

______________________________________________________

Suggested labels:

[2017-09-14 13:14] jnbrunet opened #401 "Wrong cmake directive for the SofaDefaultType target"
Inside the file defaulttype/CMakeLists.txt, the line
`target_include_directories(${PROJECT_NAME} PUBLIC "$<BUILD_INTERFACE:${CMAKE_CURRENT_SOURCE_DIR}>/../..")`
should be
`target_include_directories(${PROJECT_NAME} PUBLIC "$<BUILD_INTERFACE:${CMAKE_CURRENT_SOURCE_DIR}/../..>")`

This error makes IDE based on cmake bleed the symbol indexing since a relative path "../.." is wrongly added in the sofa

[2017-09-15 06:31] thomas-lemaire commented on #378
So then it is specific to runSofa2, not a good point either !

[2017-09-15 06:31] #378 closed, assigned to nobody

[2017-09-15 12:31] damienmarchal commented on #400
Hi @sergeiNikolaev

I'm not sure what you want.
There is actually several tests of python functionality in different plugins.
SofaPython_test and SofaTest are good starting point.

Now if you want to lauch automatically something like 'unittest' or 'coverage' I have no idea but this is a good question.

[2017-09-15 12:31] damienmarchal commented on #362
A scene checker that warn user about duplicated names has been been merge.

[2017-09-15 12:31] #362 closed, assigned to nobody

[2017-09-15 12:32] damienmarchal commented on #355
This bug has been fixed in a merged PR (with additional extra feature)

[2017-09-15 12:32] #355 closed, assigned to nobody

[2017-09-15 12:49] sergeiNikolaev commented on #400
Hello @damienmarchal

I tried to execute tests manually using python. And I got import errors like:
_Traceback (most recent call last):
  File "test_mass.py", line 8, in <module>
    from SofaTest.Macro import *
ImportError: No module named SofaTest.Macro_
or
_Traceback (most recent call last):
  File "test_MeshLoader.py", line 1, in <module>
    import SofaPython.MeshLoader
ImportError: No module

[2017-09-15 14:12] maxime-tournier commented on #400
Hi there,

You cannot load tests using the python binary because the sofa bindings are only available for the embedded interpreter.

There are some python tests under SofaTest/python IIRC.

[2017-09-15 14:28] sergeiNikolaev commented on #400
Ok.

Then my question is how I could load and use this embedded interpreter?
If, for example, I want to debug or to verify how some script works.

[2017-09-18 18:26] damienmarchal commented on #401
Thank you for reporting this kind of problem. And the explaination is very instructive.

[2017-09-18 19:04] #401 closed, assigned to jnbrunet

[2017-09-19 10:33] maxime-tournier commented on #400
You can simply start a python sofa scene using the main sofa executable, either through `File/Open` or from the command line.

A simple scene goes like this:

[code]

Please see the docs for more details.

[2017-09-19 14:27] MaximeMoge commented on #24
Here is an update on our efforts to perform an automatic parallelization on Sofa.

**Parallelism at the Visitor level :**

**General idea :**
Some visitors execute functions on multiple components (example : BaseMechanicalVisitor launches MechanicalVisitor::fwdForceField on a list of BaseForceFields).
The implementation of the function can vary depending on the actual type of the component. Usuall

[2017-09-19 16:38] sergeiNikolaev commented on #400
Do python tests work in similar way? Ok.

[2017-09-19 19:57] damienmarchal commented on #346
This include PR #389 #407  #396
It would be nice to have feedback..otherwise...well after merge it will be to late ;)

[2017-09-20 08:51] damienmarchal opened #412 "Adding a general test to computeBBox"
It would be nice to have a test in SofaTest that validate that all the element in the scene
are correctly computing their BBox.

______________________________________________________

Suggested labels:

[2017-09-20 09:18] #344 closed, assigned to jnbrunet

[2017-09-20 12:57] guparan opened #413 "STC#4 Coding Sprint: main issue"
Hi all,

For the next STC we are planning active coding sprint sessions to boost small tasks and have the pleasure to be working togther.

Feel free to propose any task in the comments!

Current task list (last update 2017-09-29):
- Deprecation: https://github.com/sofa-framework/sofa/issues/426
- Pluginization + SceneCreator dependencies (must be done AFTER deprecation): https://github.com/sofa-fr

[2017-09-20 13:06] damienmarchal commented on #413
The details to know:
  - where (I vote for the 'salle du conseil'  :))
  - when (wednesday 4 ?)
  - who will attend to the coding sprint ?

My dream list:
- SofaNG (pluginizing the modules)
- sofaqtquick (only if there is more than 2 QML expert)
- Sofa code cleaning (as usual) :)
   - coding standard conformance
   - we want more tests (they are crucial for refactoring) !!!
   - remove & unify dup

[2017-09-20 13:23] damienmarchal commented on #413
Citing Olivier Goury (@olivier-goury)
"A whole day of coding in SOFA? I can not say no, count me in."

[2017-09-20 13:25] guparan commented on #413
You forgot to ask **what** and that's the main point of this issue.

- No worries about where, we handle it internally (you can use your Lillois powers to influence the choice though) ;-)
- When: tuesday 3 afternoon (setting up and starting) + wednesday 4 whole day (coding like beasts).
- Who: this may influence the tasks but doesn't avoid us to propose everything we want :-) For now I can say we

[2017-09-22 10:18] #388 closed, assigned to nobody

[2017-09-22 10:19] damienmarchal commented on #357
Hi,

The reference PR was merged. Do we need to close this issue or is there any news ?

[2017-09-22 10:19] damienmarchal commented on #348
Do we close this thread as the Advanced Timer was merge ?

[2017-09-22 10:20] damienmarchal commented on #318
No update since two month. I close the issue unless someone want to say something more.

[2017-09-22 10:20] #318 closed, assigned to nobody

[2017-09-22 10:24] damienmarchal commented on #274
Hi maxime,

I forgot to answer to this..but thank for the alternative approach. I found it quite elegant.

[2017-09-22 10:25] damienmarchal commented on #336
If the issue is solved with the merge of the AdvnacedTimer branch.
Could you close the issue.

[2017-09-22 10:26] damienmarchal commented on #272
No contribution to this discussion since months. So I close it.

[2017-09-22 10:26] #272 closed, assigned to nobody

[2017-09-22 10:28] damienmarchal commented on #251
Hi Fred,

I support the idea of cleaning the modules.
Did you made progress on that one ?

[2017-09-22 10:54] untereiner commented on #348
yes we can

[2017-09-22 12:09] maxime-tournier opened #417 "SceneCreator dependencies"
Hello all,

While trying to disable some unused components/plugins from my setup in order to reduce compilation times,  I discovered that SceneCreator depends on many base plugins, and that most test plugins depend on SceneCreator.

This design makes it *really* hard to disable any plugin if somebody wants to compile tests for the remaining enabled plugins.

I guess the "correct" way would be to s

[2017-09-22 14:01] damienmarchal commented on #417
Hi Maxime

Very glad that you are interest on those question. On our side we are actively working on this kind of things (deprecating, disable components, remove the no-needed includes in .h, remove the code in .h transforming module into plugin,... ).

We also noticed the problem with SceneCreator and I think that your suggestion is nice. So let's do that ;)

If you are willing to do it please te

[2017-09-22 14:26] damienmarchal opened #418 "Help-list to make your code compile with a recent checkout from "master"."
_You made a recent checkout from master and your private plugins does not compile anymore._

This is an unconfortable situation and be sure a lot of effort are done to reduce the amount of time this is  happening. But whatever care we can take, this may and will happen.

Two probable cases:
- when breaking stuffs that shouldn't be there have been merged by mistake. Well, we apologize for this situ

[2017-09-22 19:59] #227 closed, assigned to nobody

[2017-09-22 20:18] maxime-tournier commented on #417
Unfortunately I won't have much time to dedicate to this in the foreseeable future :-/

I see at least a few options for fixing this:
- split the `SceneCreator` API across plugins so that any plugin can provide facilities for creating a scene with components in this plugin, possibly with a common API in core
- remove anything referencing modules/plugins in`SceneCreator`, and instantiate components

[2017-09-26 10:09] damienmarchal commented on #346
Here is another contribution to handle in an organized and smooth way sofa's components lifetime and deprecation.

The idea is to have three sets of components in the CMakeList.txt.
- the first sets contains more or less the SofaNG components.
- the second sets contains all existing sofa components.
- the third sets contains deprecated components.

Selecting which set to compile is controlled usin

[2017-09-26 11:11] untereiner commented on #346
For me handling different sets of sofa components with a lots of CMakeLists is cumbersome.
I am not ashamed to say that I do not understand the difference between SofaKernel/SofaFramework/SofaMisc/SofaNG/SofaAdvanced/SofaGeneral

I would suggest an another direction more in the spirit of Qt, e.g. having meaningful modules.
In Qt they have: Qt Core/ Qt Multimedia / Qt Network etc.
I suggest to have

[2017-09-26 11:55] damienmarchal commented on #346
Thank for your feedback,

As you I don't understand the SofaKernel/SofaFramework stuff and I'm always searching for the right component in the wrong place so I fully support you on that, the reason is that Misc vs Advanced vs NG have different meaning for different person so it is a totally arbitrary segmentation.

But I'm not really talking about this here. What I have in mind is more or less ort

[2017-09-26 12:21] StephaneCotin commented on #346
Hi Damien

I understand what you want to do (I think) and it's certainly an important aspect of cleaning SOFA. If by moving a component to a specific location we change its 'status' to 'deprecated' (and the user receives the appropriate warning), it seems a very good solution.
However, I did not understand how we'll do this in practice with SOFA-NG. In the many components that would go in plugins,

[2017-09-26 12:22] untereiner commented on #346
my fault, I didn't understand your point at the first time. I agree with you that managing the deprecation with specific sets in a CMakeLists can be efficient.
In my mind the place you put the code and its management are somehow connected especially when lighten "sofa" because nobody is defining what sofa is/contains/is reduced to.
More I think about more I think that there is no sofa core or what

[2017-09-26 21:20] damienmarchal commented on #346
Hi Stéphane, thanks for the feedback,

If we split the existing set of components into sub-sets eg ("stable", "fullset", "deprecated") our starting point would be the current sofa with everything in the "fullset". Starting from  that we can start moving the good enough one in the "minimal" or "stable" set, the bad ones into the "deprecated" set  and keep the one we cannot decide into the "fullset"

[2017-09-26 21:33] damienmarchal commented on #346
There is also a big challenge connected to deprecating/SofaNG and moving component. It is cutting the edge in the dependency graph. Some edge are of course legitimate...but for plenty of them this is the result of either:
- putting method definition in headers (which thus require the include of used components)
- required for template instantiation

This make every code change a real nightmare.So

[2017-09-27 07:09] damienmarchal commented on #348
I general I let the owner of the issue closing it :)

[2017-09-27 07:09] #348 closed, assigned to nobody

[2017-09-27 07:13] untereiner commented on #348
sorry I should warn that the owner was a trainee who has left the team

[2017-09-27 07:48] fredroy opened #420 "[INFO] Error while compiling AdvancedTimer with Visual Studio 2015"
FYI:
Since the inclusion of .............**, Visual Studio 2015 needs to be updated to Update3** Service Pack while compiling AdvancedTimer.cpp.
"....\sofakernel\extlibs\json\nlohmann_json.h(1259): error C2100: illegal indirection (compiling source file ....\SofaKernel\framework\sofa\helper\AdvancedTimer.cpp)"

(https://github.com/nlohmann/json/issues/719)

________________________________________

[2017-09-27 10:58] EulalieCoevoet commented on #338
Hi,
I think it would be nice to have a warning about these changes, when running our scenes.

[2017-09-27 11:53] damienmarchal commented on #413
To summary this morning discussion with @guparan, @fredroy, @bcarrez, @StephaneCotin, @bruno-marques , @ErwanDouaille ...let's prepare for the sprint.

There is a general envy from people that want to participate to put the efforts to make a lighter version of Sofa.

To match this goal, we discussed a workflow this morning in connection with the branch
https://github.com/SofaDefrost/sofa/tree/depr

[2017-09-27 13:34] guparan commented on #413
Another task suggestion: go on with **`issofa_*` branch merges**.
I think at least half of these branches could be merged without big difficulties.
What do you guys think?

[2017-09-27 14:07] damienmarchal commented on #413
As I found the fact of having contributions to sofa stick very depressing I agree with you Guillaume and this could be great if some guys want to devote a task for making progress on that.

[2017-09-27 14:08] damienmarchal commented on #413
It is out of the topic of this issue but @guparan, @hugtalbot  is there any planning of the presentations you expect from people ? Do we have to make slides or this kind of things ?

[2017-09-28 07:35] maxime-tournier commented on #338
@fjourdes Most definitely agreed! Rayleigh damping in the solver is mostly a (convenient) hack for ensuring stability, it has little to do with actual mechanical material properties.

The proper API for damping is through the `B` matrix in forcefields, so any forcefield is free to implement `addMBK` and friends using Rayleigh damping if they see fit with no extra cost, but it makes no sense to man

[2017-09-29 14:06] guparan opened #426 "STC#4 Coding Sprint: Deprecation"
The idea is to deprecate old/unused components of SOFA.

Reference doc:  https://docs.google.com/spreadsheets/d/1a4jrAeQo-OcvA8iWbAXoBxW6CNN9D1zGL4eNltA1sJ0/edit

CI: https://www.sofa-framework.org/dash/index.php?branch=origin%2Fdeprecating_components

See also an example of deprecation with the WashingMachineForceField (search for WashingMachineForceField in CMakeLists & SceneCheckAPIChanges to s

[2017-09-29 14:14] guparan opened #427 "STC#4 Coding Sprint: Pluginization"
Let's move modules to plugins!

As pluginizing is a big hard for a coding sprint, we will mainly do preparatory work for future pluginization.
This means:
- [x] Solve SceneCreator dependencies problem
- [x] Identify at least one module to pluginize
- [x] If we have time, pluginize a module

[2017-09-29 14:40] guparan opened #428 "STC#4 Coding Sprint: issofa_* merges"
Let's merge some issofa branches. At least the easy ones.

Reference doc: https://docs.google.com/spreadsheets/d/1iWFi9uIMiSV2zrhrawM3nwEqGAhcRqWg1KUo7NqVHPg/edit?usp=sharing

[2017-09-29 14:44] guparan commented on #426
This is a comment from @damienmarchal in #413 about deprecation task
__________________________________________
To summary this morning discussion with @guparan, @fredroy, @bcarrez, @StephaneCotin, @bruno-marques , @ErwanDouaille ...let's prepare for the sprint.

There is a general envy from people that want to participate to put the efforts to make a lighter version of Sofa.

To match this goal,

[2017-09-29 14:50] guparan commented on #413
I just created separated issues for our 3 main tasks: deprecation, pluginization and issofa branches. Please use the appropriate ones (not this one) for future discussions. If issues are also needed for cleaning and documentation tasks, feel free to create them.
This issue can still be used for new suggestions or remarks so I let it open.

[2017-09-29 14:55] guparan commented on #413
A word about organization:
- we will work by groups of 4
- we will use specific branches (ignored by the CI) on this repository for our commits + integration branches (built by the CI)
- I will create a team to handle permissions so please make sure everyone has a GitHub account

[2017-09-29 15:05] guparan commented on #427
@damienmarchal: Could you detail here the problem with SceneCreator please?

[2017-09-29 20:55] damienmarchal commented on #427
The problem with SceneCreator is discussed in #417.
But to summary  the problem SceneCreator (which is supposed to be a plugin) is including tons of
includes because he prefer to create the objects using ::New<MyObject>() instead of using abstracted BaseObject through the factory.

In the following is a simple proposal to replace the problematic code:
[code]