[2017-09-29 20:56] damienmarchal commented on #427
The previously given proposal is more or less mimicking what the python API is doing.

[2017-10-02 12:50] damienmarchal commented on #426
To increase sofa readability also vote for removing SOFA_FLOAT () and SOFA_EXTERN_TEMPLATE (we are now c++11 so extern is supported so no need to disable them with conditional compilation)

[2017-10-02 14:00] damienmarchal commented on #426
Why do FixPickedParticleButtonSetting is in SofaGraphSimulation ? It looks more related to SofaUserInteraction

[2017-10-02 14:23] damienmarchal commented on #426
I wonder how de-activate a compilation option when we are in compiling Sofa with the "core" profile (Do we de-activate runSofa it makes sense as soon as some of the component it is using will be moved into deprecation.)

[2017-10-02 14:45] bcarrez commented on #426
@damienmarchal you mean, delete cmake variables ? or something else ?

[2017-10-03 07:17] matthieu-nesme opened #430 "[CI] dashboard - view all branches"
Selecting 'ALL' for "Branch" does not work anymore, it always redirects to "origin/master".

______________________________________________________

Suggested labels:

[2017-10-03 08:25] damienmarchal commented on #426
@bcarrez I want the runSofa/qt part of the project to be disabled when in core profile.

[2017-10-03 08:35] guparan commented on #430
Hi @matthieu-nesme, I did introduce this bug. Will fix it ASAP.

[2017-10-03 09:23] guparan commented on #430
It's fixed!

[2017-10-03 09:23] #430 closed, assigned to guparan

[2017-10-03 09:32] matthieu-nesme commented on #430
merci Guillaume :)

[2017-10-03 12:29] MarkusWalzth opened #434 "sofa/helper/Polynomial_LD.inl: possible bug"
While trying to clear the build from compiler-warnings I found these pieces of code in in the metioned files:

`        if (!added) listOfMonoMial.push_back(b); nbOfMonomial++;` at 410
`        if (!added) listOfMonoMial.push_back((*itb)); nbOfMonomial++;` at 431
`        if (!added) listOfMonoMial.push_back(-(*itb)); nbOfMonomial++;` at 452

The compiler warning is indicating that the second stat

[2017-10-03 12:36] MarkusWalzth opened #435 "SofaRigid/RigidMapping.inl: possible bug"
While trying to clear the build from compiler-warnings I found these pieces of code in in the metioned files:

[code]
(code is at line 280 in the file)
The compiler warning is indicating that the `++idx;` statement is not effected by the outer or inner for-loop. As in this case `rigidIndexPerPoint[i] = idx;` is always assigning "0" to the `rigidIndexPerPoint[i]` I would purpose either to change ch

[2017-10-03 14:27] maxime-tournier commented on #435
Thanks for reporting. I had a quick look, but there's no comment to help whatsoever :-/

In any case, devs should really quit this nasty habit of omitting braces around for/if statements that aren't one-liners.

[2017-10-03 15:05] ChristianDuriez opened #440 "Merge FixedConstraint and PartialFixedConstraint"
Hi !

Many existing component (FixedPlaneConstraint, FixedRotationConstraint, PointConstraint...) are particular implementation of PartialFixedConstraint. We have put them in a separate plugin named
"Specific Boundary Conditions".

To finalize this work, it could be useful to have an implementation of FixedConstraint, on which you can define a subset of direction that you want to block. It would a

[2017-10-03 15:39] fjourdes commented on #440
On top of what @ChristianDuriez mentioned, actually very few of these projective constraints implement the full set of the API, so in the vast majority ( the notable exceptions being FixedConstraint and PartialFixedConstraint ) they won't really project correctly when used with a dense solver, because they will not operate on the system mechanical matrix, but just on the right hand side vector of

[2017-10-03 19:14] matthieu-nesme commented on #435
Which compiler are you compiling with?

[2017-10-04 07:26] MarkusWalzth commented on #435
this warning popped up with gcc 6.3.0
The warning printed caused by "-Wmisleading-indentation"

edit: this issue is not intended to be about the warning. Its more the behaviour of the code

[2017-10-04 10:04] matthieu-nesme commented on #435
For sure, it is a bug, we'll fix that. Thanks.

I was interested in the compiler to try it, as the versions of clang and gcc we are using do not pop these useful warnings.

[2017-10-04 10:13] MarkusWalzth commented on #435
Nice =) thanks for the quick response!

[2017-10-04 10:34] maxime-tournier commented on #440
@fjourdes If I'm not mistaken, projective constraints are perfectly okay with a dense solver, at least when expressed on independent dofs (it barely makes any sense to put them anywhere else, since mappings can do the projection). Whether a particular dense solver is able to handle singular systems is another story, though.

For dense solvers that cannot handle singular systems, all you need to ad

[2017-10-04 11:06] ChristianDuriez commented on #440
@maxime-tournier I think that @fjourdes raised the question about the projective constraints and the solvers (that construct the global matrix) because of a problem of API.
In ProjectiveConstraintSet there is two available functions:

 virtual void applyConstraint(const MechanicalParams* /*mparams*/, const sofa::core::behavior::MultiMatrixAccessor* /*matrix*/)

   virtual void applyConstraint(cons

[2017-10-04 11:56] matthieu-nesme commented on #435
PR #441

[2017-10-04 11:58] maxime-tournier commented on #440
@ChristianDuriez I stand corrected, thanks.

In any case you can still obtain the projection matrix from the projection of each individual canonical basis vector, which could be the default implementation (+ inefficiency warning ofc).

As for the original proposal, I'm not exactly sure I understand: you suggest a FixedConstraint + some Deriv mask for filtering dimensions, right?

[2017-10-04 12:03] matthieu-nesme commented on #434
PR #442

[2017-10-04 13:20] Ant0nin opened #443 "Invalid path for PNG library during SofaHelper generation using VS2017"
I encountered a little issue during the compilation of SOFA using Visual Studio 2017.  The configuration of SofaHelper's project, generated by CMake, seems incorrect. Indeed, during the linkage step, instead of looking for **libpng16.lib** (or libpng16d.lib) in **src/lib/win64/** (or /src/lib/win32), it searches **libpng.lib** (or libpngd.lib) in **build/SofaKernel/SofaFramework/SofaHelper**

At t

[2017-10-05 07:30] damienmarchal commented on #426
STC is over.
@guparan & @bcarrez are in charge to have to split the deprecation_branch where we have worked into severals:
(1) one that deprecate components
(2) one that pluguinize some modules.

I assume we should have (1) done before starting to merge PR

[2017-10-05 07:40] bcarrez commented on #426
I agree. I also have to modify the SOFA_BUILD_COMPONENTSET to change the levels from core/full/deprecated to core/light/standard/full where:
- core contains only the "glue" of sofa (simulation, framework, ...)
- light contains a restricted/basic set of components (to be defined)
- standard contains most sofa components and features
- full = standard + deprecated components/tests

Hopefully this wi

[2017-10-05 08:31] StephaneCotin commented on #426
At the end of the STC yesterday we discussed "packaging" and "granularity" aspects of the different component sets. On the way back I remembered that we addressed this question a while back, and at the time I was proposing an approach "a la Python":
- create relatively small plugins organized by "theme" (i.e. ForceField, Mapping, Collision, etc.). This would be like a module in Python
-  group the

[2017-10-05 09:38] damienmarchal commented on #426
Here is our way of organizing a plugin at defrost:
[code]

And we mimick that into the namespaces
[code]

Then we "export" that into sofa namespace to be consistent with the rest of sofa.
[code]

I think this is very close to what Stephane is proposing (it is unclear to me what "un-supported" is)

[2017-10-05 12:44] damienmarchal commented on #426
My contribution to the discussion:
- sofa
  - core (no more components are in the core except stuff like RequirePlugin and few others)
  - plugins (here are all the components)
     - sofastandard
         - the pluginized version of all the modules (but at first without reorganizing them)
     - plugin1
     - plugin2
     - myplugin (organized as in my previous contribution)
     - ...
     - ..

[2017-10-05 12:56] StephaneCotin commented on #426
Sounds good to me! Let's try that.

[2017-10-05 13:38] guparan commented on #413
@damienmarchal, I move your comment here
__________________________________
To @guparan, @bcarrez, @fredroy we need to organize the merging process for efficient and smooth integration of the pending PRs.

My suggestion is to now merge in row allow the pr:fix that have the pr:fast-merge  ( #444 #443 #442 #436 #414 #422)

There is also #423 which is a fatty one for which I don't know if we have to

[2017-10-05 13:42] guparan commented on #413
@damienmarchal, splitting our sprint branch in 2 was not hard but like you I'd like to merge things correctly.
I agree with your proposal but I think we should also reopen a PR from https://github.com/SofaDefrost/sofa/commits/deprecating_components beheaded until 456d88343e210ce89d9f7436c290be92fe438313 to merge all sprint prerequisites first.
This way, the two PRs from our sprint will be very cle

[2017-10-05 13:55] guparan commented on #426
My two cents: if you are using core+plugins naming in SOFA, why not going for **core**+components instead of objects+components in plugins?
Even if the name is not "core", just using **the same** in SOFA and plugins would be more consistent.

[2017-10-05 14:04] flargilliere opened #445 "Fix Tutorial applications"
Hi,

seems like the tutorials are kind of destroyed :

- Some images don't appear anymore
- the UI is locked in a too small dimension (ie menus not completely visible) and brings too much orange light (possibly a question of color preferences)
- closure of the scene launched in Sofa triggering an error messageBox
- some internal links between pages are broken
etc.

maybe it would also be nice to c

[2017-10-05 15:47] guparan commented on #428
@fjourdes @ChristianDuriez
[issofa_constraintsolving ](https://github.com/sofa-framework/sofa/tree/issofa_constraintsolving)is now up-to-date with master.
Built successfully on my Windows. Let's see the [CI results](https://www.sofa-framework.org/dash/index.php?branch=origin%2Fissofa_constraintsolving)...

[2017-10-05 16:11] damienmarchal commented on #413
Sounds great !

[2017-10-05 16:21] damienmarchal commented on #426
@guparan in our plugins organization objects is there to hold c++ class that are not components while in general 'core' in sofa is for the base classes and infrastructure. Actually what we are putting in this objects directory is much closer in essence to what is actually in sofa/helper (ie utilitary classes).

But "objects" is not a very clear name after all and core is maybe not better but not w

[2017-10-05 16:37] damienmarchal commented on #338
@EulalieCoevoet  is right, changing parameter without warning is bad
@hugtalbot it is very easy, there is two options. One consist in adding some test in the init() function of the component to detect if the data is set or not by the user and provide the adequate message. The other is to add a dedicated rules in the SceneChecker at the following of:
[code]

@fredroy Eulalie also report that there

[2017-10-05 16:47] damienmarchal commented on #417
As I was not ready to kill all the existing tests I solved the issue in a different way that I found simple.
The idea is based on a small api that mimick the Python API and then to use it to re-implement the SceneCreator functionnality. This is in the STC4 branch.

If you are curious it look like that:
[code]

I'm quite sure we should be able to make much nicer things with a proper eDSLinstead of

[2017-10-05 16:52] damienmarchal commented on #417
Now, as you said Maxime, the definitive solution would be to implement component specific tests where the components are implemented and not in a shared plugins like SceneCreator or SofaTest but this is still something to do (One step at a time).

[2017-10-05 18:25] maxime-tournier commented on #417
Nice, I like it :-) The template metaprogrammer in me is already thinking of a typesafe solution ;-)

edit: [did it](https://gist.github.com/maxime-tournier/3c59175c9219098d419768d89af8a51e#file-attribute_list-cpp)

[2017-10-05 19:06] ChristianDuriez commented on #428
Cool ! thanks @guparan !!

[2017-10-05 19:59] damienmarchal commented on #417
Glad you like it
With a typesafe version you mean something like
[code]
This could be great especially with a version without string conversion so it would be both elegant and fast.

On my side the things I tried but didn't pushed were:
[code]
The idea was to avoid to use strings as identifier because that are error prone and hard to maintain when something change. It also feature autocompletion,

[2017-10-05 21:05] #443 closed, assigned to nobody

[2017-10-06 08:10] fjourdes commented on #428
Thanks ! I built this branch on my machine. I run successfully
a couple of example scenes which involve some of the components affected by the changes ( caduceus.scn,
FrictionContact.scn, BilateralInteractionConstraint.scn, BilateralInteractionConstraint_Rigid.scn, FrictionContact_VelocityConstraints.scn )
It seems the merge went ok !

[2017-10-06 12:06] guparan commented on #413
Done in #453

[2017-10-09 07:25] maxime-tournier commented on #417
See [this gist](https://gist.github.com/maxime-tournier/3c59175c9219098d419768d89af8a51e#file-attribute_list-cpp) for a simple prototype (start from the main function at the end). It uses a nifty trick for erasing and recovering type information through a throw/catch, which is a little slow but not slower than string conversion anyway.

The one with member function pointers won't fly as it require

[2017-10-11 09:24] damienmarchal commented on #418
We are including the STC4 coding spring results into master.
It is expected to be in a rather un-stable state due to the changed introduced to make sofa more modular.

So please report the compilation & runtime issues you encountered.

[2017-10-11 09:31] damienmarchal commented on #418
SceneCreator.
If you get a message saying:
[code]
Emitted by the simpleapi as in
[code]

This means that  the factory does not contains the object. This message appears because the implementation of SceneCreator is totally new and it is now based on the content of the ObjectFactory. The consequence is  that to create object the factory needs to be initialized properly (by loading the plugins/modul

[2017-10-11 12:12] sebastiennelissen opened #462 "Unable to reload a Python scene because of OglSceneFrame component"
The scene is generated successfully the first time with the the OglSceneFrame component correctly loaded and without warnings.
But, with or without any parameters specified in the component, I have been unable for the last few days to reload the scene. A segfault error is appearing.
I tried another scene containing this component and the result is the same.
I confirm that without this component, b

[2017-10-11 12:22] damienmarchal commented on #462
Hi Sebastien,

Thanks for the report.
Can you tell us which branch/revision of sofa you are using ?

[2017-10-11 12:31] damienmarchal opened #463 "Problem with SceneCreator when compiling in debug"
The new SceneCreator implementation requires to load plugins to work.
To do that it calls the PluginManager...the problem is that in debug...the plugins have are not found.

https://ci.inria.fr/sofa-ci/job/ubuntu_clang-3.8_options-debug/436/testReport/

Is this because of the _d suffix ?

______________________________________________________

Suggested labels:

[2017-10-11 12:42] guparan opened #464 "Update libQGLViewer to latest version"
Problem: build errors in libQGLViewer with MSVC 2015. See https://github.com/sofa-framework/sofa/pull/461
Solution (TODO): update libQGLViewer to the latest version (2.7.0).

[2017-10-11 13:17] matthieu-nesme opened #466 "update glew in windows dependencies"
Is it possible to update the glew version distributed in the windows dependencies?

We can get this problem with the actually distributed version 1.13: https://www.khronos.org/opengl/wiki/OpenGL_Loading_Library#Initialization_of_GLEW_1.13.0_and_earlier

______________________________________________________

Suggested labels:

[2017-10-11 13:52] fredroy commented on #466
I dont see any problem with updating the glew library (except if it is introducing other problems I am not aware of ;) )
@guparan I let you do it ?

[2017-10-12 13:04] guparan commented on #466
It's done! Reopen if something is wrong ;-)

[2017-10-12 13:04] #466 closed, assigned to guparan, fredroy

[2017-10-12 13:23] matthieu-nesme commented on #466
Thanks !

[2017-10-13 12:36] sebastiennelissen commented on #462
I am using the lastest version of the master branch of sofa-framework

[2017-10-13 12:41] damienmarchal commented on #462
Well Sebastien why not joining us in our codin-spring so we look at that ;)

[2017-10-13 15:08] sebastiennelissen commented on #462
Well, I kind of create a minimalist scene so that I can see where the glitch comes from. The reloading is possible with the OglSceneFrame component activated, but not if a transparent object is used.
Then, all is OK with the component :  obstacle.createObject('OglModel', color="0.5 0.5 0.5 1")
But the reloading crashes with : obstacle.createObject('OglModel', color="0.5 0.5 0.5 0.9")

[2017-10-13 21:25] damienmarchal commented on #418
If you have a message saying that the texture cannot be loaded.
This is probably because now image loading (png/jpg) is now done by a single plugin called CImgPlugin.

So to load images you needs to compile CImgPlugin & load it.

[2017-10-17 15:01] ErwanDouaille opened #480 "[runSofa] Misleading GUI arguments"
Hey,

I just tested differents gui arguments and encounter a weird argument name issue.
if you run : `runsofa -g qt` this will run the opengl view.

Everything is working well, but the argument name is a bit ... confusing.
______________________________________________________

Suggested labels:

[2017-10-17 15:09] ErwanDouaille opened #481 "[runSofa] InteractiveCamera doesn't work with QGLViewer"
Hey,

Trying to understand how the view/camera works, we found than InteractiveCamera is working well with OpenGL viewer but not with QGLViewer. Is this a known issue ?

Maybe a warning or something else should be sent. I played in the past with the interactiveCamera and it was not working, I guess, due to this issue.

______________________________________________________

Suggested labels:

[2017-10-17 20:31] damienmarchal commented on #481
Hello Erwan,

Good idea to make a warning.

Now at the fundamental level to me all this part of Sofa is "broken". The fault is that there is no clear difference between the "in editor" camera (the ones use in the viewer/runSofa editor) and the "in-scene" camera. Making this distinction is important and I'm sure that for runSofa2 we will need to make that clear.

To be clear...think how Unity is do

[2017-10-18 13:43] JeremieA opened #482 "Please carefully consider impact before moving files around (i.e. discussion on the current plugin / NG PRs)"
Hello,

I saw that several PRs are in work that move potentially lots of source files into plugins (#396, #407, #408, #477).
These types of changes can be very painful for everyone looking at file histories and/or not working exclusively on master:
 - all existing branches / PRs are very likely to cause conflict. Yes git does its best to try to match files in different paths but this is not reliab

[2017-10-20 15:37] fjourdes opened #489 "CMake style : c89da68 is indeed monstruous."
On top of the many things that c89da68 does (wrong), see PR #487 for a glimpse, I noticed that the
inclusion of unit tests executable related to a given library have been extracted outside from the CMakeLists.txt of the very library it is supposed to test.

What I initially did was to have
[code]

All the information related to the library is visible from the library `CMakelists.txt` and not hidde

[2017-10-20 15:54] fjourdes opened #490 "CMake style : "_d" debug prefix is removed from all plugins binaries if you don't the use sofa_add_plugin macro"
This was introduced by e33ff21e75356e6967509cc0822d72c74f2d0247
So in order to have the "_d" debug postfix in your binary, you must use the `sofa_add_plugin` macro.
I do not use this macro, and I did not mind its existence because I thought it was only related to have a pretty presentation of the plugins in the cmake-gui.

https://github.com/fjourdes/sofa/blob/insimo_sofabuild/CMakeLists.txt is th

[2017-10-23 12:14] vmagno opened #491 "[SofaGraphComponent] Crash caused by check in SceneCheckAPIChanges when using RestShapeSpringsForceField"
When trying to use the RestShapeSpringsForceField component (on branch master), runSofa crashes upon checking the scene. The responsible check tries to find a data called "external_rest_shape". However, that data has become a link (since after v17.06), so the function findData returns a NULL pointer.

It looks like that check cannot fulfill its purpose since the data will always be a link, no matt

[2017-10-23 12:20] guparan commented on #491
Hi @vmagno,
This bug is fixed in the pending pull-request https://github.com/sofa-framework/sofa/pull/479
I add the backport label for v17.06 fixing.

[2017-10-23 14:48] jnbrunet opened #492 "SofaPython without cpp executable"
Hi everyone,

I'm working right now on a small improvement that will allow people to directly import SofaPython plugin library (libSofaPython.so) inside their python script without the need for an external application (exemple runSofa).

A python script could than looks something like:

[code]
and could be called simply with
`python scene.py`

You can follow the development on the branch
https://g

[2017-10-23 15:39] damienmarchal commented on #482
Hello Jérémie,

Thank you for rising this issue and for making a proposition answering the questions asked in #346.

"These types of changes can be very painful for everyone looking at file histories and/or not working exclusively on master:"
You are totally correct.

"So I would like to know if those considerations were understood before doing this once again ?"
As you ask the question, yes, thes

[2017-10-23 18:25] damienmarchal commented on #492
Hi,

Currently to launch batch of simulation from python there is already something in tools/sofa-launcher.
You can find example of launching the sofa simulation in integration_example.py and for the GUI I'm using Jupyter/IPython.

The only drawback of the current sofa-launcher is that there is no way to interact with the running simulation (only start it and wait for results in the console). If I

[2017-10-23 18:28] damienmarchal commented on #491
I agree with @vmagno that the check cannot fulfill its purpose and have to be handled at parsing level.

[2017-10-24 10:24] jnbrunet commented on #492
Hi @damienmarchal ,

Yes, the main idea is to have more control over the simulation. My work will allow to use Sofa as a real python module, in contrast to launching a binary executable that than execute a python script.

It's really not a big feature since it only needs a valid entry point in the dynamic library so that python can initialise the module. After that, the wrappers will work the same

[2017-10-24 11:41] fjourdes commented on #492
I think it is very useful to have this sort of functionality.
For example it would be very useful for people that want to do analysis and validation of a simulation.

[2017-10-25 08:06] ErwanDouaille opened #493 "SimpleGUI broken, ImageBMP.h no such file or directory"
Working on master.
SOFAGUI_GLUT turned on

#include <sofa/helper/io/ImageBMP.h> no such file or directory, same for #include <sofa/defaulttype/LaparoscopicRigidTypes.h>. Both are needed for SimpleGUI.cpp and MultithreadGUI.cpp.

Does anybody know where I can found it ?
Plus, the need of LaparoscopicRigidTypes sounds weird to me ...

______________________________________________________

Suggested

[2017-10-25 08:27] fjourdes commented on #493
Comes from
- PR#424 for ImageBMP, it could probably be worthy to do a grep on the whole code base to find leftovers
- LaparscopicRigidTypes are no longer used by anyone, so someone must have removed it recently, but then again the the whole code base was not "grepped" for this string so this one at least must have been left over.

But I wonder why I got assigned to this issue ?
EDIT: Ok I am not a

[2017-10-25 08:43] ErwanDouaille commented on #493
@fjourdes sorry for the assignment, miss click. I wanted to assign fredroy :/
But your answer looks good to me, thanks for the PR

I will try to fix the SimpleGUI soon.

[2017-10-25 09:35] damienmarchal commented on #463
Yes and this is fixed by the InSimo PR.

[2017-10-25 12:38] guparan opened #494 "Deprecating option macros defined in config.h"
After #475 merge, we should decide when we want the old behavior (all options in `config.h`) to stop working.
The work to adapt all config.h includes in SOFA is easy (searching for macros and including the right config/*.h file) but we have to find the best solution to permit translation for everybody around.

What do you think?

[2017-10-25 14:25] maxime-tournier commented on #492
Granted, it's not *that* big, but still:
- you need to properly initialize/finalize sofa and core modules (see Main.cpp in the runSofa application)
- you need to handle the case where the loaded scene already has python scripts, and let the `PythonEnvironment` know the interpreter is being run from the outside when initializing (and maybe deal with all the `sys.path` / `__file__` abuses down there

[2017-10-25 19:01] damienmarchal commented on #494
One approach discussed this meeting was:
keep the current config.h for compatibility to external code base but in sofa progressively stop using it and replace it with specific ones eg: "config/comon_defines.h" (that does not contains the inclusion of config/build_option_opengl.h/experimental/etc..."

[2017-10-25 19:13] damienmarchal opened #495 "Deprecating SOFA_FLOAT ?"
From my perspective maintaining three code base (SOFA_FLOAT, SOFA_DOUBLE, SOFA_FLOAT+SOFA_DOUBLE) and insuring everything is ok on the three code path, costs a lot (amount of code to write, maintain, read (all those #ifdef all around) and compilation time.

So I wonder if it would be acceptable to drop the SOFA_FLOAT part of sofa.

PS: I actually also have the same question for the PS3 #ifdef.

Ex

[2017-10-25 19:17] damienmarchal opened #496 "MarchingCube frenzy..."
I was searching for a marching cube to render an implicit field (a real one, given from any analytic formulation not just metaball or blobs union).

I didn't find one, is there any ?
While I was searching I found a least 4 different variations ...and thus wonder if there is no opportunity to refactor a bit.

______________________________________________________

Suggested labels:

[2017-10-25 19:46] jnbrunet commented on #496
+1
Having a clean, generic and intuitive method for marchingCube would be awesome.

[2017-10-25 20:00] maxime-tournier commented on #495
Even shorter ;-)

[code]

(the point being to keep `SReal` customizable instead of forcing it to `double`)

[2017-10-25 20:46] damienmarchal commented on #492
An alternative approach may be to follow the Jupyter's way:
http://jupyter.org/

[2017-10-25 20:55] damienmarchal commented on #496
Thanks for the feedback Jean-Nicolas,

Could you provide examples of what would look like a generic/inituitive version in your view ?

On my side I'm thinking of something like:
[code]

[2017-10-26 07:30] matthieu-nesme commented on #495
To me, the real question is do we want to keep float+double at the same time?
I.e. do we want to be able to have double dofs mapped from float dofs themselves mapped from double dofs?

A simple typedef for SReal would be so easy...

Otherwise the graal would rather be to keep only float everywhere, and having just a few double where it is really necessary for numerical precision.

[2017-10-26 07:33] maxime-tournier commented on #495
@matthieu-nesme that's precisely what I'm hinting to: having a single typedef for `SReal` and keeping only the needed exact types for e.g. `ExtVec3fTypes`.

[2017-10-26 07:49] jnbrunet commented on #496
This is pretty close to what I had in mind. Maybe call (or alias) the component with simply... "MarchingCube". It would become easy to find for everybody. Like you said, at the same time we could clean (refactor, delete) the other implementations of MarchingCube variations . Then a simple grep on the code from a new Sofa user  would outline the "MarchingCube" component and welcome him in the commu

[2017-10-26 10:03] #435 closed, assigned to nobody

[2017-10-26 11:02] jnbrunet commented on #492
Hey @maxime-tournier ,

You bring valuable points here. You are absolutely right, it is not that trivial, I'm starting to see it now. Here is what I observed during my tests (I'm working part time on this, it is entirely possible that I come back later to correct those statements of mine :) )

Yes. I'm usually leaning towards making most of the functions available and let the script use what it ne

[2017-10-27 09:06] damienmarchal commented on #496
Actually I have two implementation to generate surface from implicit field. One is marching cube, the other is using CGAL. This is why I gave a rather generic name instead of the name of the underlying algorithm.

[2017-10-27 09:39] damienmarchal commented on #495
So if I understand you maxime the idea is to have:
SReal  to be switched via a define
Vec3    that is using SReal
Vec3d  that is using double
Vec3f   that is using float

And at the same time dropping the SOFA_FLOAT/SOFA_DOUBLE if def that are there to, as mathieu said, mix in the same scenes component in Vec3f & Vec3d.

[2017-10-29 15:10] maxime-tournier commented on #495
@damienmarchal I would drop `Vec3d/Vec3f` altogether and only use `Vec3`. There would be no mixing of `Vec3f` and `Vec3d` since they would not even exist!

When `float` or `double` is needed for a precise use-case one can always use `ExtVec3f/ExtVec3d` instead (e.g. opengl). It seems to cover all the needs, but maybe I am missing something?

[2017-10-30 08:30] matthieu-nesme commented on #495
`ExtVec3f/ExtVec3d` is not enough.
In the most general case, you could want a part of the simulation in float and another one in double (where the dofs can be anything, vec1, deformation gradients...)
Optionally each one with their own solvers, but not necessarily, mappings can map from float to double.
I think remembering that this was important for GPU/CUDA simulations to be able to map to float

[2017-10-30 08:34] matthieu-nesme commented on #495
@damienmarchal

That is exactly the case right now! Vec3fTypes/Vec3dTypes/Vec3Types - Rigid3fTypes/Rigid3dTypes/Rigid3Types

[2017-10-30 09:36] maxime-tournier commented on #495
@matthieu-nesme

But do we *actually*? Did we ever use this feature in the past, apart from mapping external vectors (as I said, for Cuda, OpenGL and the likes)?

[2017-10-30 10:44] matthieu-nesme commented on #495
Who is *we*?
The feature was used ; removing it has already been discussed many times and refused.

I think the problem was: our code (e.g. CGSolver) is not numerical robust in single precision so we need to use double precision implementations, but some part of the code is (was) single precision only (e.g. Cuda forcefields).

Once again the real point is why using double precision when single flo

[2017-10-30 11:23] maxime-tournier commented on #417
While refactoring a bit, I also stumbled upon the `typedef` plugin, which automatically couples every potential test file with every single include file through `<typedef/Sofa_typedef.h>`.

Why is there such a plugin? Why not simply have plugins define their own `typedef.h`?

And more importantly why are we aggregating typedefs *across* modules boundaries? This completely defeats modularity which

[2017-10-31 09:38] #493 closed, assigned to nobody

[2017-10-31 09:42] #491 closed, assigned to nobody

[2017-10-31 10:57] vmagno commented on #495
I just did a quick test in a simple scene (horizontal beam with downward force at one end), and the Newton static solver does *not* converge with the TetrahedronFEMForceField in single precision, using a CGSolver in double precision. The problem may be with the addDforce function used by CG, but it would need some more investigating. So basically, we can't simply switch to single precision without

[2017-11-02 18:07] ErwanDouaille opened #508 "How to get argv from a subclass of BaseGUI ?"
Hey,

I'm working on a GUI recorder and I would like to fetch the argv from the main. Is that is possible ?
From BaseGUI there is a virtual function named InitGUI with a vector of option. Should it be the equivalent of argv ? Actually options is empty.

There is anything I could do from the GUIManager ?

Thanks for helping :)

______________________________________________________

Suggested label

[2017-11-04 09:51] romainla opened #509 "Bug opening scene file Windows 8"
Hello,

I am working on Windows 8 and Sofa v17.06 has a segmentation fault when opening a scene file. Consequently, the program instantly crashes.

Have you already heard about this kind of bug?

Best regards

______________________________________________________

Suggested labels:

[2017-11-06 09:37] guparan commented on #509
Hi @romainla
Many thanks for your report. We are not aware of this bug.
Could you detail the steps to reproduce it and the output you got?
Cheers

[2017-11-06 09:55] #508 closed, assigned to nobody

[2017-11-06 10:09] damienmarchal commented on #495
Thanks all,

Matthieu pointed that "The feature was used ; removing it has already been discussed many times and refused" but having something discussed or used (a long time ago) shouldn't be an argument not to "refresh" the discussion (in the last 10 years things have changed in term of hardware as well as we have now more insight on the intrusiveness of the selected approach). Having the feature

[2017-11-06 16:37] guparan commented on #496
Hey @damienmarchal is this issue over? If not, could you label it please?
BTW it would have been nice to post this on [SOFA Forum](https://www.sofa-framework.org/community/forum/) ;-)

[2017-11-07 09:47] #434 closed, assigned to nobody

[2017-11-07 09:48] guparan commented on #418
@damienmarchal could you please use the Doc page I created instead? This issue is lost in the wild...

[2017-11-07 09:49] #418 closed, assigned to nobody

[2017-11-07 09:58] #336 closed, assigned to nobody

[2017-11-07 10:02] guparan commented on #463
Actually this is not fixed. See https://ci.inria.fr/sofa-ci/job/ubuntu_clang-3.8_options-debug/520/testReport/

[2017-11-07 10:28] damienmarchal commented on #463
Probably because:
[ERROR][PluginManager] Plugin not found: "SceneCreator_d"

[2017-11-07 10:37] fjourdes commented on #463
Regarding this "_d" stuff
- apparently it is possible to set it globally ( see https://cmake.org/cmake/help/v3.4/variable/CMAKE_CONFIG_POSTFIX.html#variable:CMAKE_%3CCONFIG%3E_POSTFIX and https://cmake.org/cmake/help/v3.4/variable/CMAKE_DEBUG_POSTFIX.html ) even though apparently it does not work for executables ( see https://stackoverflow.com/questions/28893450/how-to-get-debug-postfix-in-executa

[2017-11-07 10:45] damienmarchal commented on #463
@guparan & @fjourdes
Can someone be in charge of solving this ?

[2017-11-07 12:42] guparan commented on #463
@fjourdes
- The SOFA_LIBSUFFIX variable is only used by PluginManager to find a lib. The problem here is that we are in a debug build and some libs like SceneCreator are not suffixed with "_d". I don't see where SOFA_LIBSUFFIX would be helpful.
- Not yet for #502. Will do asap...

@damienmarchal
I'm on it. Quick and easy fix is to add `set_target_properties(${PROJECT_NAME} PROPERTIES DEBUG_POSTFIX

[2017-11-07 12:52] guparan commented on #463
@fjourdes Just read #490 and indeed I bumped on the same design issue while resolving SceneCreator's problem. So, do you think it is better to add `set_target_properties(${PROJECT_NAME} PROPERTIES DEBUG_POSTFIX "_d")` in the lib's CMakeLists (like I did, PR to come)?

[2017-11-07 13:15] fjourdes commented on #463
- Regarding your first comment:
The second point had indeed nothing to do with the actual issue. I was just mentionning that it may be beneficial to use CMAKE_DEBUG_POSTFIX as the default value - provided it is not an empty string - for SOFA_LIBSUFFIX in terms of portability, "_d" being the fallback default value if CMAKE_DEBUG_POSTFIX is empty.
On the main CMakeLists.txt, CMAKE_DEBUG_POSTFIX coul

[2017-11-07 14:53] guparan commented on #463
Ok so we could get rid of a lot of `DEBUG_POSTFIX` by using `set(CMAKE_DEBUG_POSTFIX _d)` in SofaFramework's CMakeLists and handling executables with `set_target_properties(${PROJECT_NAME} PROPERTIES DEBUG_POSTFIX ${CMAKE_DEBUG_POSTFIX})`. Good to know!

[2017-11-08 14:12] #463 closed, assigned to nobody

[2017-11-09 11:42] ErwanDouaille opened #512 "ArgumentParser, limitations with short argument name"
While trying to add new options, I encounter the problem of adding new short argument names with consistency. The thing is, right now you have to design your option by using a short name (a char) and a long name (a char*).
But many options already exist. Finding a non used char which is consistent for an option is quite difficult. By reading existents short names, I assume I'm not the first one en

[2017-11-10 14:19] guparan commented on #462
@sebastiennelissen, any progress on this issue?
@damienmarchal could you milestone it to v17.12 or v18.06?

[2017-11-10 14:32] guparan commented on #445
Hi @flargilliere, sorry for the late answer.
Tutorials have been broken since the start of [pluginization work](https://github.com/sofa-framework/sofa/pulls?utf8=%E2%9C%93&q=is%3Apr%20pluginize).
They indeed need a massive fix+cleanup but unfortunately this is not in our task list for the moment (at least until v17.12).
See https://github.com/sofa-framework/sofa/pull/453 and https://github.com/sof

[2017-11-10 14:34] #420 closed, assigned to nobody

[2017-11-10 14:40] guparan commented on #352
CGAL is now enabled on CI for configs mac_clang-3.4_options, ubuntu_gcc-5.4_options, ubuntu_clang-3.8_options and ubuntu_clang-3.8_options-debug.
Thus, I close this issue :-)

[2017-11-10 14:40] #352 closed, assigned to nobody

[2017-11-10 14:42] guparan commented on #308
HI @epernod, any progress on this issue? Could you please milestone it to v17.12 or v18.06? Thanks.

[2017-11-10 14:47] guparan commented on #238
@marques-bruno, @damienmarchal, any progress on this issue?

[2017-11-10 14:57] damienmarchal commented on #238
OUps sorry I totally forgot that as I spend more time on github than on the qtsofaquick gitlab.

[2017-11-10 15:04] guparan commented on #512
I totally agree and would upvote such a PR. Actually I wonder how could this not have been discussed already.

[2017-11-10 15:05] guparan commented on #512
@ErwanDouaille is the feature ready on your side? Do you plan to open a PR?

[2017-11-10 15:22] ErwanDouaille commented on #512
I didn't do anything right now. But I was thinking how we could change it.

For the char length problem it's quite simple, but i think we need to refactor a lot of things in it.

By example, one cool feature would be to be able to add arguments without changing main.cpp. Like adding a virtual function to BaseGUI and let subclasses having the ability to add options.
The main.cpp will still have bas

[2017-11-10 22:29] flargilliere commented on #445
Well it's not critical at all to me (4 years of Shacra-Defrost work with the code and simulation tool)

I just saw that the tutorials are out of the releases so I understand that the coming soon 17.12 is more important now.

However, these tutorials are the direction new interns (or other new people) are given to discover Sofa. Therefore, I think that ensuring the good functionality of this tool/s

[2017-11-15 10:04] #130 closed, assigned to nobody

[2017-11-15 10:04] damienmarchal commented on #130
The PR seems to be fixed in #119 so it is close.

[2017-11-15 14:31] damienmarchal opened #517 "Call for new having new EXPERIMENTAL features in 17.12"
Hello,

I think it would be great (if not mandatory) to have in this release of Sofa new features and not only bug fixes.

To make that possible I suggest to use the  SOFA_WITH_EXPERIMENTAL_FEATURES options to conditionally activate plugins or component that are in their way for integration but are not considered as stable enough or that may be subject to API change in 18.06. Those should print a

[2017-11-16 09:51] guparan commented on #145
Fixed by #364
Double incrementation was due to a mistake changing a while into a for. See 44ca866ec17a4c6fcb9facec338423e3d2b3f4c4

[2017-11-16 09:51] #145 closed, assigned to guparan, courtecuisse, JeremieA, ChristianDuriez

[2017-11-17 09:40] damienmarchal commented on #517
Do any of you have any suggestion for this topic
@hugtalbot, @guparan, @bcarrez, @fredroy, @epernod  and others ?

[2017-11-17 10:36] bcarrez commented on #517
I think this has some benefits:
- the features are already merged in the master branch and *should* work without the hassle of merging different dev branches
- they are OFF by default, so they are not disturbing anyone

But we should take care of the following:
- they must be tested (at least ONE ci config should activate them)
- they are not meant to stay "experimental" forever, so there is an im

[2017-11-23 09:25] marques-bruno commented on #238
Could someone test on windows / mac with an intel graphics? @guparan maybe?
I need to find out if I have to fix that as a cross-platform or linux-specific issue.

[2017-11-24 16:25] maxime-tournier opened #528 "Buffer Overflows"
Hi all,

Just to let you know that enabling [AddressSanitizer](https://clang.llvm.org/docs/AddressSanitizer.html) revealed a nice buffer overflow in `Base.cpp:132`, where a data name prefix is checked "unconventionally"  (to say the least), which of course fails for short strings (think "dt" in nodes, for instance).

I'm not filing a PR because we removed the whole auto-grouping-data-by-name-prefi

[2017-11-25 14:20] untereiner opened #529 "Data field as private in a class"
I am wondering why the fields `nbPoints` and `points`in [PointSetTopologyContainer](https://github.com/sofa-framework/sofa/blob/463ad43061881fb94efc4366a80e3d1f9e99c4a1/SofaKernel/modules/SofaBaseTopology/PointSetTopologyContainer.h) are of type Data _and_ private in the class. They can not be directly accessed from the outside. They could also be a simple `unsiged int` and `helper::vector`... Is

[2017-11-27 09:01] damienmarchal commented on #528
Hello, Maxime,

Thanks a lot for the report.

Appart from the unconventional way to test strings on my side I fully support the idea of removing the group by prefix feature for two reasons: the first one is that I prefer explicit things vs implicit one.

PS: you don't need to argue :)

[2017-11-27 09:50] maxime-tournier commented on #528
No problem, I'll do my best to rebase my fixes here in a PR.

As for the buffer overflow, it's definitely not a serious one (read-only, static size) but it aborts execution when compiled with address sanitizer, which prevents further bug discovery.

Another show-stopper in SofaCUDA, `CudaBarycentricMappingRigid.cpp:50`, ODR violation:

[code]

Fix is simple: remove the `SOFA_DECL` as it's defined

[2017-11-27 14:02] oalii opened #531 "[SofaPython] Cannot import numpy (multiarray) on MacOS"
Hi all,
I installed Sofa (v=17.06, with the Sofapython, Compliant, Image and Flexible pluggins) in a conda environment (conda 4.3.30 with python 2.7.11, numpy 1.13.3)  on my computer (macOs 10.13.1). The installation apparently worked fine but when I  run a python file it crashes while importing numpy.
More specifically, the crash happens as the framework tries to import the first C++-based module

[2017-11-27 14:31] maxime-tournier commented on #531
Hi there,

I would bet on a mismatch between system python and user-installed python (osx, right?)

You can probably find out by printing `sys.path` from a test sofa scene, and from a regular python script. If the path for the standard lib don't match you should see it, then adapt the python path in the cmake command.

[2017-11-27 14:39] oalii commented on #531
Hello,

I tried that already and unfortunately, I did not see any significant difference (or I missed something...), see below:
From Sofa:
[code]
From iPython:
[code]

[2017-12-01 09:32] damienmarchal commented on #517
Some news from DEFROST for 17.12
- I'm still working hard one SofaImplicitField & PSL
- Bruno will make an extra effort to finalize the PR of a SofaPython3 plugin.
- Erwan will do the same for the Communication plugin.
And Eulalie splitted ou soft-robots plugins in a public and a private part (the pattented one) so we can release it.

And you.. what are your plan for 17.12 ?

[2017-12-04 14:50] ErwanDouaille opened #535 "Duplication line in Cmakelist qt"
https://github.com/sofa-framework/sofa/blob/44c4f5bce79acdb36c120148d2cea1717c0c2c58/applications/sofa/gui/qt/CMakeLists.txt#L203

I don´t know why but two lines are identical. With or without the if, they both does the same result.
The spotted one and the line above it.

[2017-12-05 10:54] ErwanDouaille commented on #464
It looks like this issue have been fix

[2017-12-05 11:04] damienmarchal commented on #196
This is now merged through the use of _DOC version of the macros...please use it :)

[2017-12-05 11:04] #196 closed, assigned to damienmarchal

[2017-12-05 11:55] damienmarchal commented on #462
Hi all,

I tried by cannot reproduce anymore the issue with
[code]

So I suggest to clost it until someone can provide a failing example.

[2017-12-05 11:55] #462 closed, assigned to damienmarchal

[2017-12-06 08:43] damienmarchal commented on #496
Done...but the PR still remains to be done :)

[2017-12-06 08:43] #496 closed, assigned to nobody

[2017-12-06 09:29] #413 closed, assigned to nobody

[2017-12-06 09:40] damienmarchal commented on #41
This work is not active on our side because saving is handled by the PSL side.
So I close the Issue.

[2017-12-06 09:40] #41 closed, assigned to nobody

[2017-12-06 09:43] #9 closed, assigned to nobody

[2017-12-06 09:44] #247 closed, assigned to fredroy

[2017-12-06 09:48] ErwanDouaille commented on #535
@thomas-lemaire can you help ?
Related to : https://github.com/sofa-framework/sofa/commit/d24626e94b4153632897de1c43cfd30a88062a00#diff-f49ce4e9ac50104a4e4d86c9bf4036fb

Thanks

[2017-12-06 09:48] damienmarchal commented on #426
STC4 is over, this discussion is now to be continuated in SofaNG.
#247

[2017-12-06 09:48] #426 closed, assigned to nobody

[2017-12-06 09:49] damienmarchal commented on #427
STC4 is over, this discussion is now to be continuated in SofaNG.
#247

[2017-12-06 09:49] #427 closed, assigned to nobody

[2017-12-06 09:51] fredroy commented on #481
This will require some work in QGLViewer (for sure not ready before the end of 2017).
Moreover, a new GUI is supposed to replace the current one so for now, it has been decided to give up on this feature. We close this issue and but one can reopen it if he is motivated to solve it.

[2017-12-06 09:51] #481 closed, assigned to nobody

[2017-12-06 09:54] damienmarchal commented on #203
No volonteer...so let's close it now.

[2017-12-06 09:54] #203 closed, assigned to guparan, damienmarchal, bcarrez

[2017-12-06 10:50] thomas-lemaire commented on #535
Sorry, I am not using any more this qt part of sofa
just reading, obviously just remove the if(), it does not help in anything !

[2017-12-06 13:02] ErwanDouaille opened #537 "[runSofa] HeadlessRecorder"
HeadlessRecorder is, as its name suggest, a new gui plugin who allow users to records sofa visualisation without any windows (batch only)

⚠ Linux only ⚠

______________________________________________________

Suggested labels:

[2017-12-06 13:05] #512 closed, assigned to nobody

[2017-12-06 15:36] ErwanDouaille commented on #517
Let's add https://github.com/sofa-framework/sofa/issues/537 ? (linux only)

[2017-12-07 13:10] jnbrunet opened #539 "CGLinearSolver does not converge anymore"
This bug seems to have been introduced by 0ae8f64fc7145417bb528af039b1b9bd30dfb247

To reproduce the bug, the following scene should normally converge.

[code]

______________________________________________________

Suggested labels:

[2017-12-08 12:56] ErwanDouaille commented on #509
@romainla  Can you specify which visual version are you using ?
I will try with the binaries

[2017-12-08 13:15] ErwanDouaille commented on #509
The 17.06 exe run fines on win8.

[2017-12-11 13:56] guparan commented on #464
Not really, #461 was a quick fix.
The real fix is to update libQGLViewer to latest version.

[2017-12-11 14:09] guparan commented on #535
Indeed with https://github.com/sofa-framework/sofa/commit/d24626e94b4153632897de1c43cfd30a88062a00#diff-f49ce4e9ac50104a4e4d86c9bf4036fb the whole if block should have been removed :-)

[2017-12-11 14:12] guparan commented on #537
Could we close this issue as it seems redundant with #538 ?

[2017-12-11 14:13] #537 closed, assigned to nobody

[2017-12-12 13:12] guparan commented on #428
Coding sprint is over, let's continue merging issofa_* branches progressively

[2017-12-12 13:12] #428 closed, assigned to nobody

[2017-12-12 13:15] guparan commented on #245
A first version of SOFA-NG has been released in https://github.com/sofa-framework/sofa-minimal-poc
Please note that this is an experimental work.

[2017-12-12 13:15] #245 closed, assigned to hugtalbot

[2017-12-12 13:16] #226 closed, assigned to fredroy, hugtalbot

[2017-12-13 13:35] guparan opened #543 "SOFA-NG: Roadmap"
Dear SOFA community and @sofa-framework/reviewers,

As you know, one of our main objectives is currently to propose a major evolution of SOFA: this is the project "SOFA-NG", standing for Next Gen.
Let us give you some insight about the final plan and the steps to reach these objectives. Any feedback is welcome.

## Objectives

The final objective of SOFA-NG is to refactorize the current (non-core)

[2017-12-13 14:23] damienmarchal commented on #543
Thank Guillaume for the effort you are doing on this hard task.

For curious people here is a small test we did on how things could look like
on the "pluginization" side (the idea is to be closer to python modules):
https://github.com/SofaDefrost/sofa/blob/addModule/applications/pluginsNG/README.md

[2017-12-19 14:29] guparan commented on #509
I close this for now. If you still have any issue with Windows 8, feel free to re-open with some output.

[2017-12-19 14:29] #509 closed, assigned to ErwanDouaille

[2017-12-20 10:13] damienmarchal commented on #539
Is there any progress here ?

[2017-12-20 10:14] epernod commented on #308
@hugtalbot , here is the code that shift the positions:
.cpp:794 (in my version)

[code]

Xmax = 1 and xMin = -1, so diff = 0.02 which is added to the BB.
I think the idea is to encapsulate the positions of the mesh with the grid. So the BB is increased to be sure no points are missed.

[2017-12-20 10:21] damienmarchal commented on #517
@guparan, @hugtalbot
I really would like to see new features for the 17.12 release and to me this is more important that having the 17.12 release released in 2017 ;)

So please @ErwanDouaille , @bcarrez (and me) please finish your work.
For those that have nearly finish work please make a PR in the WIP state so that we can see.

For the binary distribution... i think that the pre-build binaries ma

[2017-12-20 18:28] ErwanDouaille commented on #517
@damienmarchal, headlessrecorder is ready.

For the communication plugin I found à bug in zmq matrix support. And I'm in holiday.

[2017-12-27 15:39] damienmarchal commented on #539
Hi all, it appears that PR #521 breaks several scenes.
I'm fixing that in PR: #548

In some of the problematic scenes  the mechanical object does not have a mass so it was simply fixed by adding one.

For examples/Components/forcefield/TetrahedronDiffusionFEMForceField.scn I'm not sure the zero mass is the cause of the problem.

@hugtalbot any idea ?

Now more fundamentally I'm puzzled by the
[cod

[2018-01-03 14:39] ErwanDouaille opened #551 "[runsofa] -a start option does not work with qt views"
-a start option does not work with qt view
The parameter is well set to true with argument parser but not correctly used by qt.

@damienmarchal I think we already talk about that, like qt create the button then set false the animation with the signal.

______________________________________________________

Suggested labels:

[2018-01-03 14:49] ErwanDouaille opened #552 "[runsofa] -a -n conflict for batch"
When you run -g batch (the batch version) the -n iteration is set to the default value and stop at 1000 (default value).

But in some case you might want to run a scene in batch mode until your scene stop or crash by itself. Then you try to use -a instead of -n. But -n is used by default in batch view.

______________________________________________________

Suggested labels:

[2018-01-05 11:31] epernod commented on #308
in fact I don't really see where this margin is used as the _min and _max are computed from the vertices.
I don't see where _min and _max are used to encapsulate the vertices... The only read access is in SparseGridTopology::buildVirtualFinerLevels()

I see two solutions:
- The bourrin version: we remove this shift in a branch and check the tests.
- The pétochard version: we duplicate the min and

[2018-01-05 17:49] epernod opened #557 "Bug when 0 gravity in root Node"
Take for example the scene: Demos/Liver.scn
Change the gravity of the root node:
<Node name="lroot" gravity="0 0 0" dt="0.02">

As soon as the simulation start, the liver disappears... No error message in the console, neither on the components.

Does someone has an idea?

______________________________________________________

Suggested labels:

[2018-01-05 17:56] epernod commented on #557
This bug has been introduce in the last month approx.

[2018-01-05 23:21] #464 closed, assigned to nobody

[2018-01-08 09:37] epernod commented on #308
this means that in your case when you load the cube.obj of size 2x2x2, by default the BB will be increase. If you want to keep the accurate size of your mesh you need to know min and max...
Or do I miss something?

[2018-01-09 17:46] hugtalbot opened #558 "RequiredPlugin : non working on Windows10"
HI guys

several users are giving us feedback about the RequiredPlugin which is not working.
The plugin (dll) is not loaded and the associated components obviously can't be created.

Any hints ?

______________________________________________________

Suggested labels:

[2018-01-09 19:40] damienmarchal commented on #558
I have no idea...is this the current master or the pre-build ?
Since last release there was some change on RequiredPlugin (issofa_, ...)

Anyhow thanks for reporting....we will investigate.

[2018-01-14 18:46] #357 closed, assigned to nobody

[2018-01-16 09:20] damienmarchal commented on #558
Hi Hugo,
We have ppl at Defrost that also seems to have a problem with path
"build_dir/bin/share/" instead of "build_dir/share"  ...

[2018-01-16 12:42] ErwanDouaille opened #561 "windows 10 many files not found"
When building runsofa (master version 16/01/18) it crash at runtime.

Plus, I had many troubles compiling it. I have to uncheck PSL (require SofaPython), but when SofaPython is checked there is many link problems. Finally, I both unchecked them.

______________________________________________________

Suggested labels:

[2018-01-16 15:07] guparan commented on #561
Hi @ErwanDouaille
Where was created `plugin_list.conf.default`? In `C:\sofaBuild\bin/bin` or in `C:\sofaBuild\bin`?

[2018-01-16 15:10] ErwanDouaille commented on #561
This bug may affect every windows VS builds.
@guparan we investigate and found than the problem come from visual studio build directory named Release/Debug. I´m testing my PR and see if everything works well.

I added some specific MSVC code inside the main CMakefile to enforce VS to not create release/debug directory.

[2018-01-16 17:37] damienmarchal commented on #561
A  quick summary of this problem.

1) There is multiple variation of this problem and It impact several people at Defrost.
But the underlying idea is that we are using the executatable location to deduce the plugin & data location (normally EXEC_LOC/../bin or EXEC_LOC/../share). The problem is that when building with recent VS, VS adds and extra directory (Release or Debug) so the "../" in  "../bi

[2018-01-16 17:40] damienmarchal commented on #558
@ErwanDouaille & @guparan are discussing in a new issue #561.
The problem is spotted...and we should have a fix tomorrow :)

[2018-01-16 17:40] damienmarchal commented on #558
(I close the issue as this is duplicated #561)

[2018-01-16 17:40] #558 closed, assigned to guparan

[2018-01-16 17:41] damienmarchal commented on #539
This is now fixed & merged. So we can merge the issue.

[2018-01-16 17:41] #539 closed, assigned to nobody

[2018-01-16 17:42] damienmarchal commented on #557
The PR are merged...so it should work.

If it doesn't feel free to reopen if you still have the problem.
Thank you all for the bug report & solution.

[2018-01-16 17:42] #557 closed, assigned to nobody

[2018-01-16 20:25] damienmarchal commented on #517
News feature  are now for 18.06. I close the issue

[2018-01-16 20:25] #517 closed, assigned to nobody

[2018-01-17 09:27] fjourdes commented on #561
Just my 2 cents: On windows platform would having the current directory instead of "../bin" resolve the issue ?
As it was done in 15e6436ec82a2ef857a5a21e2194a55820c37526

[2018-01-17 09:40] damienmarchal commented on #561
François is right but isn't doing this will only fix the find plugin problem... this can be problematic as there is other part of Sofa that are using the executable with relative path to locate resources directory (eg: GuiDataRepository).

[2018-01-17 09:48] fjourdes commented on #561
Hmm I don't know the specifics, but usually config files used to initialise paths exist in two versions, one for the build tree, and one for the install tree.
- On the build tree you can do pretty much what you want and use absolute paths.
- Only the install tree requires relative paths, so that it is portable.

So technically if you use configuration files for the lookup of the directories where

[2018-01-22 08:23] mariabul opened #569 "error when trying to open a SOFA scene via command line"
I could not open a SOFA scene using the following command line as per the documentation guidelines:

ls applications/plugins/SofaPython/examples/fontain.scn
applications/plugins/SofaPython/examples/fontain.scn

runSofa applications/plugins/SofaPython/examples/fontain.scn
[ERROR]   [XMLParser] Failed to open applications/plugins/SofaPython/examples/fontain.scn
Failed to open file at line 0 row 0

T

[2018-01-22 10:32] guparan commented on #569
Hi @mariabul, welcome to the SOFA Community :-)

Please paste your issue on [the SOFA Forum](https://www.sofa-framework.org/community/forum/section/user-forum/using-sofa/) and do not hesitate to add some context (SOFA version, Python version, ...) to help locating the problem faster!

Thanks

[2018-01-23 10:42] #400 closed, assigned to maxime-tournier, matthieu-nesme, bcarrez

[2018-01-23 10:56] sergeiNikolaev opened #571 "[runSofa] error in caduceus.scn sofa scene."
In removing the gravity in root node on caduceus.scn scene and then pressing button "Reset Scene" the snake disappears and computations falls down in infinite circle with message:

[WARNING] [MinProximityIntersection(Proximity)] WARNING: null distance between contact detected

______________________________________________________

Suggested labels:

[2018-01-24 09:30] epernod opened #574 "Check how positions should be set in CubeTopology"
Historically Setting a CubeTopology with nx, ny, nz was creating the topology elements but not the positions vectors.

This has been changed in commit: https://github.com/sofa-framework/sofa/commit/47ef2e63a80cda787fd4c61c04580e22ecd56e2e

Need to check code if it was a bug or if the component needs to be used in another way.

[code]

______________________________________________________

Suggest

[2018-01-24 14:18] damienmarchal commented on #569
Здравствуй @mariabul

The [ERROR] [XMLParser]  means that the error was emitted by the xml parser. Having such error indicates that the content of the file you are trying to parse is considere as invalid xml content.

This happens when the file is empty or there is missing closing tag ```xml </>``` and all those kind of things. So  I know it is trivial but can you first check that the content of t

[2018-01-25 10:07] #561 closed, assigned to guparan, ErwanDouaille

[2018-01-25 14:30] margaretkoehler opened #577 "[runSofa] Unable to find file from GuiDataRepository"
I'm using Windows and compiling with Visual Studio. Thanks for the fixes made with PR #568 . I think there's one line that still needs to changed. When I ran the updated version, I received the following error:

[ERROR]   [FileRepository] File docs/runsofa.html NOT FOUND in :C:\git\sofaframework\sofa\master\build\bin/share/sofa/gui/runSofa/resources/:C:/git/sofaframework/sofa/master/build/share/so

[2018-01-25 16:35] ErwanDouaille commented on #577
Thanks for reporting this issue @margaretkoehler.

Does it fix the problem ? If yes, we need to test it on other OS.

I will investigate it tomorrow afternoon during the coding friday. Feel free to join us for helping :)

[2018-01-25 17:17] #569 closed, assigned to nobody

[2018-01-26 09:42] guparan commented on #577
Thanks for pointing that @margaretkoehler. I tried to propagate my change everywhere but it seems I forgot some part 😅

[2018-01-31 09:55] marques-bruno opened #581 "[MechanicalObject] Non-mapped MechanicalObjects influencing the solvers"
Hi,
When adding a MechanicalObject in a subnode of one containing a solver, its positions are taken into account by the solver (addKToMatrix) even if it is not mapped to the MechanicalObject in the solver's node.

I am not sure that this makes sense, but if it does, a little warning message seems necessary to avoid spending time (hours in my case, as physics is not my strong suit...) searching for

[2018-02-02 11:30] guparan commented on #577
Fixed by #578

[2018-02-02 11:30] #577 closed, assigned to guparan, ErwanDouaille

[2018-02-05 09:13] ErwanDouaille opened #582 "How to properly clone a BaseData ?"
I'm trying to properly copy/clone some BaseData and I was wondering what should be the best implementation.

Does a pure virtual clone function + a Basdata(BaseData) constructor is the best thing to do ?
There is any way to do it easily ?

Thanks for your help.

______________________________________________________

Suggested labels:

[2018-02-07 10:07] ErwanDouaille commented on #582
What have been said during the meeting
Use copyvaluefromparent content in clone function + deepcopy without the use of parents

[2018-02-12 14:53] ErwanDouaille commented on #582
It looks like:  "explicit Data(const BaseData::BaseInitData& init)" allow you to easily copy data without value. Then you can add a parent and update value from the parent value.

But, this is not what I'm looking for since BaseInitData flag the parent data's owner to add the new data. Meaning you can have troubles when inspect the component with two data having the same name (crash).

So, I decid

[2018-02-12 14:53] #582 closed, assigned to guparan, ErwanDouaille, matthieu-nesme, damienmarchal, JeremieA, hugtalbot

[2018-02-13 10:52] ErwanDouaille opened #589 "[SofaKernel] Node.h animate function commented"
Just browsing Node.h, I found there is an animate function which is commented. I browsed the file history but didn't find when it have been comment.

What was the use of it ? Should we remove it (cleaning :) )?

Line : https://github.com/sofa-framework/sofa/blob/master/SofaKernel/framework/sofa/simulation/Node.h#L133
______________________________________________________

Suggested labels:

[2018-02-15 13:15] #535 closed, assigned to thomas-lemaire

[2018-02-17 07:02] rkrasin commented on #528
I've been hit by this too.
Here is the stack trace I've got:

[code]

The code to blame (as pointed in the first message) is Base.cpp:128:

[code]

I propose to fix it in a simple, though, not very elegant way:

[code]

Shall I create a PR like that?

I am currently tracking down some real issue with SOFA crashing on a VTU input, and having this buffer overflow on my way is a distraction. While it

[2018-02-21 09:06] damienmarchal opened #597 "Updating the dependency graph of component & data/"
Hi all,

There has been quite a lot of discussion recently about how the to implement update mecanisms.
There is of course the DataTracker, but we are quite a lot to implement complementary mecanism in our respectives plugins so it may be a good idea to see what can be factorized into SofaCore. To do that it would be nice to have examples / snippets / draft of the different approaches we have test

[2018-02-21 09:38] damienmarchal commented on #597
From gitter:
[code]

The idea here was to allow users to add different, per data callback function still allowing
a way to implement a "centralized" update.  The idea was also to specify in the initData which data are "cached" and thus should trigger update/reinit on change.

[2018-02-21 10:03] damienmarchal commented on #597
From discussion @bruno-marques
A kind of DataEngine that detect changes and propagates idleevent on child.

I let bruno explain ;)

Question: what is the difference between DataEngine/ImplicitDataEngine ?

[2018-02-21 10:07] damienmarchal commented on #597
Plugin SofaCoreAsync
https://github.com/SofaDefrost/sofa/blob/pluginSofaCoreAsync/applications/plugins/SofaCoreAsync/Sofa/Core/Async/tests/AsyncComponentTracker_test.cpp

Associate to the component a Data<'state'>. This data state can be used to keep track of component state change and propagate lazy update so that the component that depend on other can be updated appropriately. The general design

[2018-02-21 10:08] damienmarchal commented on #597
Hand made tracking

By adding a DataTracker to each component and either overload the HandleEvent function or specific overloads from BaseObject(draw/drawVisual/etc...) to check if the tracked data have changed and trigger an update function if this is the case.

[2018-02-21 10:46] damienmarchal commented on #597
Some references:
- https://en.wikipedia.org/wiki/Dataflow_programming
- Blender's node co-exists with Blender SceneGraph https://docs.blender.org/manual/en/dev/editors/node_editor/introduction.html#interface (node is only for the shading... but object modifier on the geometry is using a "stack" based approache to express a linear relationship).
- https://solarianprogrammer.com/2012/10/17/cpp-11-as

[2018-02-21 13:13] damienmarchal commented on #597
A centralized appraoch in its own branch (with a dedicated visitor instead o "hijacking animationstep & idle)).
https://github.com/SofaDefrost/sofa/tree/addUpdateTriggerByData

[2018-02-21 21:12] marques-bruno commented on #597
Here's a small test class that displays the different features I implemented in that ImplicitDataEngine mother class of mine:

[code]

And here's what happens in the base class:

- The SOFAOR_CALLBACK_SYSTEM is a macro that creates a callback functor:
[code]

When reinit is called on the component, all callbacks are called and the update class is called (maybe it's a mistake, maybe only the callba

[2018-02-22 10:08] damienmarchal commented on #597
thanks @bruno-marques for sharing and all the details.

[2018-02-22 15:14] #480 closed, assigned to nobody

[2018-02-22 17:58] abhikrsagar commented on #552
If I understood the issue correctly, so we want to avoid conflict of -a and -n for batch version. For this we can prioritize -a  over -n in batch mode i.e. if -g and -a are encountered then override the default -n otherwise -n will suffice.

[2018-02-22 18:23] ErwanDouaille commented on #552
Exactly, this is simple but it need to be discussed :)

[2018-02-22 19:56] abhikrsagar commented on #552
Awesome so how to proceed on this. Shall I make a PR?

[2018-02-23 08:14] ErwanDouaille commented on #552
Yes. Create a PR. Each Wednesday morning the dev team will review PR and decide if it can be merge or not.

The file to modify for this issue is named batchGUI

[2018-02-23 08:28] abhikrsagar commented on #552
Awesome. I will create a PR.

[2018-02-26 17:49] marques-bruno opened #600 "[RunSofa] Grabbing the OpenGL viewport"
Hi guys,

I coded a component a few months ago that was designed to grab the OpenGL window of Sofa. It was pretty simple, a glReadPixels on the GL_VIEWPORT, and it was working fine.
Today though, I ran a scene that was using this component, and noticed that it isn't only grabbing the sofa scene, but also the whole user interface.

I know the old GUI is destined to dissapear slowly, but the issue w

[2018-02-26 19:08] ErwanDouaille commented on #600
From what I understand, you want to grab images from a sofa scene wihtout the GUI and without the QT gui ? If yes, the headlessRecorder might be a good solution.

I don´t know how the current gui works so I can´t help :/
In my opinion. it depends of QT. QGLWidget + QGLFrameBuffer might be the trick.

From your idea, I like the "component" design. Be able to grab opengl context from any QWidget doe

[2018-02-27 08:57] marques-bruno commented on #600
@ErwanDouaille , It's not exactly what I meant:

I would like to keep Sofa's GUI as is (not batch mode or anything like that.
What I would like to be able to do though, is grabbing only the scene of sofa.
An example might be more explicit: This picture is a screenshot of a Sofa scene where my component grabs the OpenGL viewport with glReadPixels() and then displays it back in Sofa's scene.
If ever

[2018-02-27 14:26] damienmarchal commented on #600
Hi bruno,

I think that the problem may be cause by the fact that the dimension of the gl viewport is now covering the whole screen  (maybe because qt is using opengl for its internal rendering or something like that ?). To set the dimensions of the area to copy I assume you are using the viewports values from the VisualParams and not the one from glViewport otherwise this may explain where your p

[2018-03-01 09:45] epernod opened #602 "Multi-Mesh loader design (Assimp plugin integration)"
Hello,

I would like to discuss a design to represent mesh loaded from a file that contains several child meshes.

For example FBX or COLLADA can now be loaded in Sofa using the SofaAssimp plugin but for the moment all child meshes are merged in one big mesh.
We loose the information of Bones etc..

The API from sofa::core::loader::MeshLoader doesn't support several mesh for the moment.

[code]
An

[2018-03-01 09:49] epernod commented on #602
First discussion with @damienmarchal . To generate the data on the flow.

Backup gitter discussion here:

[code]

[2018-03-04 18:52] epernod opened #606 "Removing tetrahedron elements directly by indices crash"
In a scene having a tetrahedral mesh with a triangulation mapped on it.
Removing element from the triangulation works fine.
Removing directly tetrahedron using the method TetrahedronSetTopologyModifier::removeTetrahedra will crash as soon as some vertices have to be removed.

______________________________________________________

Suggested labels:

[2018-03-12 12:16] damienmarchal commented on #543
Hi all,

The problem with this whole SofaNG project is that it imply a major refactoring of Sofa and thus  involve a lot of changes to the existing code base and imply lot of file move (which is know to be a troublemaker with git).

To evaluate how hard it would be to have sofa that match our whishes I decided to put my hand-on
https://github.com/SofaDefrost/sofa/tree/cleanTheMessStep1/ng/kernel/S

[2018-03-12 14:23] m4n4n commented on #571
@hugtalbot I am trying to work on this issue. But after removing the gravity code fragment, and resetting the scene, the snake did not disappear. Should I recompile the code or something? Please help me here

[2018-03-12 23:24] StephaneCotin commented on #543
Hi Damien

Are there certain categories of components that tend to have more dependencies than others?
How much of this mess could be solved by reducing even further the functionalities of SOFA-NG?
I'd like to help with this issue if I can.

[2018-03-13 10:02] m4n4n commented on #552
@ErwanDouaille
How do I determine that the end point of the scene. As in the terminating condition of the iteration loop (which I guess will go on for infinite times)

[2018-03-13 10:59] damienmarchal commented on #543
Hello @StephaneCotin

I'm glad you are asking.

On my side I generate the following view to visualize & navigate in the inclusion graph.:
https://htmlpreview.github.io/?https://raw.githubusercontent.com/SofaDefrost/sofa/reduceInclude2/include_master_2017_12_18.html

It was suggested by @guparan that we could aggregate the files around their cmake "components" so we could identify easily the "stren

[2018-03-13 11:00] damienmarchal commented on #543
As @untereiner  said in kind of jokes...we need a gantt diagram.
Which actually I agree because such refactoring effort requires a massive amount of work and coordination.

[2018-03-13 11:44] damienmarchal commented on #552
@ErwanDouaille I quickly looked at -a and -n and found no conflict.

Here is my understanding:
'-a' is a boolean to start the simulation it says nothing about how long you want the simulation to run.
'-n' set the number of timestemp to simulate.

When in batch mode the '-a' option is implicitely to "true" (so adding it should change nothing).
While without '-n' the number of steps is set to the de

[2018-03-13 12:06] ErwanDouaille commented on #552
The latest suggestion sounds good to me.
Why -a is true as default value for the bash mode ? Anyway, if the users are used to not define -a with the batch mode ...

[2018-03-13 12:19] damienmarchal commented on #552
-a is true...probably because in batch mode it was not expected to have an user clicking on a button to start the scene :)

[2018-03-13 12:25] ErwanDouaille commented on #552
Sure, but since it's the default behavior for other gui, it shouldn't be true for batch :p

Of course it's easier to define it as true by default ;)

Isn't it the case for qtview ? I remember seen something weird with the animation button changing the default value ...

[2018-03-13 12:58] #571 closed, assigned to nobody

[2018-03-13 13:01] m4n4n commented on #552
@damienmarchal I was working on it and was successfully able to run infinite iterations with the command: bin/runSofa -g batch -n -1.
One of the important changes this method required was changing unsigned nbIterations to signed nbIterations.
Should I go ahead and make a PR?

[2018-03-13 13:07] damienmarchal commented on #552
Feel free to make PR when you think it is ready for you because this is the best way to get feedback.

[2018-03-21 09:33] guparan commented on #581
Hey @marques-bruno, any update on this issue?

[2018-03-27 00:48] m4n4n commented on #551
@ErwanDouaille I am trying to fix this issue.
Does RealGUI.cpp handle the argument parsed (runSofa -a)?

[2018-03-27 14:50] m4n4n commented on #551
@damienmarchal Can you help me start with it?

[2018-03-29 15:59] guparan commented on #543
Here is a quick summary of NG project evolution.

A proof of concept for a minimal version of SOFA has been pushed: https://github.com/sofa-framework/sofa-minimal-poc

Multiple iterations were made on NG architecture:
https://annuel2.framapad.org/p/sofang-v0
https://annuel2.framapad.org/p/sofang-v1
https://annuel2.framapad.org/p/sofang-v2
https://annuel2.framapad.org/p/sofang-v3

We converged towa

[2018-03-30 18:28] ErwanDouaille commented on #551
@m4n4n every arguments are parsed using : https://github.com/sofa-framework/sofa/blob/master/SofaKernel/framework/sofa/helper/ArgumentParser.h

In the case of Realgui, the -a option is parsed by the main of runSofa :  https://github.com/sofa-framework/sofa/blob/master/applications/projects/runSofa/Main.cpp#L219

[2018-04-02 17:01] m4n4n commented on #551
Thanks @ErwanDouaille . Working on it.

[2018-04-03 14:34] gaurab4163 commented on #197
@damienmarchal  If this is still open, I would like to take it up...? I am thinking of using an inline function.

[2018-04-03 14:50] gaurab4163 commented on #235
@damienmarchal @hugtalbot This seems interesting..
If I understood it correctly, if we uncheck a certain feature, the parameters related to it should be greyed out(become un-type-able).
Could you help me start? eg: the files involved,etc.

[2018-04-05 13:52] guparan commented on #235
I actually wonder if that the problem comes from a design flaw.
What about creating a Shadow component with its own parameters (linked to the other component)?

[2018-04-05 14:22] damienmarchal commented on #235
I don't think,

Graying out things, and more generally having them grouped in logical block, (as in http://doc.qt.io/qt-5/qtwidgets-widgets-groupbox-example.html) allow the user to very easily quickly understand the underlying logic that connect the fields. In addition graying things out is part of the user interface which, if well done should be separated as much as possible from your the functio

[2018-04-08 07:44] robot-chenwei opened #623 "Undefined gridLayout in RealGUI.cpp when using SOFA_GUI_INTERACTION"
# Problem
When selected the SOFA_GUI_INTERACTION, this problem will appear. (in v17.12 and v17.06)
[code]
There are three line use the object gridLayout, which is undefined.
[code]
I only find the defination of gridLayout1 in the file "RealGUI.h" and "RealGUI.cpp" comes from the file "ui_GUI.h":
[code]
# Solution
Using gridLayout1 instead of gridLayout in these three lines, the problem will be dis

[2018-04-11 09:56] guparan opened #631 "MeshGmshLoader should create all edges"
by @epernod in #626

[2018-04-11 10:01] guparan opened #632 "plugin_list.conf is messed up by CMake cache"
Disabling a plugin and reconfiguring does not remove the plugin from plugin_list.conf.

When writing plugin_list.conf (see runSofa CMakeLists) we use `__GlobalTargetList__` and `__GlobalTargetNameList__` global variables but these variables are based on CMake cache.

[2018-04-11 12:44] guparan opened #633 "[POLL] Google Summer of Code projects"
Hi @sofa-framework/reviewers,

As you may know, we participate to Google Summer of Code this year.

We proposed [3 projects](https://www.sofa-framework.org/community/google-summer-of-code/):
- **SOFA + Pulse**, mentored by @hugtalbot and Kitware: bringing Pulse into SOFA (as a plugin).
- **Emscriptening SOFA**, mentored by @damienmarchal: adapt the core of the SOFA so that it can be compiled with

[2018-04-11 12:46] damienmarchal commented on #633
Love your poll :)

[2018-04-12 17:37] ErwanDouaille commented on #633
Nice poll ! <3

I would like to add few details about the communication plugin. It´s not only adding new protocols in it. As you know, the communication plugin is in an experimental state and it´s not push into sofa-framework.

The purpose of this gsoc project is, of course, adding new protocols, but also polish it, fix bugs, make it works on CI (linux+windows+mac). And we hope it gonna be ready f

[2018-04-13 09:53] jnbrunet opened #636 "MessageDispatcher creates a segfault on OSX when an error is dispatched on static call"
See the beginning of the discussion [here](https://github.com/sofa-framework/sofa/pull/635#pullrequestreview-111942486)

I will add more details on this bug when I get home to my beloved Macintosh.
______________________________________________________

Suggested labels:

[2018-04-13 13:04] epernod commented on #633
@ErwanDouaille could you add the link to the PR/project to see more info. What communication it aims for?

[2018-04-16 10:36] ErwanDouaille commented on #633
@epernod https://github.com/sofa-framework/sofa/pull/534

[2018-04-17 06:31] gaurab4163 commented on #197
@damienmarchal  I added a `UnableToOpenFile()` function and modified "MeshTrian.cpp" accordingly, for now. Could you check if I am in right direction? If I am, I would follow up with changes in other loader and components.

**Caution**: I couldn't test if it actually works! Because, a function `findfile(filename)` exists to check if file exists. So, to make `fopen()` purposely fail, even after sup

[2018-04-18 08:54] damienmarchal commented on #623
Hi @robot-chenwei

As far as can say the SOFA_GUI_INTERACTION is not supported anymore and the whole code base should be removed.

[2018-04-19 07:50] #633 closed, assigned to nobody

[2018-04-24 08:49] guparan commented on #633
Congrats for accepted GSoC students.
Sorry for the ones who didn't make it. We hope that we will stay close anyway: contributing to SOFA, collaborating on your projects or next year for GSoC 2019!

[2018-04-26 07:56] #623 closed, assigned to nobody

[2018-04-26 10:32] quentinfrancois0 opened #647 "Quit Sofa with Cmd+Q in Mac raises Warnings"
Hello everyone,

I have detected an error when I close a sofa scene on my Mac with Cmd + Q. Here is attached the list of warnings raised when I close a scene.

[Terminal.txt](https://github.com/sofa-framework/sofa/files/1950734/Terminal.txt)

I'm using MacOS 10.13.4 and Sofa 17.12.

[2018-04-28 07:31] #632 closed, assigned to nobody

[2018-05-02 13:15] guparan commented on #543
Hi @sofa-framework/reviewers,

Here is a follow up of NG project for April.
The project is huge and still requires a lot of iterations to get the best refactoring process but we are going in the right direction :+1:

## Discussions
It was decided to push all NG changes to [a specific NG branch](https://github.com/sofa-framework/sofa/tree/ng) on sofa-framework.
Still, all the developments will go t

[2018-05-07 10:47] techytoes commented on #647
It raises similar warnings in my machine too. I am using MacOS 10.13.4 and Sofa 17.06.
![screen shot 2018-05-07 at 4 17 05 pm](https://user-images.githubusercontent.com/25312754/39698362-2a31270c-5212-11e8-9f08-321fa4353681.png)

[2018-05-09 08:22] quentinfrancois0 opened #652 "MeshVTKLoader doesn't manage .vtk file version 4.2"
Hello everyone,

I detected an error with the .vtk file version. The version 4.2 of vtk has some lines which are not managed by Sofa. I generate the .vtk file with Paraview 5.5.0 on MacOS. These lines are metadata written between the first and the second parts of the file :
<img width="643" alt="capture d ecran 2018-05-09 a 10 16 40" src="https://user-images.githubusercontent.com/22655914/39803747

[2018-05-09 08:44] marques-bruno commented on #238
Fixed by #526

[2018-05-09 08:44] #238 closed, assigned to marques-bruno, ocarre

[2018-05-09 12:51] hugtalbot opened #653 "Homogeneize the use of drawTools() in SOFA"
It seems to me that we should try as much as possible work on the generic use of drawTools() for the core of SOFA. Might be an interesting tasks for the STC#5.

What do you think about it?

______________________________________________________

Suggested labels:

[2018-05-09 13:19] hugtalbot opened #654 "Camera bug when using scn.view file and wrong BBox"
Problem noticed by : @quentinfrancois0

With a scene in which the BBox is invalid:
- if you save the view, exported parameters will be NaN
- by reloading the scene, the view will be broken

We therefore need to add a check : if camera parameters are valid, then export .scn.view

______________________________________________________

Suggested labels:

[2018-05-09 14:55] untereiner commented on #652
Metadata sections can be find anywhere in vtk files. These data are not embedded on a topological entity (vertex etc). They are therefore not read and treated by the loader. However, the reader could skip them quietly. I like yoru suggestion @hugtalbot. it's up to you @quentinfrancois0 !

[2018-05-10 12:20] quentinfrancois0 commented on #652
I think it could be good to change the errors in warnings because when you are a beginner on Sofa you don't really know if it has an impact on the scene behavior. I don't really manage Sofa Kernel code actually so I'm not able to propose the code modifications to change the errors in warnings if it is what you are waiting from me @untereiner.

[2018-05-16 09:01] fredroy commented on #653
Normally, there is no more direct OpenGL calls in SofaKernel (what you call the core of SOFA?) ; except of course, in the gl/ directory and the implementation of DrawToolGL...

[2018-05-22 09:29] marques-bruno commented on #581
Hi!
Here's a simple test scene showing the problem:
[code]

I have a very bad comprehension of these things, but apparently, Sofa concatenates the points in the mechanical object "/dofs" and "/BUG/MO", even though there is no mapping to link both objects.
If you replace the SparseLDLSolver by the CGLinearSolver, it will work, but that's because CG doesn't invert the matrix.
I am reporting @IPeterl

[2018-05-22 09:38] IPeterlik commented on #581
Hello, in my opinion, this bug is related to the actual status of solvers in SOFA. Since CG is a very "robust"  solver (where "robust" means that it constructs solutions which are mathematically not always justifiable), it is used everywhere in examples. However, there are other solvers available in SOFA (even if not used often), such as SparseLDL, SparseLU. I think it might be highly "surprising"

[2018-05-22 09:43] IPeterlik commented on #581
And one more note --  with this scene, if using CG, it is even impossible to learn what is happening during the calculations. If you use a direct solver capable of exporting the matrix, you will learn that in the above scene, the size of the system matrix is  3*184 X 3*184. Thus mathematically speaking, the two mechanical systems were _concatenated_ (181 points in master node + 3 nodes in slave no

[2018-05-22 10:07] damienmarchal commented on #581
Hi all,
+1 to Igor and I add @olivier-goury to the discussion as he is very interested by the topic.

1) Having SparseLDL crashing is a shame (or a joke) that was during since too long. The good news is that the issue was fixed last week in this PR:
- https://github.com/sofa-framework/sofa/pull/655 (it shouldn't crash that much :))

2) About the lack of get messages... I discovered there is a  #de

[2018-05-22 10:12] damienmarchal commented on #654
A fix is proposed in PR #660

[2018-05-22 10:18] marques-bruno commented on #581
I would also point out that while there is no tests on the SparseLDLSolver (which is not very suprising) there is also no example scene, no mention of it in any doc etc.

[2018-05-22 10:41] damienmarchal commented on #574
No one answer ...maybe we could consider closing it ?

[2018-05-22 10:44] damienmarchal commented on #543
@guparan I didn't noticed your last summary. Thank for it I will try to work a bit on top of that this week;

[2018-05-22 10:56] damienmarchal commented on #528
Hello  @rkrasin

I was traversing old unclosed issues about SOFA and found this one with your proposal for help. Sorry we didn't reply ...but of course we would greatly enjoy having a PR from you as the problem is still there.

[2018-05-24 11:46] hugtalbot opened #665 "Add CUDA support on Continuous Integration (CI) to test SofaCUDA"
For now, VMs are used for CI and the test of the scenes using a GPU support can not be tested.
A dedicated machine (maybe using LinuxBuilder) should be set up for this purpose.

[2018-05-28 21:34] damienmarchal commented on #654
PR #660 is merged. Hugo can you validate the problem is gone ?

[2018-05-31 13:50] jnbrunet opened #673 "Compilation failed with GCC v8.1"
It was first signalled [here](https://www.sofa-framework.org/community/forum/topic/error-configure-sofa-in-cmake-gui-about-lpthreads/#post-11140).

The compilation of the master branch fails with GCC v8.1, which is the default version in fedora 28. The compilation passed with GCC v.7.3 (default in fedora 27). I did not checked at which GCC version between those two this starts to happen.

[code]

[2018-05-31 14:03] untereiner commented on #673
type dependant error could result from a missing typename or template keyword

[2018-06-01 16:04] guparan commented on #543
Hi @sofa-framework/reviewers,

May was quite quiet for our beloved NG project.
Don't worry, I still have some news for you :wink:

## Discussions

Pluginization works are possible but they have to be done in-place (not moving the files). This will permit to simplify the dependencies between SOFA modules.

About the NG branch, to avoid big divergence, we propose to merge it with master as soon as s

[2018-06-05 11:36] damienmarchal opened #677 "Warn about Alias usage"
Eg:
TTriangleModel => is a bad name because the T is meanginless for users (I bet that the prefix exist because the c++ implementation is templated and that the developper's convention of this component was to use the T prefix).

TriangleModel is a much better name but, as it is an alias, despite it can be used in scene it will not appears with the same name  in the GUIs.

I would consider a good

[2018-06-05 11:45] untereiner commented on #677
I totally agree your Nota Bene! :smile:

[2018-06-06 08:56] guparan commented on #677
Let's list all the aliased Components and decide :sunglasses:

[2018-06-06 09:00] #552 closed, assigned to ErwanDouaille

[2018-06-06 09:30] damienmarchal opened #678 "Refactor opengl rendering code"
As pointe by @marques-bruno and @fredroy our Opengl rendering code is getting old and less and less compatible with modern architecture and OS. So it may be time for a serious update.
What is your opinion and suggestion that ?

______________________________________________________

Suggested labels:

[2018-06-06 09:36] marques-bruno commented on #678
Are you mentioning the "overall" rendering problem of having deprecated OpenGL code in Sofa, or the more specific issue of the hard-coded controls of the "everything-but-interactive" InteractiveCamera Component?
On the latter, having a "CameraController", capable of changing the perspective, modelview etc programatically is a must-have feature, at least for me, and I've been hacking around SOFA 2

[2018-06-06 09:38] damienmarchal commented on #678
The issue is about 'Refactor opengl rendering code' ...the CameraController is something different :)

[2018-06-06 09:46] damienmarchal opened #679 "Remove commented code"
There is a lot of commented code sine years. Is just ugly and pointless (as we have versioning system to keep old code) ...so we could spend some time to remove that during the coding spring.

I know this is not a very challenging task, but it is like sweep your house...you fell so good when it is done.

(And making easy things is relaxing after hours of complex Sofa-NG refactoring)

_____________

[2018-06-06 11:29] marques-bruno commented on #678
In that case, I fully agree with @fredroy's opinion on letting a third-party library handle the rendering code. Sofa is not a rendering tool after all, and given the pace at which frameworks evolve (and even replace each other..) I think it draws too much workload away from the actual SOFA stuff

[2018-06-06 11:33] marques-bruno commented on #678
https://www.tomshardware.co.uk/khronos-meta-api-vulkan-metal-directx12,news-55170.html

[2018-06-07 14:15] tgaugry opened #681 "[Example] TopologySurfaceDifferentMesh.scn not working as intended"
The blue cloth in this example explode a few ticks after the start of the simulation.
Seems to impact master and 17.12.01
To reproduce, just launch the scenario examples/Tutorials/Topologies/TopologySurfaceDifferentMesh.scn
See image for reference
![2018-06-07_15 58 25](https://user-images.githubusercontent.com/6662010/41105372-e21440a2-6a6d-11e8-8790-674b67ac229c.png)

___________________________

[2018-06-08 08:50] damienmarchal opened #682 "Remove NO_EXTERN_TEMPLATE"
For STC a stimple task could be to remove all NO_EXTERN_TEMPLATE all around.
It may have been usefull 10 years ago but since extern template is standardized I don't see the point of keeping that.

______________________________________________________

Suggested labels:

[2018-06-08 14:40] damienmarchal opened #683 "Problems seen with the recently merge #459"
- BeamAdapter has objects that inherit from ConstraintResolution.
  The constructor now impose to have at least one parameter. You can update your code easily by using   the  new constructor.
- The example scene in SofaPython keyboardController does not seems to work anymore.
- ...

Please share what you have seen with others so we can fix everything quickly;

_____________________________________

[2018-06-12 12:20] damienmarchal opened #685 "Adding new data fields to get filename/line"
Hi all,

In our branches @defrost we are adding more and more data field to get:
- filename/line where a component has been instanciated.
- filename/line where the component is defined.

Both PSL & STLIB are using the same trick.

I remember of discussion with @matthieu-nesme on having less data field added because of the overhead.
So currently we are only adding the fields when the component are

[2018-06-12 13:29] matthieu-nesme commented on #685
Hey, did someone call me?

The Data overhead is significant for Objects (*incl.* Nodes) created
dynamically. Otherwise 'only' the initialization step is impacted.

2018-06-12 14:20 GMT+02:00 Damien Marchal <notifications@github.com>:

[2018-06-13 01:05] michael-barrow opened #686 "Modeler GUI does not allow table values in a scn to be edited"
I am unable to follow the pendulum tutorial at step 4 because it is not possible to edit position Vector 1/2 from the GUI

Expected outcome:

Left click and typing of the number 2 in the X cell of the second position vector will update the X cell value from 1 to 2:

Actual outcome: It is not possible to edit any vector components in the GUI

Steps to reproduce:
1 load examples/Tutorials/StepByStep

[2018-06-13 06:53] damienmarchal commented on #686
Hi @michael-barrow,

Thank you for reporting this issue with detailed explanation.

@guparan, @hugtalbot  I tried but wasn't able to reproduce the problem with a recent version of Sofa (not the 17.02), can anyone confirm (it was fixed or still an open issue).

[2018-06-13 07:47] damienmarchal commented on #678
To me it is important to clarify  (a one more ambiguity) about sofa where the same code is used for both editing scenes and for final scene rendering in a simulator application.

To me these two are different concerns which should be clearly separated in our code base.
Currently the same code is use for both concerns which make things very confusing while it may be organized that way:
- The 'final

[2018-06-14 00:27] michael-barrow commented on #686
Dear @damienmarchal

I had a typo in my original issue, it was 17.12. I have pulled from the stable branch of the GIT repository and built from source of 17.12 on Ubuntu 14.04. I have also reproduced this issue by building 17.02 from source using Ubuntu 18.04.

Although this issue is present in the "Modeler" binary, I find I am able to edit the vector fields if I load the .scn from the "RunSofa" b

[2018-06-14 02:56] michael-barrow opened #688 ".scn graph MechanicalObject dependency problem"
Issue: Adding "UniformMass" To a Node before a "MechanicalObject" in Modeler leads to badly formatted .scn files that cannot be instantiated in SOFA

Expected Outcome: Adding Mechanical State and Mass to a node in an arbitrary order from the Modeler Gui will construct well formatted .scn files

Steps to Reproduce: Follow the Pendulum Step By step Tutorial (step 0). Add UniformMass before Mechanica

[2018-06-15 02:48] michael-barrow commented on #686
Dear @damienmarchal
It turns out that I can edit vector fields in Ubuntu 18.04. The relevant difference is the QT version. In 18.04 I am using QT v 5.9.5. My 14.04 machine has been torn down but if memory serves it was the minimum QT requested by CMake (version 5.5.x I believe).

Thank you.

[2018-06-15 07:59] damienmarchal commented on #686
Dear @michael-barrow

Normally the grayed out entries means that the corresponding data field has the "readOnly" flag set, so it is surprising the this behave differently in Modeller & runSofa. Maybe this is caused by some non-initialized variable somewhere in the Modeller, in runSofa or in the Data itself.

When I will have time I will give a lookt at that to be sure it is not in the Data. If it

[2018-06-15 11:25] damienmarchal commented on #688
Hello Michael,

Thank for reporting the issue. I think this could be investigated as part of the work done with Mass by @hugtalbot in #637

To me this is a fundamental problem of Sofa scene were, in some case (because of specific implementation of component) the ordering of initialization matter and in some GUI we cannot control the ordering except by creating the object in the right sequence.

[2018-06-15 13:59] #686 closed, assigned to nobody

[2018-06-15 18:02] mjbarrow commented on #688
In my opinion the abstraction should change or the c++ instantiation should be made more robust. As of now the Mass node appears to be a child of a Mechanical Object, but this is not reflected in the xml where they are siblings. I would suggest the abstraction should change since I imagine mathematically order matters sometimes and it would be a bad idea to guess the correct order during instantia

[2018-06-19 09:46] guparan opened #689 "Update deprecated components list"
Some components have to be removed (deprecation period is over), some other may be deprecated.

______________________________________________________

Suggested labels:

[2018-06-19 09:49] guparan opened #690 "Improve packaging methods"
We should improve our packaging process to ease the creation/build of a plugin linked to a SOFA release.

Now: CPack (Windows) + Bundle (MacOS) + install archive (Linux)
Problems: Not unified, some libs not included (Qt)
Future: One unified method for all platforms.
Ideas: Flatpak, CPack, vcpkg
______________________________________________________

Suggested labels:

[2018-06-20 15:23] guparan commented on #677
Create a getComponentName function in BaseObject to replace aliases.
We would have two names: ComponentName and ClassName.
ComponentName defaults to ClassName.

[2018-06-20 15:25] guparan commented on #677
Merge with https://github.com/SofaDefrost/sofa/tree/Sofa_addWarningOnAlias

[2018-06-20 15:35] guparan commented on #677
[code]
[code]

[2018-06-21 08:07] damienmarchal opened #694 "Remove PS3 macro"
______________________________________________________

Suggested labels:

[2018-06-21 08:08] damienmarchal opened #695 "Remove XBOX specific code"
______________________________________________________

Suggested labels:

[2018-06-21 08:08] damienmarchal commented on #682
Done in std5 branch.

[2018-06-21 08:09] epernod commented on #259
As mention above, we will work on that task using engine as soon as the work on DataGraph has started.

[2018-06-21 08:33] epernod opened #697 "Remove deprecated define HAVE_NEW_HEXA"
still in the code and concern backward compatibility with code older than 2008

______________________________________________________

Suggested labels:

[2018-06-21 08:35] epernod opened #698 "Change all ifndef NDEBUG in topoloy to define macro"
change all the ifdef ndebug that are used to check the topology to a define macro CHECK_TOPOLOGY

______________________________________________________

Suggested labels:

[2018-06-21 08:37] epernod commented on #697
work in #693

[2018-06-21 08:38] epernod commented on #698
work in #693

[2018-06-21 09:25] #694 closed, assigned to damienmarchal

[2018-06-21 09:25] #682 closed, assigned to damienmarchal

[2018-06-21 09:26] damienmarchal commented on #679
@VannesteFelix

[2018-06-26 23:59] damienmarchal commented on #679
STC is over I close this one.

[2018-06-26 23:59] #679 closed, assigned to damienmarchal

[2018-06-26 23:59] damienmarchal commented on #677
STC5 is over let's close this one.

[2018-06-26 23:59] #677 closed, assigned to guparan

[2018-07-02 09:05] guparan commented on #543
Hi @sofa-framework/reviewers,

Here is a follow-up of SOFA-NG for June.
Only a few news for this month.

## STC#5
I presented you the evolution of SOFA-NG and the future steps.
You can retrieve the presentation [here](https://drive.google.com/file/d/1ig-VoMDSVVg22YQDdZBP62kUYPF283FZ/view?usp=sharing).

## Modularization
Two SOFA modules have been pluginized by Damien: [SofaSparseSolver and SofaPre

[2018-07-03 08:21] epernod commented on #697
done in #693

[2018-07-03 08:21] #697 closed, assigned to epernod

[2018-07-03 08:21] epernod commented on #698
done in #693

[2018-07-03 08:21] #698 closed, assigned to epernod

[2018-07-03 08:23] epernod commented on #574
no news, will see in the future if this is raised again. closing it for the stats.

[2018-07-03 08:23] #574 closed, assigned to epernod

[2018-07-10 09:44] epernod opened #709 "Use type size_t everywhere when working with size"
This is an open discussion:
We have a lot of warning due to 'size_t' to 'unsigned int' / 'int' conversion.
For example:
```unsigned int nbdof = this->mstate->getSize();```
or
``` for (int i=0; i<buffer.size(); ++i) ```

getSize() return a size_t which can be a:
typedef unsigned __int64 size_t;

and not a 32bit unsigned or signed int.

So my question is:

Do we really need that sofa::helper::vector

[2018-07-11 10:06] epernod commented on #43
started in #708

[2018-07-13 11:34] epernod opened #713 "switching Debug/Release mode is not well handle by PluginManager"
- Using Sofa (maybe it is only runSofa) in release with some plugins.
- Switching to Debug
- launch runSofa_d

[code]

But this doesn't seems to be blocking.
______________________________________________________

Suggested labels:

[2018-07-13 16:10] epernod commented on #681
Hi @tgaugry , I'm checking the scene.
Do you know if other tutorials are broken?

[2018-07-13 23:34] tgaugry commented on #681
none that i'm aware of, except this one.

[2018-07-16 09:21] epernod commented on #681
ok thx I'll push a fix for that scene.

[2018-07-16 11:41] guparan opened #717 "[runSofa] Vsync activated by default"
runSofa ignores OS (Nvidia) settings about vsync and enables it by default.
FPS are limited to 60.

Issue suggested by @courtecuisse
______________________________________________________

Suggested labels:

[2018-07-17 08:46] #636 closed, assigned to jnbrunet

[2018-07-18 08:41] epernod commented on #709
Discussed in weekly meeting.
We should use size_t everywhere!

[2018-07-19 12:01] #43 closed, assigned to epernod

[2018-07-19 16:59] marques-bruno opened #723 "onScriptEvent / sendScriptEvent not functional anymore"
The event signal mechanism between PythonScriptControllers does not work anymore.
In the scene fontain.scn, particles flagged as 'below_floor' should be removed from the scene and spawned back in the "well", which does not happen

To reproduce the bug, just launch fontain.scn

@damienmarchal @bcarrez maybe you can take a look?
______________________________________________________

Suggested label

[2018-07-19 17:02] marques-bruno opened #724 "[UniformMass] Warnings popping up when they shouldn't"
This warning should show up when both vertexMass and totalMass are set. Though setting totalMass alone still triggers the warning
______________________________________________________

Suggested labels:

[2018-07-19 17:12] marques-bruno opened #725 "[FreeMotionAnimationLoop] - creating MechanicalObjects "on-the-fly" leads to wierd warning (and sometimes crashes)"
I have a scene where I create MechanicalObjects after the init phase, from within the onBeginAnimationStep methods of a pythonScriptController. This would immediately spawn the following warning:

followed by a segmentation fault.
In order to show the problem in a simpler scene, I modified the fontain scene in SofaPython to spawn new particles on mouse clicks:

[code]

Running this scene does not

[2018-07-19 20:31] damienmarchal commented on #723
Hi Bruno,

We have recently merged a lot of breaking things so I'm not surprise several things breaks. So thank very much you for submitting the encountered issue.

I will give it a look.

[2018-07-19 20:32] damienmarchal commented on #724
Hi Bruno,

We have recently merged a lot of breaking things so I'm not surprise several things breaks. So thank very much you for submitting the encountered issue.

This is something on which Mr @hugtalbot  should look at :)

[2018-07-20 07:30] epernod commented on #724
Hi @marques-bruno , I also experienced that behavior but only on very specific case.
Could you put the scene where you have this warning? or do you always have that?

In my case it is in a scene with a **MechanicalStateController** and I suspect this component to force the **vertexMass** in background... But didn't had time to investigate.

[2018-07-20 07:41] marques-bruno commented on #724
Thanks for your feedbacks,
I've encountered the problem with the Fontain.scn scene in sofa python examples. I don't think there's a mechanical state controller there though

[2018-07-20 09:18] marques-bruno commented on #723
Thanks @damienmarchal,
I don't know this code very well, but with my understanding of how events are propagated in Sofa, I'm surprised if the current implementation of fontain.py ever worked:

The "Particle" script controller sends an event from its current node - which is a subnode of the rootNode - to the "Fontain" script controller, which is in the rootNode.

After taking a look at the sendScri

[2018-07-25 16:03] guparan commented on #531
This issue was forgotten (sorry) but we actually have the same problem on our CI.
@oalii Did you manage to find a solution?

## My research
I created a basic python script doing
[code]

When I run this script with default python:
[code]

When I run it with runSofa (and thus SofaPython):
[code]

When running it with default python in verbose mode, multiarray appears as follows:
[code]

But `/usr/lo

[2018-07-25 16:07] guparan commented on #531
:sos: @sofa-framework/reviewers :sos:
Any help is more than welcome here.

[2018-08-01 09:33] #308 closed, assigned to epernod

[2018-08-01 09:48] JeremieA commented on #531
Hello,

We had a very similar problem in a slightly different context (relying on python virtualenv on Linux).
The root cause was that the multiarray native lib is apparently expecting to be run from an executable that already export the python API symbols, either from the executable itself, or with libpython loaded with the RTLD_GLOBAL flag.

So the solution on Linux (found by @Ngautier) was to a

[2018-08-01 16:21] guparan commented on #543
Hi @sofa-framework/reviewers,

Here is a follow-up of SOFA-NG for July.

## sofa2ng
Previously named SPM, the NG-module boostrapper has been massively updated and upgraded.
It should now able handle any standard (following conventions) SOFA module.
Check it out: https://github.com/guparan/sofa2ng

## Sofa.Component.Utils
The recipe has been updated.

## Sofa.Helper.Bvh
The recipe has been updated.

[2018-08-02 09:23] epernod opened #744 "[SceneChecker] Check that only one topology per node is allowed"
A node including `<MeshTopology />` and `<TopologyContainer />`  component is possible and will crash if some topological changes are performed.

Other component could perform this->getContext()->getMeshTopology() which will return either one or the other depending on the order in the Node I assume.

______________________________________________________

Suggested labels:

[2018-08-03 09:16] #653 closed, assigned to fredroy, hugtalbot

[2018-08-03 10:30] louise-scherrer opened #746 "Sofa crashing when the collision mesh file can not be loaded"
Hi,
In one of my scenes, I have once mis spelled 'src' in the line code adding a loader for the mesh of an object's collision model:
`collision.createObject('Mesh', name="mesh", scr="@loader")`.
As a result, when animating the scene, and at the moment when a collision is detected, Sofa shuts down while no error message is provided in the terminal.
I have attached the code file of a scene that repr

[2018-08-03 22:49] damienmarchal commented on #744
Hi Erik,

Thanks for reporting this bug.

I looked into BaseContext and found the following:
[code]
All of them only returns the "first" topology found which can cause a lot of trouble to users.

I think your suggestion to provide warning message using the scene checker is a good idea unless there is good reasons for ppl to have multiple topologies in the same node (I don't know if this is the cas

[2018-08-03 22:50] #654 closed, assigned to fredroy, hugtalbot

[2018-08-03 22:52] damienmarchal commented on #725
Hello Bruno,

Thanks for reporting this bug.
Anyone has idea on this one ?

[2018-08-06 14:21] damienmarchal commented on #29
Can we close this ?

[2018-08-06 14:21] #29 closed, assigned to fredroy

[2018-08-06 14:21] damienmarchal commented on #531
Hi all,

Is this Issue still open ?

DM.

[2018-08-06 14:54] damienmarchal opened #749 "[FreeMotionAnimationLoop] some examples are not working since merge of #459"
The example src/applications/plugins/SofaPython/examples/keyboardControl.scn is not working anymore.

To 'fix' the example it is possible replace 'free_position' by 'position' in the keyboardControl.py pythonScriptController:
[code]

The change of behavior happens with the merge of PR #459
@ChristianDuriez, @fjourdes, @EulalieCoevoet  is this a regression (and thus we should fix the .cpp) or is th

[2018-08-08 10:08] jnbrunet commented on #744
You could have two topologies if, for example, a mesh contains both hexahedral and tetrahedral elements inside one simulated object. You will have one mechanical object with all the positions of the mesh, two topologies and two forcefields, all in one node. Of course, you could split those in two or more nodes, but then you will complexify the scene with subset mappings...

[2018-08-08 12:04] damienmarchal commented on #744
According to @jnbrunet 's feedback I would say that the right approach to fix this is to stop using implicit and hidden link between objects.

In defrost we are doing this kind of pattern (in pseudo code) this:
[code]

Such an approach:
- is compatible with our existing scene base (when no link is specified then automatically retrieve something from the context)

But it brings the following:
- As

[2018-08-08 12:30] jnbrunet commented on #744
@damienmarchal +1

I would add that those kind of functions:
[code]
should be made depreciated as they imply that only one of such component can be contained inside a node.

[2018-08-09 08:28] jnbrunet commented on #746
Thank you for your report @louise-scherrer .

This segmentation fault is indeed a bug, and should be prevented. Here is the call stack to the fault:

[code]

I'll try to further look into this. We should try to find the best place to prevent this kind of fault without impacting too much the computation time.

[2018-08-21 09:37] damienmarchal commented on #749
Hi,

Can anyone give look into this issue ?
@ChristianDuriez ,@fjourdes, @EulalieCoevoet

DM.

[2018-08-23 08:37] #440 closed, assigned to nobody

[2018-08-27 14:29] jnbrunet opened #757 "[DrawToolGL] Some draw functions still miss the calls to the internal draw functions"
Example:

[code]
I believe `internalDrawQuad` should be use here instead of `drawQuad`. There is a couple more functions like `drawTetrahedron`, `drawTriangles`, and others that also do this.

I'm sorry I don't have time right now to look at this further, but it should be a quick fix.

______________________________________________________

Suggested labels:

[2018-08-31 16:07] guparan commented on #543
Hi @sofa-framework/reviewers,

August was a quiet month for SOFA-NG.

## Sofa.Helper.Bvh
The [pull-request](https://github.com/sofa-framework/sofa/pull/741) has been merged.
We have now 2 NG modules in the [ng branch](https://github.com/sofa-framework/sofa/tree/ng) of SOFA! :tada:

## Sofa.Helper.*
Here is an overview of the other Sofa.Helper parts and how hard factorization should be.
Reminder: a

[2018-09-04 07:42] epernod commented on #723
![image](https://user-images.githubusercontent.com/21199245/45017005-b105e700-b026-11e8-9257-41d8325eea42.png)

you mean normally the particles outside the floor should not be there in the image but directly  respawn?
I tested the scriptEvent directly inside c++ code between 2 components and this works.

[2018-09-05 16:09] damienmarchal opened #767 "Improving the python binding for Data."
Just want to share some experiment done today.

In its current state the binding for the data suffer from several drawback among which:
- inconsistent API
- poor performances because there is a lot of copies and data conversion

[code]

This may be look not really important but to me this results in writing things like the following code
(taken form the fountain.scn example discussion) which is in

[2018-09-06 08:17] marques-bruno commented on #767
@damienmarchal thanks for sharing!
Are your API changes available somewhere in the sofa repository?
I really don't know much about python (almost never used it outside of Sofa...) so I'm a bit puzzled with the syntax here: `m.position[OnDiagonal] = 1.0` / `m.position.apply(function)`
But I sure love the idea of returning an actual Sofa.Data pointer instead of a copied list!
This was all done using

[2018-09-06 09:18] damienmarchal commented on #767
Hello Bruno,

Functional programming is very standard and part of the language:
http://book.pythontips.com/en/latest/map_filter.html
as well as part of libraries:
https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.functional.html

So functional programming is a must (and cheap thing) to have but to be honest the syntax:
[code]
was just there for fun and to see if it was possible (actually

[2018-09-06 14:13] #723 closed, assigned to marques-bruno, epernod

[2018-09-07 13:40] EulalieCoevoet opened #768 "Regression: OglModel won't load stl file"
Hi,

So the component OglModel won't load stl file.
I think the issue comes from PR #661, in particular the changes made in VisualModelImpl.

Eulalie
______________________________________________________

Suggested labels:

[2018-09-12 08:24] damienmarchal commented on #768
Thank Eulalie for this report.

After discussion with Erik, STL was remove on purpose but the error message is not clear on that and on how to fix the Scene. We will fix that this friday.

DM.

[2018-09-13 15:45] epernod commented on #768
you can let it open, we will close this issue when the error message will be added. (very soon)

[2018-09-13 15:45] epernod commented on #768
otherwise I will forgot ...

[2018-09-13 15:45] #717 closed, assigned to nobody

[2018-09-21 14:06] #768 closed, assigned to epernod

[2018-09-21 14:09] #681 closed, assigned to nobody

[2018-09-21 14:24] epernod commented on #529
This comes from comit 570b09b

Indeed, not sure if Data is needed

[2018-09-21 14:50] #338 closed, assigned to dequidt, fjourdes, IPeterlik, remibessard, hdeling, StephaneCotin

[2018-09-25 11:58] untereiner commented on #529
Thanks for the replay!

That was the point of my question!

[2018-09-26 08:48] damienmarchal opened #784 "Quadractic complexity in BarycentricMapping"
Hi all,

We are using bigger and bigger mesh at defrost and noticed that the init time of BarycentricMapping<Tetrahedron> is growing a lot.

Eulalie pointed out that this is because there is a imbricated for() loop to find closest tetrahedron for each of the points in the target geometry.

At line 865 in BarycentricMapping.inl in BarycentricMapperTetrahedronSetTopology
[code]

Adding a geometric a

[2018-09-26 09:00] damienmarchal commented on #784
I personally really like to use spatial hashing for this kind of things.
http://matthias-mueller-fischer.ch/publications/tetraederCollision.pdf

[2018-09-26 18:47] #724 closed, assigned to hugtalbot

[2018-09-28 09:37] guparan opened #785 "BaseObject::init "call super" code smell"
All Components in SOFA need to call `Inherit1::init()` in their init() to propagate the init process to base classes.

A solution to this problem was proposed in #754 but not accepted. Better solution has been implemented in https://github.com/guparan/sofa/tree/fix_call_super_code_smell and needs a final (big and boring) work to be ready: removing all existing init super calls.

To be done during

[2018-09-28 11:10] epernod commented on #785
not possible by a script?

[2018-09-28 12:27] guparan commented on #785
I did a dumb one [here](https://github.com/guparan/sofa/blob/fix_call_super_code_smell/scripts/remove_call_super_init.sh) but it is far from covering all possible cases.

[2018-10-01 09:18] damienmarchal commented on #785
Hello,

Nice work Guillaume,

In sofa I often see the use of first uppercase to indicate static method...so 'I'nit() is misleading. cannot use a different naming scheme (or stop using uppercase to indicate static method ;).

[2018-10-09 08:26] guparan commented on #543
Hi @sofa-framework/reviewers,

Here are some news for September.

## Plugin vs Classic library
I removed the config/Sofa.*.cpp file from all modules that should not be using the PluginManager API.
This is necessary to clearly distinguish what is a Plugin (= bunch of Components that are loaded on user demand with a RequiredPlugin) and what is not (= core or misc library loaded automatically).

## S

[2018-10-10 23:54] vmagno opened #794 "Cannot install from source when using Qt"
When doing `make install`, the installation fails for components SofaGuiQt et QGLViewer because the Qt "plugins" directory is not found.

A more robust way to do it would be to query the path for each needed plugin (as in http://doc.qt.io/qt-5/cmake-manual.html), but I'm not sure which plugins are needed, or if their installation is really necessary (it is not, on my system).

____________________

[2018-10-12 10:23] hugtalbot opened #795 "AffineMovementConstraint: orientation issue"
Christiane, a SOFA user noticed an issue regarding the orientation of the frames (Rigid3dTypes) with the AffineMovementConstraint.

The final rotation is obtained by adding the initial orientation quaternion and the rotation quaternion. Normally, combining rotations is done by multiplying quaternions, not by adding them; in fact, a quaternion addition will not yield a unity quaternion, hence the r

[2018-10-24 08:33] hugtalbot opened #799 "Uniform all threshold, epsilon or PI usage"
Many different epsilon values, PI or threshold.
We should uniform it with common values and comments

______________________________________________________

Suggested labels:

[2018-10-24 08:55] hugtalbot opened #800 "Usage of eigen for vector & matrices (eg instead of MultiMatrix)"
______________________________________________________

Suggested labels:

[2018-10-24 09:12] guparan opened #801 "Reactivate regression tests in CI"
We definitely need to get timing and position regression feedback from (at least a few) scene tests.

Already existing tools for position regressions:
- applications/plugins/SofaTest/SofaTest_test/Regression_test
- applications/projects/sofaVerification

TODO:
- [x] Choose one tool to update and reactivate
- [ ] Add execution time measure
- [x] Integrate it in CI

[2018-10-24 09:51] damienmarchal opened #802 "Remove the duplicated code between equivalent template specialization (eg Rigid3dType vs Rigid3fType)"
I'm always amazed by code duplicated just because of template specialization of equivalent types: Vec3f vs Vec3d and  Rigid3dType vs Rigid3fType. The is clearly not the way to do that.

TODO:
- [ ]  RestShapeSpringForceField.cpp
- [ ] FixedConstraint
- [ ] FixedPlaneConstraint
- [ ] LinearForceField
- [ ] PositionBasedDynamicConstraint

______________________________________________________

Sugge

[2018-10-24 11:01] damienmarchal commented on #673
have the same problem with gcc-8.2....

[2018-10-25 13:08] jangirrishabh commented on #492
Hello @jnbrunet  great work on trying to address this issue, cheers! It would be very helpful in a lot of cases, I have been trying to work on one such case and using your branch, if you could point me to some docs/examples as a starting point it would be very helpful.

[2018-10-25 14:00] #683 closed, assigned to nobody

[2018-10-26 16:24] hugtalbot opened #804 "Memory leak MeshSpringForceField"
The second happened by calling the MeshSpringForceField.init() method at each iteration. I simply removed the call since it wasn’t needed.

See post: https://www.sofa-framework.org/community/forum/topic/memory-leaks/

______________________________________________________

Suggested labels:

[2018-10-29 08:52] jnbrunet commented on #492
Hey @jangirrishabh ,

You can already clone [this branch](https://github.com/jnbrunet/sofa/tree/sofa_python_without_executable). Once compiled, you will find the file libSofaPython.so in your **sofa_build_directory**/lib folder. Simply add this folder's path to your python sys path, and finally import the lib to your python script with `from libSofaPython import Sofa`.

If you are not on Linux, yo

[2018-10-30 15:12] damienmarchal opened #806 "Remove useless template instantiation that are not needed"
In nearly every .cpp there is explicit template spcialization with such kind of lines:

[code]

Aren't these lines useless given that the template are already specialized when they are added
in the factory:

[code]
If this is the case why not simply removing them ?
______________________________________________________

Suggested labels:

[2018-11-07 09:30] guparan commented on #785
Note from a dev meeting: what if we create a doInit() method instead of meta Init() ?

[2018-11-07 14:00] epernod opened #807 "check for package dependencies (windows) at cmake"
If possible, it would be great to have a check for package dependencies at cmake stage.
right now cmake pass and compilation failed due to glew missing for example (30 mins later)

______________________________________________________

Suggested labels:

[2018-11-07 16:09] damienmarchal commented on #767
I'm closing this issue because this is now handlede into the sofapython3 refactoring.

[2018-11-07 16:09] #767 closed, assigned to nobody

[2018-11-07 16:12] damienmarchal opened #808 "[SofaPython3] Proposal and Todo"
This is connected to the PR #771 about having a python 3.x version of SofaPython, refactor it and rewrite pybind11.

______________________________________________________

Suggested labels:

[2018-11-07 16:30] hugtalbot opened #809 "Propagate the doUpdate() function for all engine instead of update()"
Reducing the complexity of the update of Data
Associated doc required

______________________________________________________

Suggested labels:

[2018-11-07 17:22] hugtalbot opened #810 "check which component is using : handleTopologyChange() function or TopologicalData"
Help on the Topology work, in finding the work affected by handleTopologicalChange()

Forcefields handling topology change:
- TriangularFEMForceField
- TriangularBendingSprings
- RegularGridSpringForceField
- QuadularBendingSprings

Forcefields not handling:
- EdgePressureForceField
- QuadBendingSprings

List of components with ```handleTopologyChange```  method

1. void BarycentricMapping<TIn, TO

[2018-11-07 17:26] hugtalbot opened #811 "Listing all type of files loaded in SOFA"
Helping on the MeshLoader project

______________________________________________________

Suggested labels:

[2018-11-08 13:57] VannesteFelix commented on #806
working on it for stc6

[2018-11-08 14:21] agpetit commented on #810
apparently handleTopologicalChange() is not used by any component. However, we can find processTopologicalChanges() (in TopologicalChangeProcessor) and propagateTopologicalChanges (in multiple components).

[2018-11-08 14:45] damienmarchal commented on #806
Well it may be usefull to check what I'm saying from time to time :)
Thank felix for reporting the problems.

[2018-11-08 16:06] #806 closed, assigned to nobody

[2018-11-08 16:10] agpetit commented on #810
in BaseMaterial, handleTopologyChange() is copied but empty

[2018-11-08 16:31] ChristianDuriez opened #816 "remove MultiGroup in LinearSolver"
In  the component MatrixLinearSolver, there is the option "multi group"  (false by default) that complexity the code unnecessarily.
The goal of this option was to solve each Mechanical Object under the LinearSolver  as if there were independant manner.  I**n practice, the approach is not compatible with multi-mapping** (and was maybe coded at the time when the scene graph was a tree...).

If no on

[2018-11-08 17:04] damienmarchal commented on #784
is the PR will be merged soon ?

[2018-11-12 11:54] damienmarchal commented on #795
is there any proress on this ?

[2018-11-12 15:01] olivier-goury commented on #795
About to PR something

[2018-11-15 09:50] epernod opened #828 "Fix or approve new result of existing regression test."
In the 2 years old references of regression repository: https://github.com/sofa-framework/regression

Those scenes still have the same behavior:
- Components/forcefield/FastTriangularBendingSprings.scn 100 1e-4
- Components/constraint/FixedConstraint.scn 100 1e-4
- Components/interactionforcefield/InteractionEllipsoidForceField.scn 100 1e-4
- Components/topology/Mesh2PointTopologicalMapping.scn 10

[2018-11-15 09:55] epernod opened #829 "Restore regression test on the topology"
Similar to code from SofaVerification with topology ooption

______________________________________________________

Suggested labels:

[2018-11-15 11:17] epernod commented on #828
Update:
- Components/forcefield/BeamFEMForceField.scn fixed
- Components/constraint/BilateralInteractionConstraint.scn 100 1e-4
  - ERRORBYDOF: 22.9926
- Demos/caduceus.scn 100 1e-3
  - ERRORBYDOF: 2.68482
- Components/collision/FFDDistanceGridCollisionModel.scn 100 1e-4
  - Moved into a plugin.
- Components/constraint/FrictionContact.scn 100 1e-4
  - ERRORBYDOF: 1.45887
- Components/collision/Rul

[2018-11-15 16:33] epernod commented on #829
Done in commit: https://github.com/sofa-framework/regression/commit/529c869313b9c35ae705d3e6b437eab5df1f4f1c

[2018-11-20 08:24] FantasyVR opened #833 "The SofaEulerianFluid plugin does not contains documentation."
I haven't found documents about fulid simualtion. So I want know Does sofa support simulation of fluid?
______________________________________________________

Suggested labels: discussion

[2018-11-20 15:08] damienmarchal commented on #495
Maybe we should add in the object factory a way to detect the use of Vec3f and warn user that it needs to update its scene to use Vec3 instead. So we can start simplifying the code base ?

[2018-11-20 15:41] damienmarchal commented on #673
I fixed the issue by refactoring deeply the component. But I have no idea why it appears.

[2018-11-20 15:41] #673 closed, assigned to nobody

[2018-11-20 15:52] damienmarchal commented on #816
And as you are in this file...can you also apply cosmetic cleaning as:
- move code from .h to put in .inl
- remove commented code the .inl
- ...

[2018-11-20 16:32] guparan commented on #806
@damienmarchal What was the answer here? Why couldn't this be done?

[2018-11-20 17:48] damienmarchal commented on #806
No idea, it juste don't work;

[2018-11-21 12:35] damienmarchal commented on #833
Hi rainvector.

As far as can say there is some fluid implementations that are relatively out-dated in the plugin SofaEulerianFluid. Maybe you will have more answers on the user's forum https://www.sofa-framework.org/community/forum/section/user-forum/

Regards,
Damien.
EDIT1: And you are right, i quickly looked into the plugin and it does not contains documentation.
EDIT2: There is several exampl

[2018-11-21 21:07] #833 closed, assigned to nobody

[2018-11-21 21:13] #809 closed, assigned to nobody

[2018-11-28 09:35] #804 closed, assigned to fredroy, hugtalbot

[2018-11-28 14:19] #795 closed, assigned to nobody

[2018-11-29 11:11] ChristianDuriez commented on #495
Full agreement !
From the beginning of SOFA, I've been asking for removing this template double / float !

[2018-12-10 13:59] epernod commented on #829
Done and tested in #857

[2018-12-10 13:59] #829 closed, assigned to epernod

[2018-12-10 14:02] epernod commented on #801
- info on time is already dumped at each scene test but not used on the CI.
- State is now tested using the project: https://github.com/sofa-framework/regression
Done in PR #830
Tested in PR #857

[2018-12-10 14:02] #801 closed, assigned to guparan, epernod

[2018-12-10 14:05] epernod commented on #746
Is there an Error message when loading the scene, telling that the mesh could not be found?

[2018-12-10 14:06] epernod commented on #784
@damienmarchal @EulalieCoevoet
Do you confirm this problem has been solved in PR #798 and we can close this issue?

[2018-12-10 15:44] EulalieCoevoet commented on #784
Yes

[2018-12-10 15:44] #784 closed, assigned to EulalieCoevoet, damienmarchal, epernod

[2018-12-11 09:54] damienmarchal commented on #495
The first PR to remove SOFA_FLOAT on the sofa code base is on its way.
https://github.com/sofa-framework/sofa/pull/853

This will not change the world but the resulting code look so much better
(a bit like if after weeks of accumulating dirty plates in your kitchen you clean everything, always a pleasure when you see the result).

[2018-12-12 12:27] damienmarchal commented on #495
Hi all,

Defrost is happy to announce that we have dropped the SOFA_FLOAT from our SoftRobots & SoftRobots.Inverse plugins.

About PR #853,  If you think this is not the way to go...please tell it now because otherwise it will happen.

[2018-12-12 14:30] guparan commented on #543
Hi @sofa-framework/reviewers,

Long time no see, the NG task has been quite slow this last months.
Here is a quick follow up of October and November activity.

## Sofa.Helper.Types
I finished the refactoring for Sofa.Helper.Types.

## Next objectives
Update NG branch
Open PR for Sofa.Helper.Types
Start another Sofa.Helper.* refactoring

---------------------------
As always, do not hesitate to com

[2018-12-13 15:19] damienmarchal commented on #495
The PR #853  is now compiling on some system...and there is already a lot of scene working.
https://www.sofa-framework.org/dash/?branch=Jk2/origin/PR-853

What do you think we should do for the user layer:
- do we create alias from the removed types Rigid3f to Rigid3 or do we print a warning to anounce the use of a removed template.

[2018-12-19 11:53] hugtalbot opened #871 "Issue with mapping forces when using direct solvers"
Since the PR #797 for BarycentricMapping cleaning from @EulalieCoevoet , a problem has apparently been noticed by @sergeiNikolaev with mapping forces (from slave to master object) when using direct solvers.

TODO:
- please @sergeiNikolaev provide us a scene highlighting the issue

______________________________________________________

Suggested labels:

[2018-12-20 15:27] damienmarchal commented on #495
Done.

[2018-12-20 15:27] #495 closed, assigned to hugtalbot

[2018-12-20 15:40] damienmarchal commented on #695
Done.

[2018-12-20 15:40] #695 closed, assigned to Camille-K

[2018-12-20 15:42] damienmarchal commented on #665
We don't have sofaCuda on the CI right now ?

I feel like we are going into the turbulence zone for the merged SOFA_FLOAT :)

[2018-12-20 15:46] guparan commented on #665
We compile the plugin but can't run any CUDA simulation.

[2018-12-20 16:10] damienmarchal commented on #665
Ok, so I will make a cuda install on my laptop this weekend to check some simulations.

[2018-12-20 16:37] sergeiNikolaev commented on #871
[Mapping_forces_for_direct_solvers_scene.zip](https://github.com/sofa-framework/sofa/files/2699666/Mapping_forces_for_direct_solvers_scene.zip)

Hello. Here is the scene with a brick mesh.
As far as you put PARDISO or other direct solver instead of CGLinearSolver, SOFA says that system is invalid or the scene just explodes.

[2018-12-20 21:00] damienmarchal commented on #871
Thanks sergei for the scene.

[2018-12-21 12:33] EulalieCoevoet commented on #871
Hi,
FYI, I think the problem has nothing to do with the PR#797.
I tried an older version of Sofa:  aff4c85c54eb7d2fba9f16872b53d501a6b3b3b6
without any of these commits and the problem is still there. I didn't find the problem though.

[2019-01-04 04:29] Neustradamus opened #879 "Detect missing python27.dll in installer"
runSofa.exe system error :
- python27.dll is missing

[2019-01-04 15:47] damienmarchal commented on #879
Hi @Neustradamus,

Thank you a lot for taking time to report the issue.

I think @guparan  is the one to handle this issue.
@guparan  any update ?

[2019-01-11 16:27] IPeterlik commented on #871
Hello,

I am coming back to this issue.

The problem is this: in general, mappings in SOFA do not propagate stiffness matrix (more precisely MBK matrix) from slave to master, thus, any direct solver (such as LDL) is incompatible with mechanical mapping. Since this situation was in place already in 2010, I implemented at that time (with help of @ChristianDuriez) a "temporary" workaround: a special

[2019-01-11 17:20] ChristianDuriez commented on #871
Hi Dr Peterlik !

Happy new year :-)

I don’t know why PR #797 <https://github.com/sofa-framework/sofa/pull/797>  is breaking our child forcefield (I didn’t know that it was still alive…) but we made an other baby with Olivier Goury :-))  to map the matrix of a forcefield. MechanicalMatrixMapper
 It is generic and is working with ALL mappings, even multi mapping (as soon as they implement applyJt(

[2019-01-11 17:30] IPeterlik commented on #871
Dear father Christian,

thanks a lot for this answer. @sergeiNikolaev, can you look at the example of MechanicalMatrixMapper?
Yes, it's surprising that the old workaround does not work. It might indicate some other problem, but it can well be also related to the workaround forcefield.
And yes, happy new year to everyone! I really believe it's gonna be better than the previous one (referring to bit

[2019-01-11 21:06] damienmarchal commented on #589
I think we should remove all commented code. If one day we need it..then it will be worth re-adding it.

[2019-01-11 21:06] #589 closed, assigned to nobody

[2019-01-14 16:36] guparan commented on #879
Hi guys, sorry for the late answer.

We do not ship Python with SOFA. You have to install it yourself.
Be sure to select the appropriate version and platform: [2.7.15_64-bit](https://www.python.org/ftp/python/2.7.15/python-2.7.15.amd64.msi) or [2.7.15_32-bit](https://www.python.org/ftp/python/2.7.15/python-2.7.15.msi).
When asked by the installer, accept to add Python to your PATH.

Hope that help

[2019-01-14 19:20] Neustradamus commented on #879
Why it is not possible to have with?

Solution:
The installer can detect:
- if there is on the machine, good
- if not, inform the user to download the good package...

[2019-01-15 20:38] FrancoisLeonard opened #892 "Can't compile with Geomagic"
I'm trying to install Sofa from the master branch with the Geomagic plugin. I'm getting the following error:

[code]

______________________________________________________

Suggested labels:

[2019-01-16 08:33] damienmarchal commented on #892
Hi @FrancoisLeonard,

Thanks a lot for your report.

My first guess is that this may be related to some big changes we made in december (removing SOFA_FLOAT/SOFA_DOUBLE).
https://github.com/sofa-framework/sofa/pull/853

I will give it look in case this is related.

[2019-01-16 09:08] damienmarchal commented on #879
Hi Neustradamus,

Improving the packaging and installation process of binary version of Sofa is something we really would like to improve. @guparan already made great work on that  but as we are short on man-power this is very slow, small step are done at each Sofa release.

Thanks for you suggestion to auto-install python (and numpy), this would definitely be nice feature.
In case you have knowle

[2019-01-16 09:29] damienmarchal commented on #892
More details about he problem.

The geomagic plugin is using:
[code]
and
[code]
This means that the mapping is transforming ```Rigid3dTypes``` (d stand for double) to ```ExtVec3fTypes``` (where f stand for float).  Since the removal of SOFA_FLOAT/SOFA_DOUBLE these kind of combination mixing precision have been removed and are not expected to compile anymore.

The only mapping that remains in Sofa

[2019-01-16 10:56] marques-bruno opened #894 "Proper install of include directories in SOFA"
As #887 shows, some modules are not properly deployed in their install folders (the directory structure is not well respected because of a missing `set_target_properties( ... PUBLIC_HEADERS ... )` for instance)

While #887 has been merged, the other modules should be checked for similar issues.
______________________________________________________

Suggested labels:

[2019-01-16 12:09] damienmarchal opened #895 "Possible regression with MassSpringLoader"
A possible regression has been reported on the forum.
I opened an issue so we can properly handle it.

Description is here:
https://www.sofa-framework.org/community/forum/topic/issue-with-initializing-stiffspringforcefied/
______________________________________________________

Suggested labels:

[2019-01-18 14:04] tgaugry opened #900 "examples/Demos/chainAll.scn does not work"
Scene does not work. Some objects go through each others, and some meshes even "explode".
Screenshots come from windows version, but the same problem also happen on sofa compiled for fedora 27.
Sofa version is current master (815ff0edde81d9e5860537f910fb701e4f4f6291).

![image](https://user-images.githubusercontent.com/6662010/51391212-ca20b780-1b31-11e9-9cfd-b874685cd932.png)
![image](https://use

[2019-01-18 14:05] tgaugry commented on #900
@hugtalbot I heard through the grapevine that you are working on this ? Is a fix included in one of your PR ?

[2019-01-23 10:20] hugtalbot opened #904 "Management of the inclusion pipeline for config.h"
We noticed using the macro SOFA_UNUSED() from the module SofaKernel/framework/sofa/simulation, the inclusion of the header <sofa/simulation/simulationcore.h> was actually not providing access to the macro.

Questions:
what is the default pipeline to include config.h ? i.e. inclusion between config.h, namings of headers (config/module/initmodule.h ?)
is the SOFA_UNUSED at the right location ?

@dam

[2019-01-23 14:10] epernod commented on #892
Sorry I see this issue only now.
I confirm that @vmagno PR is fixing the compilation. Thus I close this issue.

[2019-01-23 14:10] #892 closed, assigned to damienmarchal

[2019-01-24 22:34] epernod commented on #900
This is art!

[2019-01-30 13:14] damienmarchal commented on #904
Good question,

I'm not sure I have a "ready" answer but I think that the idea is that each module/plugin should have
has its own config.h. This file should include the config.h from its its dependencies.

So let's take SoftRobots as an example.
This SoftRobots modules we should have something like:
   SoftRobots/config.h
And each header in this SoftRobots plugin should include SoftRobots/config.h

[2019-01-31 20:51] #816 closed, assigned to courtecuisse, fspadoni, ChristianDuriez

[2019-02-01 17:16] Ant0nin opened #914 "Buffer overflow in Gauss-Seidel from GenericConstraintSolver when using a ConstraintResolution having more than 6 constraints"
In the Gauss-Seidel implementation from the class GenericConstraintSolver, an array called 'errF' is used to store the error forces from ConstraintResolution objects:

https://github.com/sofa-framework/sofa/blob/v18.12/modules/SofaConstraint/GenericConstraintSolver.cpp#L870

This array have a static size of 6. Consequently, in the case the user uses a custom ConstraintResolution having more than 6

[2019-02-02 07:12] damienmarchal commented on #914
Hi Antonin,

Thank you very much for taking time to report this bug.
@sofa-framework/reviewers  Anyone interested to fix it ?

Damien.

[2019-02-06 12:50] tgaugry commented on #914
i'll take a look at it

[2019-02-06 13:41] Ant0nin commented on #914
Thanks @tgaugry your PR solves the issue. I tested it on my side.

[2019-02-08 11:59] IPeterlik commented on #871
Hello, since there has been no progress on the issue of mappings + direct solvers, I deliberately dived into the new code. I must say I was a bit perturbed by the fact that getJ() of Barycentric mapping returns a matrix, which has beautifully-set dimensions and at the same time, contains charming zeros everywhere. Since I am not an expert in C++, I have a hypothesis that this _might_ be related to

[2019-02-08 12:32] EulalieCoevoet commented on #871
Indeed... Sorry I didn't see that.
I'll make a PR to fix the issue. Thanks Igor.

[2019-02-08 12:44] IPeterlik commented on #871
Great, thanks a lot for pushing it to SOFA. I think it's easier from your side (I'll receive the fix via our Mimesis fork).

[2019-02-11 14:33] guparan opened #926 "Fix or remove 3 scenes with deprecated components"
Scenes to be FIXED or REMOVED:
* edgeDeformationMapping.scn needs CatmullRomSplineMapping
* optitrackGrasping.scn needs GraspingManager
* MechanicalStateController.scn needs EdgeSetController

See #922

______________________________________________________

Suggested labels:

[2019-02-11 22:34] damienmarchal opened #928 "Crahsh when using RestShapeSpringForceField<Rigid3> without angularStifness"
This does not crash (when simulating)
[code]

While this does:
[code]

______________________________________________________

Suggested labels:

[2019-02-12 14:11] #914 closed, assigned to nobody

[2019-02-13 09:43] damienmarchal opened #932 "SceneChecker is not activated at startup."
______________________________________________________

Suggested labels:

[2019-02-19 09:44] damienmarchal commented on #900
Ouch this is bad.

[2019-02-19 18:52] damienmarchal commented on #895
We can close this. it was not a "real" regression.
A PR is PR is waiting to be merged refactoring this part of the codebase.

[2019-02-19 18:52] #895 closed, assigned to nobody

[2019-02-19 18:54] damienmarchal commented on #871
So is this issue closed or only the problematic "return" has been fixed by eulalie's fix ?

[2019-02-22 15:06] tgaugry opened #940 "AttachConstraint not working with FreeMotionAnimationLoop"
Example scenario [scene.txt](https://github.com/sofa-framework/sofa/files/2894540/scene.txt)

Result is not physically plausible. Points of junction seem to be “heavier” than the others. They then gain speed, and the whole thing turn into a windmill. No crash.
You can compare the results using the commented section in the scenario of the initial post (section # This does not work / # Works)

Log d

[2019-02-22 16:10] damienmarchal opened #941 "Crash when checking MechanicalObject showObjects"
This problem occurs when saving and loading again a scene.
Then, when a path to the parent node is given like parents="@/" explicitly set in the scene file (eg when it result from dumping a loaded scene), the scene crashes

______________________________________________________

Suggested labels:

[2019-02-22 16:10] damienmarchal commented on #928
I'm on it...but first I'm making a Test suite.

PR on its way.

[2019-02-24 20:36] damienmarchal commented on #802
Done

[2019-02-24 20:36] #802 closed, assigned to nobody

[2019-02-24 21:53] damienmarchal opened #943 "Xitact plugin missing file."
When the plugin is activated the file
XiTrocarInterface.h is missing.

I assume this plugin does not compile anymore.

______________________________________________________

Suggested labels:

[2019-02-24 21:56] damienmarchal commented on #943
Well, sorry my mistake, it is said in the doc that his file is provided by the driver.

[2019-02-24 21:56] #943 closed, assigned to nobody

[2019-02-24 22:09] damienmarchal opened #944 "Igor's in OnmiDriverEmu"
While I was cleaning OmniDriverEmu I found that:
[code]
in hapticSimuExecute

@IPeterlik is this 'version' important to you or any other (eg: it perform better than the existing one) ?  In that case it may be good to properly implement it in the codebase...
otherwise could we remove this commented code ?

______________________________________________________

Suggested labels:

[2019-02-25 09:56] tgaugry commented on #940
@hugtalbot now that I look at it, the code for projectResponse seems weird (that or I'm missing some piece of information).
[code]

There is also an unrelated bug with the dynamic constraint factor; The scene use a static one just to show that the problems aren't related.

[2019-02-25 16:01] tgaugry commented on #940
So same formula ? will try. If that works, I'll also add the aforementioned dynamic constraint fix.

[2019-02-25 16:46] tgaugry commented on #940
from my previous comment

[2019-02-25 17:16] tgaugry commented on #900
Seems to work now. We still can't interract with it though.

[2019-02-27 08:30] romainla commented on #940
Hello,

Just to let you know using Sofa 17.12 at commit ID 5f86d8589ee7c8b85284799ae3da092d219c6dff this example scene is working

[2019-02-27 09:23] tgaugry commented on #940
Seems like the mystery is solved ! Congratulation @hugtalbot !

[2019-03-05 11:06] epernod opened #954 "Tetra2TriangleTopologicalMapping with option: NoInitialTriangle is broken"
removing tetrahedron with the option NoInitialTriangle has be broken by... me in my last PR.

Crash when removing Tetra in scene: examples/Components/topology/Tetra2TriangleTopologicalMapping_NoInitialTriangle_option.scn

______________________________________________________

Suggested labels:

[2019-03-05 11:07] epernod opened #955 "TetrahedralCorotationalFEMForceField has a bad behavior when removing tetrahedron"
Seems to be a problem of force recomputation. When removing some elements, other start to twist..

______________________________________________________

Suggested labels:

[2019-03-05 11:25] epernod opened #956 "Several Methods in Topology are emitting false negative msg_error"
See all those scenes that are working in fact:
https://ci.inria.fr/sofa-ci-dev/job/sofa-framework/job/master/CI_CONFIG=ubuntu_clang-3.8,CI_PLUGINS=options,CI_TYPE=debug/691/warnings3Result/

______________________________________________________

Suggested labels:

[2019-03-05 15:33] damienmarchal opened #957 "ExtVec3Type could be removed"
I will delete ExtVec3Type if I understand this is useless.
See #863
______________________________________________________

Suggested labels:

[2019-03-06 11:09] epernod commented on #954
my bad... it has never worked!

[2019-03-07 14:19] romainla commented on #940
Sorry @hugtalbot I had an article deadline and missed your question. The answer was "yes, the example given by @tgaugry was working".
I'm glad the mystery is solved and very sorry to be so late to answer you :-/

[2019-03-11 09:27] courtecuisse opened #961 "Issue with null pointer in CollisionVisitor"
Hi,

I have an issue with commit cbee54ca9953f514da374d92253f9ca6e54df51f line 77.
It seems that a function has been added to get the number of primitives from the narrowphase without checking if the narrow phase is not NULL i.e.
    m_primitivesTest += obj->getNarrowPhaseDetection()->getPrimitiveTestCount();

I use such pipeline without narrowphase, which mechanically creates a segfault in my sce

[2019-03-11 10:08] damienmarchal commented on #961
Definitely to fix.

[2019-03-13 10:25] fspadoni commented on #961
Thank Hadrien, the fix is fine.

The m_primitiveTestCount  is  used only for statitistics to know how many collision tests are performed.
There should be no other crash if m_primitiveTestCount  is = 0.

[2019-03-19 15:57] tgaugry commented on #900
@hugtalbot any news on this fix getting merged ?

[2019-03-20 15:47] tgaugry commented on #940
Solved by #949

[2019-03-20 15:47] #940 closed, assigned to hugtalbot

[2019-03-22 08:40] Epholys commented on #746
Hello,
I have a similar error, when trying to load a mesh file with the wrong format. For example, when loading a scene with this line:

`<MeshObjLoader name="loader" filename="mesh/smCube27.msh" />`

SOFA crash with a SIGSEV. Here's the output in the console (edited to break the really long lines of stack trace):
[code]

[2019-03-22 14:00] #928 closed, assigned to nobody

[2019-03-28 14:15] damienmarchal opened #974 "Python and binary release of Sofa have trouble with ctypes and _dlopen"
On windows, the following code works in the pyhton2.7 interpreter but does not when using the embedded one in SofaPython

[code]

This seems strongly related to this problem: https://bugs.python.org/issue24429
______________________________________________________

Suggested labels:

[2019-03-28 14:16] damienmarchal commented on #961
This was fixed in https://github.com/sofa-framework/sofa/pull/962
We can close the issue.

[2019-03-28 14:16] #961 closed, assigned to fspadoni, fredroy, damienmarchal, hugtalbot

[2019-03-29 16:06] damienmarchal commented on #746
Hi @jnbrunet

Thank for reporting the bug.

I just wrote a scene with the single line you gave and it does not crash.
Maybe the bug has been fixed or other componet in the scene are needed. Could you check ?

regards,
Damien.

[2019-04-01 17:13] hugtalbot opened #976 "Should remove the option "distanceLMConstraint" in DefaultContactManager"
This option is using a deprecated version of LM.
If I am correct we should remove it.

______________________________________________________

Suggested labels:

[2019-04-02 20:22] hugtalbot opened #978 "Fix tests on CI: UtilsTest.string_to_widestring_to_string + Link_test.read_test"
Fix all failing/crashing unit tests, scene tests, regression tests

______________________________________________________

Suggested labels:

[2019-04-03 09:12] hugtalbot opened #979 "ForceField looking for topology: use a generic API ?"
Most of ForceFields relying on FEM need to access the topology. In SOFA, the codes often access the topology through the context (which hides the user the dependency). As in the PR #973 the link to the topology should be more explicit (through a Data available to the user), not only through the context.

Should we need a intermediate layer ForceFieldOnTopology or ForceFieldFEM implementing this AP

[2019-04-04 12:55] damienmarchal commented on #979
We chould have an intermediate level in the inheritance hierarchye or we can have interfaces as well as agregation.

Here is an example with both interface & agregation approache to factor the data logics. It is a bit long because I wanted it to be self compiling.
[code]

EDIT: I noticed that I wrote "chould"...I like the neologism a lot as it looks like an in-between could et should :)
EDIT2: Wha

[2019-04-05 12:09] #954 closed, assigned to epernod

[2019-04-05 12:11] epernod commented on #606
This should has been fixed with all the recent changes in topology container and tetra2triangleMapping components.

[2019-04-05 12:11] #606 closed, assigned to epernod

[2019-04-10 16:58] remibessard opened #988 "BarycentricMapping - Triangles into Hexahedra"
When trying to map a surface mesh (triangles) into a set of hexahedra using the BarycentricMapping component, mapping fails and deform the triangle mesh unexpectedly.

Such issue appears in release v18.12 and master while it seemed to work fine in release v18.06.
Cf. [scene&screenshots](https://mybox.inria.fr/d/7a20cfaa26/
)

Thank you for your help.
@hugtalbot @EulalieCoevoet
____________________

[2019-04-10 17:05] epernod commented on #988
@remibessard thanks for the report, could you post the scene and screenshot directly here in the issue. I can't acces the inria dropbox.

[2019-04-11 08:14] remibessard commented on #988
![CubeMapping_sofa_1812 master](https://user-images.githubusercontent.com/19310913/55941516-a2c61c00-5c42-11e9-9fd7-d3e8510f4e0d.png)

![CubeMapping_sofa_1806](https://user-images.githubusercontent.com/19310913/55941519-a3f74900-5c42-11e9-874c-c24eeeedf341.png)

[2019-04-11 08:15] remibessard commented on #988
_(clicking on "Edit" you will see the whole scene description, here you only see a sub-part of it)_
`<Node dt="0.04" gravity="0 -0.1 0" name="root">
    <VisualStyle displayFlags="showVisual showCollisionModels hideBehaviorModels showForceFields showInteractionForceFields showWireframe" />

    <Node name="Topo">
		<RegularGridTopology name="RGT" min="-6 -6 -6" max="6 6 6" n="4 4 4" />
	    <Node

[2019-04-11 08:29] epernod commented on #988
I don't really see why, but it might be a side effect of some renumbering change I did in tetra and triangles.
I will check the scene.

or side effect of the hashing map from @EulalieCoevoet  yes!

[2019-04-11 12:20] p-shg opened #989 "[SofaGuiGlut] Lonely #endif without its #ifdef in SimpleGUI.cpp"
Hi,
I've noticed a trailing `#endif` in [SimpleGUI.cpp](https://github.com/sofa-framework/sofa/blob/master/applications/projects/SofaGuiGlut/SimpleGUI.cpp), which on my machine seems to break compilation.

Is this normal? and if not, why does the CI build without errors?
Is SofaGuiGlut even compiled on the CI?

Cheers

______________________________________________________

Suggested labels:

[2019-04-11 13:02] epernod commented on #989
Hi, I suppose you are speaking about this one:
https://github.com/sofa-framework/sofa/blob/801cda5c4042438f49970fc8233d915f60e334d1/applications/projects/SofaGuiGlut/SimpleGUI.cpp#L232

I think you are right, this is a bug.
I just checked the [configure file of the ci](https://github.com/sofa-framework/sofa/blob/master/scripts/ci/configure.sh) it doesn't seems to have the option SOFAGUIGLUT to ON

[2019-04-11 15:10] guparan commented on #989
Indeed. Note though that the ci scripts are in https://github.com/sofa-framework/ci :wink:
AFAIK, glut support has been stopped in SOFA.
@fredroy should confirm :+1:

[2019-04-16 16:56] damienmarchal commented on #988
Hi Remi, thanks for the bug report and the scene.
@epernod, @EulalieCoevoet  can you say which change is the latest so we can test before this version if the code work ?

[2019-04-17 09:12] hugtalbot opened #994 "[CollisionGroup] investigate wrong behavior"
Investigate wrong behavior with CollisionGroup
See below the corresponding scene

since commit https://github.com/sofa-framework/sofa/commit/e061012ce0091f115e2ddb5e23eba4ec3291498b

https://github.com/sofa-framework/sofa/blob/master/examples/Demos/chainHybrid.scn
and
https://github.com/sofa-framework/sofa/blob/master/examples/Demos/chainHybridNoGroup.scn
are the same.

ChainHybrid.scn should have

[2019-04-17 09:13] guparan opened #995 "Simplify Doxygen"
Doxygen shows too much information, we should simplify it to have the important stuff first:
- inheritance diagram
- Data members
- Methods

______________________________________________________

Suggested labels:

[2019-04-17 09:53] adagolodjo opened #996 "[GeomagicDriver]: Strange behaviour of the device at initial point"
The first three steps, the haptic device moves in the scene. This is weird since its position is chosen in the function init(). #STC

______________________________________________________

Suggested labels:

[2019-04-17 09:56] epernod commented on #996
Do you know if it is the same with the GeomagicPlugin?

[2019-04-17 11:13] adagolodjo commented on #996
Sorry, my mistake It's rather the GeomagicPlugin.

[2019-04-17 13:30] epernod commented on #996
ok, could you test by removing the line:
323 or 324 in the GeomagicDriver.cpp

remove this call: ```updatePosition(); ```
because I saw it is called at SOFA component init when the device thread is not yet well init so it init the manager position with trash position of the device.

[2019-04-17 20:24] #631 closed, assigned to epernod

[2019-04-18 02:32] #746 closed, assigned to epernod

[2019-04-18 02:32] #955 closed, assigned to epernod

[2019-04-18 02:32] #956 closed, assigned to epernod

[2019-04-24 09:13] #894 closed, assigned to nobody

[2019-04-24 09:16] guparan commented on #932
Fixed by #938

[2019-04-24 09:16] #932 closed, assigned to nobody

[2019-04-24 09:18] hugtalbot opened #1002 "[SofaPython] List of useful binding to add"
For interns and newcomers in SOFA, list of useful binding to add

______________________________________________________

Suggested labels:

[2019-04-24 09:19] guparan commented on #794
Fixed by #959

[2019-04-24 09:19] #794 closed, assigned to nobody

[2019-04-24 09:22] guparan commented on #685
Hey @damienmarchal is this issue still relevant?

[2019-04-24 09:26] tgaugry commented on #900
Merged in #987

[2019-04-24 09:26] #900 closed, assigned to nobody

[2019-04-24 09:27] guparan commented on #647
Seems fixed in recent versions of SOFA.

[2019-04-24 09:27] #647 closed, assigned to nobody

[2019-04-24 09:30] guparan commented on #528
Will do.

[2019-04-25 04:49] Neustradamus commented on #879
@guparan: It is solved?

[2019-04-25 08:31] guparan commented on #879
Hi @Neustradamus,
Shipping Python with SOFA binaries is not a priority for now but I will definitely improve the installation instructions to make it very clear that users have to set their Python env by themselves and how to do it.
But actually I may have closed this one too quickly, the solution you proposed should be implemented. Let's re-open and put a more generic title. No promise on when I

[2019-04-26 09:11] damienmarchal commented on #988
Any news here ?

[2019-04-26 09:12] damienmarchal commented on #979
No one ?

[2019-04-29 10:57] Camille-K opened #1014 "Rigid3d - template recognition in Mappings"
Hello,

There seem to be an issue in template recognition when creating mappings involving Rigid3d DoFs.

Namely, when creating a BarycentricMapping or a BeamLinearMapping between a mechanical model and a collision model of connected beam elements, I receive the following error messages:

`[ERROR]   [InfoComponent(Not created (BarycentricMapping))] Object type BarycentricMapping<Vec3d,Rigid3d> was

[2019-04-29 11:07] damienmarchal commented on #1014
Hi Camille,

Thanks a lot for the detailed reports. I just tested the files and can  confirm the issue.

[2019-04-29 11:32] damienmarchal commented on #1014
Well after a quick look in the scene you provided:

I'm not surprised the BarycentricMapping is not able to work .

Let's me explain:
- Object.DoFs is of type Rigid3d
- Object.Mechanical model.collisionDofs is of type Vec3d

What your are specifying by setting the input & output field of BarycentricMapping is that you are driving the collisionDofs(type Vec3d) from the one from the one of type Dofs

[2019-04-29 13:37] Camille-K commented on #1014
Hi Damien,

Thanks a lot for your answer!

Regarding the BarycentricMapping, I indeed wasn't sure of which of the input and the output was driving the other (although I knew that the mechanical model was supposed to drive the collision model). It is definitely clear with your explanation. So I understand that there is no bug regarding the behaviour of the BarycentricMapping (as you pointed out), a

[2019-04-30 10:03] Camille-K commented on #1014
@hugtalbot Correct! This actually works with the IdentityMapping, but I'd be interested in using a reduced topology for the collision model.

[2019-05-02 08:17] damienmarchal commented on #749
Hi @ChristianDuriez, @fjourdes, @EulalieCoevoet,

It would be nice to have feedback on this possible issue because this is related to your PR. If it is not an issue we can close it.

[2019-05-02 08:18] damienmarchal commented on #944
Hi @IPeterlik,

Is this commented code have some interest or can we remove it ?

[2019-05-02 08:19] #871 closed, assigned to hugtalbot

[2019-05-02 08:20] ChristianDuriez commented on #976
yep

[2019-05-02 08:24] guparan commented on #989
This shall be fixed and set to deprecated during STC#7

[2019-05-02 08:24] damienmarchal commented on #757
Is this fixed ?

[2019-05-02 08:44] #757 closed, assigned to hugtalbot

[2019-05-03 13:11] damienmarchal commented on #749
I finally got the answer from @ChristianDuriez ... the new behavior. (and the good one) is to use position and not free_position. So I will make a small PR.

[2019-05-05 16:32] Camille-K commented on #1014
Unfortunately, I won't be able to come to Sophia Antipolis for the next STC... But if I haven't investigated the issue until then, I'll try to block 1 or 2 days during the STC to work on it from distance.
I'll keep you updated in the meantime.

[2019-05-07 15:43] jnbrunet commented on #979
Hey guys,

Sorry I took so long to join the party, busy weeks !

To me, a force-**field** intrinsically means a discrete geometrical representation of a domain from a topology (it could even be meshless having the field discretized with point-cloud neighbourhood topologies). To me, a forcefield could even **inherits** the topology class itself!

But then you find components such as **ConstantForce

[2019-05-07 15:51] jnbrunet commented on #979
I forgot a small remark (which might not be very useful for this discussion).

I've seen multiple segmentation faults and crashes in SOFA from a mismatch between the topology and the positions set in the mechanical object. I've not seen many components check this at the **init** stage (or after if topological changes happen). Maybe we could find a clean way to provide forcefield authors tools to v

[2019-05-09 09:02] damienmarchal commented on #20
This seems to be solved since some time.
If not, please reopen a new issue.

[2019-05-09 09:02] #20 closed, assigned to bcarrez

[2019-05-09 09:05] damienmarchal commented on #201
I will not give it a look before 19.06

[2019-05-09 09:16] #581 closed, assigned to IPeterlik, hugtalbot

[2019-05-13 10:05] guparan commented on #995
Done! See https://www.sofa-framework.org/api

[2019-05-13 10:05] #995 closed, assigned to nobody

[2019-05-17 11:48] damienmarchal opened #1038 "[Node] What is the difference between "sleeping" and "activate" data field ?"
Shouldn't we merge the two ?

______________________________________________________

Suggested labels:

[2019-05-17 11:55] epernod commented on #1038
I never used the sleeping...
but I would understand the behavior: sleeping = "not activated but listening events"
in case you want it to awake in a precise case...

[2019-05-17 12:16] damienmarchal commented on #1038
But there is a "listening" field on object for that purpose isn't it ? Are they the same ?

[2019-05-17 12:33] epernod commented on #1038
is the listening still listening even if activate = false?

[2019-05-17 13:20] damienmarchal commented on #1038
I don't know...interesting to clarify that.

[2019-05-19 14:59] hugtalbot opened #1039 "Make a standard definition of heterogeneity and anisotropic properties"
Today each FEM mechanical code implements the heterogeneous mechanical properties and the possible anisotropy in different ways. We should homogenize it and use a standard C++ structure.

______________________________________________________

Suggested labels:

[2019-05-20 15:38] hugtalbot opened #1040 "Document all CMake option"
No less !
Like explain SOFA_DUMP_VISITOR etc.

______________________________________________________

Suggested labels:

[2019-05-20 15:49] hugtalbot opened #1041 "Update architecture of plugins examples: doc, PluginExample, Qt template"
______________________________________________________

Suggested labels:

[2019-05-21 13:01] tgaugry opened #1043 "Some classes have duplicate constructors"
- [ ] GearSpringForceField

______________________________________________________

Suggested labels:

[2019-05-21 15:15] epernod opened #1050 "[regression] Move regression repository as a sub-module of sofa-framework repo."
______________________________________________________

Suggested labels:

[2019-05-21 15:17] epernod opened #1051 "[regression] Update regression test to compare only last iteration position"
add an option to either compare dofs per iteration or only the last one (for CI)

______________________________________________________

Suggested labels:

[2019-05-21 16:59] #989 closed, assigned to fredroy

[2019-05-22 07:48] damienmarchal commented on #1038
In the Sofa code base:
"enabled" in BaseSimulationExporter, OglTexture,OglViewport
"active" in CollisionModel, SkeletalMotionConstraint
"activated" in Context, BaseCamera

[2019-05-22 08:58] BehnamBinesh commented on #713
Hi
i use plugin manager in release and debug mode without any problem

[2019-05-22 09:01] BehnamBinesh commented on #713
where is the problem?

[2019-05-22 13:42] #988 closed, assigned to epernod

[2019-05-22 13:42] #652 closed, assigned to hugtalbot

[2019-05-22 14:10] #551 closed, assigned to epernod

[2019-05-22 14:32] #1043 closed, assigned to tgaugry

[2019-05-22 14:33] damienmarchal commented on #1041
Merged in PR #1053

[2019-05-22 14:33] #1041 closed, assigned to guparan

[2019-06-01 04:33] damienmarchal opened #1070 "[runSofa] OpenGL performance droped down after release 18.12"
There is severe performance issues on MacOS reported by users (@ChristianDuriez), the framerate is very slow. When we uncheck the visual model rendering (OglModel) the  rendering goes much higher.

@fredroy and @bcarrez investigated the issue, the problem seems to be related to the use of GL_DOUBLE when passing data to opengl.

After some additional tests the issue also exists on Linux but is hard

[2019-06-01 04:37] damienmarchal commented on #1070
I looked into the OglModel implementation.

The implementation contains very old OpenGL rendering code (OpenGL 2.0) and is very hard to read because of excessive use of #ifdef all around.

So I made a PR to clean it a bit (remove the GLEW stuff) ...because do we need such a thing in 2018 ?
In the PR I also fix the performance issue by converting all the doubles arrays to float array before passing

[2019-06-04 09:19] epernod opened #1072 "StiffSpringForceField doesn't support topology change"
Setting springs between 2 objects:
For example here are 51 springs between 2 cylinders well placed.
![MeshRefinement_bench-04_resection_00000001](https://user-images.githubusercontent.com/21199245/58867221-59320480-86ba-11e9-9d0e-cacf6440a279.png)

Removing one point will not delete the spring(s) concerned but keep springs with wrong id.
Can potentially crash if id of point kept is out of mechanic

[2019-06-04 09:21] damienmarchal commented on #1072
:)

[2019-06-07 10:45] epernod commented on #1050
well done! Much easier now!

[2019-06-07 10:45] #1050 closed, assigned to guparan

[2019-06-07 12:34] epernod commented on #828
This issue is pending since last STC6.
Now that regression test project is tracked as a git submodule. Old historically failing refences will be accessible from git history and will now be replaced (in PR #1061) by new version with only first and last iteration dump.

[2019-06-12 15:54] epernod opened #1079 "Bad getTime precision"
The method getTime has a problem of precision over the simulation in the animationLoop

Playing a scene with a Dt of 0.0051 and comparing the return time to ground truth reveal the error. See below

In DefaultAnimationLoop::step
[code]

give:

[code]
______________________________________________________

Suggested labels:

[2019-06-13 13:50] #1051 closed, assigned to epernod

[2019-06-13 22:29] #828 closed, assigned to hugtalbot, epernod

[2019-06-21 12:26] damienmarchal opened #1087 "GetClass() vs getClass() returns differents pointer"
It is unclear to me why GetClass() and getClass() are not returning the same pointer.
To me this indicate that there is two 'duplicated' BaseClass while only one is needed.

The side effect is that you cannot make class comparison by using BaseClass pointer comparison.

______________________________________________________

Suggested labels:

[2019-06-26 09:10] guparan opened #1092 "Use std::string instead of char* in Data and BaseData"
The usage of `char*` leads to eventual null pointers which may lead to segfaults.

Using `std::string` would be easier and safer for
- `BaseData::name`
- `BaseData::ownerClass`
- `BaseData::group`
- `BaseData::widget`
- `BaseData::helpMsg`

After doing this, don't forget to revert #1090 (temporary fix).

[2019-06-28 08:55] #1070 closed, assigned to nobody

[2019-07-01 17:12] lizzyd710 commented on #1092
I would be interested in working on this. Should I just look for all instances of `char *` in all files, or just in `.cpp` files, or anything else specific?

[2019-07-03 08:54] hugtalbot opened #1099 "Unify SpringFF and StiffSpringFF"
SpringFF = explicit only and optimized

StiffSpringFF = implicit, possibility to add new springs ..

______________________________________________________

Suggested labels:

[2019-07-03 09:14] epernod opened #1100 "MeshObjLoader how to handle handleSeams option generically"
There is a conflict using MeshObjLoader for mechanical and for rendering purpose.

for OglModel MeshObjLoader should have handleSeams = 1 to have multiple vertices at a same position and better handle texture seams and normals.

But this option should not be used for Topology (if I well understood).
Several tests are breaking in PR #1096 where handleSeams has been set to true by default.

________

[2019-07-03 09:29] #957 closed, assigned to fredroy

[2019-07-03 09:41] guparan commented on #1092
Hi @lizzyd710 thanks for your interest!

The idea would be to replace the `char*` type of the 5 members I listed in the description by `std::string`. This change will need to be propagated everywhere in SOFA like in the BaseData constructors, in the members' getters/setters, in QDisplayDataWidget (see #1090), etc.
I can't tell precisely how much those members are used in SOFA codebase.

Do not hes

[2019-07-06 02:45] lizzyd710 commented on #1092
Cool, thanks for the clarification!

[2019-07-11 08:47] marques-bruno commented on #1002
Can we close this issue..? ^^ Or rename it to plugin.SofaPython3 and redirect to the trello board maybe:
https://trello.com/b/snWTMlCN/pluginsofapython3-the-turtle-speed-project

[2019-07-19 09:16] dweckmann opened #1105 "CMake >= 3.15 fails at configuring stage of sofa 19.06.00"
Using the newly released CMake 3.15, the configuring stage fails with:

CMake Error at SofaKernel/SofaFramework/SofaMacros.cmake:686 (message):
  Missing parameter TARGETS.
Call Stack (most recent call first):
  applications/plugins/SofaMiscCollision/CMakeLists.txt:82 (sofa_generate_package)

______________________________________________________

Suggested labels:

[2019-07-19 14:31] dweckmann commented on #1105
Yeah, I was testing head of 19.06.00. But I forgot to mention that I'm on macOS, don't know if it is related. A colleague told me that it seems to work on windows.

[2019-07-23 10:33] fredroy commented on #1105
Just my 2 cents, on macOS 10.14.5, Xcode 10.2.1 , Cmake 3.15.0 and Sofa sync with master, I don't have any error with the configuration.
**BUT** Cmake 3.15.0 wants to link the OpenGL framework from a non-existing /Applications/Xcode-beta.app (I dont have any beta version of XCode), and obviously breaks the make process.
So I suppose there are some bugs in the 3.15.0 version of cmake.

[2019-07-23 12:07] guparan commented on #1105
Weird, I don't see how TARGETS could be empty here. Could you try with another CMake version?

[2019-07-31 08:21] epernod opened #1117 "Build INSTALL on windows is failing"
After building SOFA master (up to date) with success.

Building INSTALL project in Visual 2017 failed:

[code]

#1114
______________________________________________________

Suggested labels:

[2019-08-02 20:24] warango4 opened #1120 "LeapMotion Plugin compilation errors"
Hi,

I have been trying to compile Leap Motion plugin, I already downloaded the Leap SDK and placed all files in the corresponding folders for CMake to build the solution.

When compiling, I've got these errors I haven't been able to solve.

[code]

I hope someone can help with these strange errors.

Thanks in advance.

______________________________________________________

Suggested labels:

[2019-08-03 19:31] damienmarchal commented on #1120
Hi @warango4

Thank you for your report. I have never looked at this part of the Sofa code but after a quick sight I suspect that the problem come from a change in the LeapMotion SDK. InteractionBox is supposed to be part of this SDK. I have no idea yet why it is not found anymore.

See:
https://developer-archive.leapmotion.com/documentation/python/api/Leap.InteractionBox.html

[2019-08-31 09:33] fbridault commented on #1105
Yup same problem here on Windows... Really weird I can't understand why that fails, the call and the function look correct.

[2019-08-31 11:40] fbridault commented on #1105
Ok I got it. Somehow TARGETS looks considered as a special keyword. If you rename the argument by anything else, like SOFA_TARGETS, that works. We should look if this is a reported bug of CMake.

[2019-09-01 12:39] maddin200 opened #1133 "uninitialized variable"
/applications/plugins/image/ImageTypes.h: line 303
 Uninitialized variable: ind

code :

   unsigned int ind; // seems uninit
   for(unsigned int i=0; i<tposition.size(); i++)
   {
                tposition[i]=transform->toImage(Coord((Real)verts[ind][0],(Real)verts[ind] [1],(Real)verts[ind][2]));
   }

______________________________________________________

Suggested labels:

[2019-09-01 12:44] maddin200 opened #1134 "extern lib - condition twice"
extlibs/qwt-6.1.2/src/qwt_abstract_slider.cpp line 30 Identical condition 'tValue==slider->transform(sd.lowerBound())

this looks suspicious:

 if ( tValue == slider->transform( sd.lowerBound() ) )
        return sd.lowerBound();

  if ( tValue == slider->transform( sd.lowerBound() ) )
        return sd.upperBound();

______________________________________________________

Suggested labels:

[2019-09-02 09:24] guparan commented on #1105
Hi @fbridault could you share your CMakeCache.txt?
I can't reproduce this error on Windows (tried with CMake 3.15.[0,1,2]) :confused:

[2019-09-03 18:20] maddin200 commented on #1134
Hi ,
would be fine with me if your guys could provide the patch.

[2019-09-03 23:53] epernod commented on #1134
Hi @maddin200, thank you for the bug report.
I checked on Qwt website: https://sourceforge.net/p/qwt/news/
and this has been fixed in new version of the lib.

I just pushed the PR #1136 to upgrade the version of Qwt. Could you have a try?
Otherwise the patch you are asking for is here:
https://github.com/sofa-framework/sofa/pull/1136/files#diff-4f1be8e83adaddcbf84145436b7d5b80

[2019-09-04 09:03] damienmarchal commented on #1120
Hi @warango4

Did this problem was solved ?

[2019-09-05 06:40] fbridault commented on #1105
Here it is with CMake 3.15.2, Visual Studio 17 (Visual Compiler 15)
[CMakeCache.txt](https://github.com/sofa-framework/sofa/files/3577798/CMakeCache.txt)

[2019-09-07 15:18] maddin200 commented on #1133
Would be grant if somebody can provide the patch - may be there are more things to change.

Thanks for asking.

[2019-09-07 15:19] maddin200 commented on #1134
Thanks for the patch.

[2019-09-10 08:56] #1134 closed, assigned to nobody

[2019-09-18 09:44] fspadoni opened #1147 "ExecParams: Remove thread specific declaration"
The PR #1129 removed the thread specific declaration for the ExecParams.

Is there a reason to restore the ExecParams declaration to be thread specific ?

The goal of the PR #1129 was to remove the check execParams()->checkValidStorage() in the Node::executeVisitor function because was causing a drop of performance in multithreaded execution.
In multithreaded execution the condition execParams()->

[2019-09-18 17:03] JeremieA commented on #1147
Hello,

Here are a few remarks and suggestions regarding this topic:

1. I would be wary about relying on performance measurements from a blog post that is 8 years old and does not mention the exact platform and compilers used. Thread Local Storage (TLS) is highly dependent on OS, ABI, compiler, flags. Here is for instance a quick test using compiler explorer: https://godbolt.org/z/6ObfHR.
2. one

[2019-09-19 07:35] fangzhouzisb opened #1148 "Geomagic problem after the update of handling linearised constraints"
I once noticed that the Geomagic examples had been changed since 18.06, where the position data link had been removed to follow change in the constraint resolution API.
However, it would cause a delay, as we can see at my [post](https://www.sofa-framework.org/community/forum/topic/problem-about-geomagic-plugin-in-v18-12/)
I think this issue stems from the update of handling linearised constraints

[2019-09-20 04:08] fangzhouzisb commented on #1148
Hello @hugtalbot
I cannot wait anymore.
Today morning, after my investigation, I have found a quick fix.
In FreeMotionAnimationLoop.cpp in v19.06, add two lines:

mop.projectPositionAndVelocity(freePos, freeVel); // apply projective constraints
mop.propagateXAndV(freePos, freeVel);

Then the position data link can be used and the Geomagic scene would work fine as we did in v17.12.

By the way, it

[2019-09-20 10:43] epernod commented on #1148
Thank you @fangzhouzisb for raising this again and your investigation.
Unfortunately I didn't had time to work on that issue specifically and I'm not expert of the constraint resolution pipeline. But I'm in a middle of a deadline involving the Geomagic plugin and I also found several wrong behavior that I'm trying to fix.
I'm going to try your fix and merge all that in one PR.

maybe @hugtalbot co

[2019-09-23 09:05] jnbrunet opened #1153 "CMake external dependency binaries are installed in the sofa lib directory"
When you launch "make install", CMake will install external dependency binaries (such as boost and glew) into the sofa libraries directory (e.g. the build/install directory). This in turn will be hiding the system binaries when we try to link our project to Sofa, generating the following CMake warnings for every targets that depends on Sofa:

[code]

Any good reason why we are doing this? Maybe @g

[2019-10-02 18:30] hugtalbot opened #1166 "Fix deprecated warnings for release"
- DataTracker.h:168
- BaseObjectDescription.h:118
- LineModel.h:203
- MatrixMass.h:49
- PointModel.h:172
- SphereModel.h:188
- TriangleModel.h:229
- TemplatesAliases.cpp:135
- VecTypes.h:208

______________________________________________________

Suggested labels:

[2019-10-03 08:28] fredroy commented on #1166
Should we add more warning flags ?
We just activate "-Wall" and as its name does not imply, does not enable all warnings.
Most people adds "-Wextra", and some blogs recommend other flags:
https://kristerw.blogspot.com/2017/09/useful-gcc-warning-options-not-enabled.html

[2019-10-09 10:19] epernod commented on #744
digging into old issues and in fact this is reaching the top of my todo list before the 19.12
To sum up:
- Depreciate all getXXXMeshTopology for 19.12
- Use explicit SingleLink
- if easy will see to automatically add a SingleLink each time a getXXXMeshTopology is used for the in-between period.

thanks for your inputs.

[2019-10-09 10:22] epernod commented on #1072
This has been solved in PR #1093

[2019-10-09 10:22] #1072 closed, assigned to epernod

[2019-10-10 09:01] jnbrunet opened #1180 "SofaSimulationCore is missing its include directory when installed"
When compiling an external project, doing the following:

**CMakeLists.txt**
[code]

**main.cpp**
`#include <sofa/simulation/MechanicalMatrixVisitor.h>`

Will fail to find the `sofa/simulation/MechanicalMatrixVisitor.h` file, which is supposed to be in the `SofaSimulationCore` target.

Looking closer, we have

 **SofaSimulationTargets.cmake**
[code]

It seems that the target SofaSimulationCore is

[2019-10-10 09:25] guparan commented on #1180
Well spotted @jnbrunet :+1:

This is due to the fact that SofaSimulationCore is part of the SofaFramework package and NOT the SofaSimulation package.
I think I wanted to make things simpler by installing SofaSimulationCore under SofaSimulation but I forgot to set the target_include_directories accordingly (as you saw by yourself).

I think the most consistent solution is to install SofaSimulationC

[2019-10-10 09:47] jnbrunet commented on #1180
Okay, I guess we will also need to change SofaSimulationCommon and others since right now they are installing into the package SofaSimulation.

[2019-10-10 09:59] guparan commented on #1180
That's were it goes non-logical...
Historically, in SOFA we have:
[code]

So by just changing the install dir of SofaSimulationCore we will retrieve consistency between install architecture and CMake packages.

[2019-10-10 15:11] jnbrunet commented on #1180
Alright, it seems the config.h is also needed. This is what I have by simply putting back SofaSimulationCore in SofaFramework.

**CMakeLists.txt**
[code]

**main.cpp**
[code]
**Result**
[code]

[2019-10-11 07:47] guparan commented on #1180
How can you do `#include <sofa/simulation/simulationcore.h>` and not `#include <sofa/simulation/config.h>` ?
Both files are in the same place :confused:

[2019-10-11 11:33] jnbrunet commented on #1180
Except it is not !

`install/include/SofaSimulation/sofa/simulation/config.h`
`install/include/SofaFramework/sofa/simulation/simulationcore.h`

**SofaSimulation** include path is only included if I link against **SofaSimulationCommon**, **SofaSimulationTree** or **SofaSimulationGraph**. Here I don't need those targets, but only the **SofaSimulationCore** target.

[2019-10-11 11:39] jnbrunet commented on #1180
The config.h here clearly seems to be used within SofaSimulation modules. I guess the clean solution here is to remove the inclusion of this file in SofaFramework.

[2019-10-16 11:42] damienmarchal commented on #685
Well this is merged in Sofa since a long time :)

[2019-10-16 11:42] #685 closed, assigned to nobody

[2019-10-17 17:12] #1180 closed, assigned to guparan

[2019-10-30 16:10] guparan opened #1205 "Better FFMPEG executable integration"
FFMPEG executable path should be part of the SofaVideoRecorderManager (GUI) and a ffmpeg.ini should be used in `config/` to remember latest path used.

See https://github.com/sofa-framework/sofa/pull/1177#issuecomment-547846519

[2019-11-03 12:24] epernod opened #1209 "Bug in sofa::defaulttype::Quat fromEuler method"
[code]
Instead of
[ 0.1736482, 0.9848078, 0, 0 ]

according to https://www.andre-gaschler.com/rotationconverter/ which is using three.js code.

______________________________________________________

Suggested labels:

[2019-11-04 16:57] fredroy commented on #1117
Fixed by #1154

[2019-11-04 16:57] #1117 closed, assigned to guparan

[2019-11-14 08:16] fangzhouzisb opened #1213 "Small bug in TopologicalChangeProcessor.cpp"
In TopologicalChangeProcessor.cpp, there is a line:
SReal d = - (points[0][0] * c + points[0][1] * b + points[0][2] * c );
![1](https://user-images.githubusercontent.com/44138988/68838628-fa0cfd00-06f9-11ea-8280-a7161df695a2.jpg)
I think it should be changed to
SReal d = - (points[0][0] * a + points[0][1] * b + points[0][2] * c );

______________________________________________________

Suggested

[2019-11-14 09:42] epernod commented on #1213
Hi,

yes you are right, thanks!
Do you have a small use case where you could see that bug? (it could be helpful to create a test).

Could you push the fix in a PR?

[2019-11-14 11:20] fangzhouzisb commented on #1213
Hello @epernod
I did not pull a request because I thought I had to clone the branch and it would be a long time.
I just want to know about how the topological modification is working in Sofa.
And what about your progress in volumetric cutting?  I recently read a paper and I think I may help out.

[2019-11-14 13:27] guparan opened #1214 "Component crawler for user doc generation"
Let's create a C++ crawler (based on the Factory) that will create a user-oriented markdown documentation of each SOFA Component : name, data fields, XML usage, Python usage, ...

______________________________________________________

Suggested labels:

[2019-11-15 14:32] guparan commented on #1092
Fixed by #1152

[2019-11-15 14:32] #1092 closed, assigned to nobody

[2019-11-15 23:31] damienmarchal opened #1216 "Bug in Factory registering when the namespace ends with number"
Eg:
namespace sofa3
{
        RegisterObject<XXX>
}

results in a component named sofaXXX

______________________________________________________

Suggested labels:

[2019-11-20 11:23] epernod opened #1218 "[SofaDistanceGrid] Crash using DistanceGrid collision model and ray intersection"
______________________________________________________

Suggested labels:

[2019-11-20 11:25] epernod opened #1219 "[SofaDistanceGrid] plugin dll not exported at sofa install"
Plugin need a fuill pluginization anyway... and cleaning...

______________________________________________________

Suggested labels:

[2019-11-21 13:05] hugtalbot opened #1220 "Update scenes for python3"
______________________________________________________

Suggested labels:

[2019-11-21 14:19] fredroy commented on #1209
After discussion with @epernod, Quat::FromEuler creates Quaternion with ZYX order (which is implied, no doc says this 😿 ).
Therefore there is actually no bug with the actual code, but a nice addition would to have a "order" parameter, with the value "ZYX" by default.

[2019-11-21 14:21] epernod commented on #1209
kdo: https://github.com/mrdoob/three.js/blob/dev/src/math/Quaternion.js#L199

[2019-11-22 10:49] fredroy commented on #1100
If the VisualModel(Impl) is the only one making use of handleSeams option, I would say it means that the duplicating vertices mechanism should be present in the VisualModel(Impl), and not in the MeshObjLoader. (and it would allow this duplicating thing to be handled by other file format actually)

[2019-11-22 15:50] waseemx10 commented on #1133
Hi @hugtalbot This issue can be closed as it seems you have already fixed it in https://github.com/sofa-framework/sofa/commit/f694cb48616391f08fcb353fe4e724d020be5d05

[2019-11-22 15:55] #1133 closed, assigned to nobody

[2019-12-01 14:10] #1216 closed, assigned to nobody

[2019-12-04 10:35] #1209 closed, assigned to fredroy, epernod

[2019-12-11 09:15] guparan commented on #201
Hye @damienmarchal will this be fixed by SofaPython3 ?

[2019-12-11 09:17] damienmarchal commented on #201
Not magically/

[2019-12-11 09:18] guparan commented on #531
Closed as silent for more than a year now. Do not hesitate to re-open if necessary.

[2019-12-11 09:18] #531 closed, assigned to nobody

[2019-12-11 09:33] guparan commented on #5
Closed as silent for more than 2 years. Do not hesitate to reopen if necessary.

[2019-12-11 09:33] #5 closed, assigned to guparan

[2019-12-20 17:56] Ant0nin opened #1235 "Missing compile definition SOFA_LIBSUFFIX"
The compile definition SOFA_LIBSUFFIX is missing when compiling in Debug mode. Consequently, the loading of the SOFA plugins failed when executing "runSofa_d" or "runSofa2_d", because it tries to load the libs without considering the "_d" suffix in the filenames.

Here is a quick patch from me to fix the issue. But maybe it exists a better solution.

Note: My CMake version is 3.14.5

[code]
______

[2020-01-17 17:44] hugtalbot opened #1243 "Error using Triangle topo with RegularGrid"
Using a RegularGrid in 2D, a TriangleSetTopologyContainer returns the following error:
[code]
and the structure edges in triangles is not created. I guess this would be due to the re-ordering of elements (hexa/quads/tri). Any idea @epernod ?

Example scene:
[code]

______________________________________________________

Suggested labels:

[2020-01-22 09:33] hugtalbot opened #1246 "SOFACuda: visual and draw"
Rewrite draw functions (often duplicated from CPU version)

Rename CudaVisualModel into CudaOpenGLModel since it uses OpenGL buffers and would not be suited for non-OpenGL contexts

______________________________________________________

Suggested labels:

[2020-02-03 09:56] #1213 closed, assigned to nobody

[2020-02-12 09:55] hugtalbot opened #1255 "Ray confusion : defaulttype::Ray vs collision::Ray"
PR could refactor Ray : not a ray, change name, including iterator in the name (eg RayCollisionIterator ..). In the code, there should be refactoring with the defaulttype::Ray)

See #1251

______________________________________________________

Suggested labels:

[2020-02-21 09:40] #1166 closed, assigned to hugtalbot

[2020-02-26 13:31] hugtalbot opened #1261 "Use of eigen for matrix support in SOFA"
This discussion is coming and coming again within the community.
Why carrying on supporting our own matrix formats while eigen is doing it very well ..

We could open the topic in STC# 9 (reminder: 28-30th April in Lille)

______________________________________________________

Suggested labels:

[2020-02-26 13:31] hugtalbot opened #1262 "Collision API for Activers"
Related to PR #1259
It appears that several ways (and API) exist to create a custom collision with discrete models (Point, Line, Sphere..). It should be restricted to one, consistent, clear, documented and logical way.

This could definitely be addressed in the next STC# 9 in Lille.

______________________________________________________

Suggested labels:

[2020-02-26 13:31] hugtalbot opened #1263 "Use of SOFA_NO_VMULTIOP"
The option **SOFA_NO_VMULTIOP** in ODESolver (aka integration schemes) makes the reading (i.e. the understanding for new users) and the dev cumbersome.

I know the VMULTIOP allows for optimized vector operations with the MultiOp.
Would there now be a reason to just keep one upon the other ?
Any other thought?

______________________________________________________

Suggested labels:

[2020-02-27 20:57] #1261 closed, assigned to ChristianDuriez

[2020-02-27 21:11] #994 closed, assigned to fspadoni

[2020-02-27 21:27] #1002 closed, assigned to nobody

[2020-02-28 08:46] jnbrunet commented on #1263
I think the `CGLinearSolver` has a good example on such "optimization". Let's look at the following un-optimized code:

**Version 1**
[code]

which can be seen as:

[code]

and its optimized version:

**Version 2**
[code]

which can be seen as:

[code]

Finally, imagine we have the following scenario:

[code]

Version 1 will do:
1. Launch a visitor in the CG's subgraph (`x.peq(p,alpha);`)
**MO 1**

[2020-03-02 08:36] damienmarchal commented on #974
Yes.

[2020-03-02 14:14] damienmarchal commented on #1263
Hi Hugo,

Thanks for the question and @jnbrunet  for the very interesting answer.

To me #define activated feature must always be removed in any case. So the question should be,
do we transform that into a runtime feature that is activated by a data<boolean> or to directly remove it. If version "optimized" is always faster we could probably keep it...but refactoring the API using c++11&c++17 so it

[2020-03-04 21:17] damienmarchal commented on #1263
DISPLAY_TIME ...well it should follow the same trajectory that SOFA_NO_VMULTIOP...be replaced by the AdvancedTimer or removed.

[2020-03-11 15:05] guparan commented on #1262
#1259 will be merged but could be completed with another PR:
- unnecessary usage of link l_collElemActiver + pointer CollisionElementActiver
- Set CollisionElementActiver a child of BaseObject
- Activer → Activator, Enabler, Switch, …

[2020-03-11 19:21] Ant0nin opened #1270 "[ConstraintParams] Attribute m_lambda eventually becomes out-of-date"
I spotted a bug related to the "lambda" state vectors. The GenericConstraintSolver contains an attribute GenericConstraintSolver::m_lambdaId which is roughly a map maintaining the connection between the multiple MechanicalObjects of the scene and the ID of their respective state vectors storing constraint correction forces. When GenericConstraintSolver::prepareStates method is called, GenericConst

[2020-03-12 00:39] jjcasmar opened #1271 "CMake error in SofaGui.cmake when Modeler is compiled"
If you compile Modeler, in SofaGuiTargets.cmake there are some references to tinyxml but that target is never searched. In that scenario, SofaPython3 can't be built out of tree (and probably any other cmake project that does `find_package(SofaGui)`) as the cmake fails for not finding tinyxml.

Removing the Modeler removes the tinyxml references.

[2020-03-12 07:56] damienmarchal commented on #1271
Hi @jjcasmar,

Thanks for reporting. I let our cmake wizard @guparan have a look at that :).

[2020-03-12 08:22] jnbrunet commented on #1271
Too late @damienmarchal  ;-)

We had this problem in the team and never figured out it was coming from some people having the Modeler activated. Thanks @jjcasmar for finding where it was coming from

[2020-03-12 08:57] guparan commented on #1271
Thanks for the quick fix @jnbrunet :+1:

@jjcasmar @sofa-framework/reviewers
**Please note that Modeler support has been discontinued since March 2019.**

[2020-03-12 09:43] jjcasmar commented on #1271
@guparan I normally use the Modeler as a way to view what's in the factory. I write my scenes in python, but I dont know the name of the objects or which properties it has, so the Modeler is a way to view that. Is there any other way?

[2020-03-12 19:04] Ant0nin commented on #1262
In SOFA, when a collision occurs between a pair of objects, some SOFA components are dynamically added into the scene graph. For example, if these two objects respectively carry 3 collision models (Point,Triangle,Line), you'll obtain 4 instances of UnilateralInteractionConstraint components (Point-Point, Point-Line, Point-Triangle, Triangle-Line, Line-Line). And the mechanical values such as the p

[2020-03-19 10:01] epernod opened #1276 "SPHFluid ParticleSink is broken"
behavior broken by PR #1212

Before
![SPHParticleSink_00000001](https://user-images.githubusercontent.com/21199245/77055019-9a3ca080-69d0-11ea-8648-7b8abe1346b1.png)

After
![SPHParticleSink_00000002](https://user-images.githubusercontent.com/21199245/77055298-e851a400-69d0-11ea-98c1-5506260afef5.png)

particles seems not to repulse themself anymore...
_____________________________________________

[2020-03-19 10:36] epernod commented on #1276
thanks for the quick reply @hugtalbot , I'll open a PR and add some regress tests as well.

[2020-03-19 10:56] epernod commented on #1276
yes working fine. handleTopoChange? I didn't notice it... I would have prefere handleTopologyChange ;)

[2020-03-19 13:53] epernod opened #1277 "Setting bbox manually in Node is broken"
since PR #1268
setting the data bbox manually in root node is not working anymore:

For example: in SPHParticleSing.scn
```<Node dt="0.01" gravity="0 -10 0" bbox="-4 -4 -4 4 4 4">```

style gives the error:
```[WARNING] [RealGUI] Global Bounding Box seems very small; Your viewer settings (based on the bbox) are likely invalid, switching to default value of [-1,-1,-1,1,1,1].This is caused by using

[2020-03-19 22:48] damienmarchal commented on #1277
Hello Hugo,

We discussed about that today. The problem is that we are not sure the old behavior was the one we want to keep and if alternative design shouldn't be preffered.

[2020-03-20 11:05] epernod commented on #1277
copy pasting discussion (+ automatic translation) for the record:

[2020-03-25 11:54] hugtalbot opened #1285 "Plugin compilation: 100% out-of-tree"
Today we have many different way to compile plugins (all ways : through SOFA in files, through SOFA with EXTERNAL_DIRECTORIES, out-of-SOFA).
It is misleading for users, we have still plugins in the core (making SOFA heavy).

A proposal: why not going towards a full **out-of-tree compilation for SOFA plugins** (located in _applications/plugins_) ?

It would enforce us to:
- sort used and supported

[2020-03-25 12:46] damienmarchal commented on #1262
I think this is done isn't ? So we can close it.

[2020-03-25 12:46] #1262 closed, assigned to hugtalbot, remibessard, epernod

[2020-03-25 12:47] damienmarchal commented on #1147
The PR to remove that will be soon merged...

[2020-03-26 02:04] #1271 closed, assigned to guparan

[2020-03-26 16:33] #1276 closed, assigned to epernod

[2020-03-26 21:15] jjcasmar opened #1288 "SofaBase/config not found"
I am creating a plugin and compiling it out of tree. One of the components in my plugin uses the MeshTopology component so I have added
[code]

The problem is that MeshTopology.h has some other includes, and of them being <SofaBase/config.h> which can't found.

Most probably this is an issue with CMake targets. The compilation line is the following:

[code]

I have checked and the file is there, b

[2020-03-27 13:34] nawuxicaa opened #1290 "CGAL Plugin can not be found"
doudou@ubuntu:~/ext_plugin_repo$ git clone https://github.com/sofa-framework/sofa/tree/master/applications/plugins/CGALPlugin.git
Klone nach 'CGALPlugin' ...
fatal: repository 'https://github.com/sofa-framework/sofa/tree/master/applications/plugins/CGALPlugin.git/' not found

______________________________________________________

Suggested labels:

[2020-03-27 13:45] nawuxicaa commented on #1290
Hey @hugtalbot
Thank you so much, this help a lot!

[2020-03-27 13:52] #1290 closed, assigned to nobody

[2020-03-28 01:48] jjcasmar opened #1293 "Unable to create component"
I have a multimap in a plugin and I am unable to create it.
The header file looks like this
[code]

and I register in the factory like this:
[code]

When trying to create the component with python
[code]

I get the following error
[code]
I have tried `Vec3`, `Vec3d`, `Vec3,Vec3` and `Vec3d,Vec3d` without success.
Not sure if this is a bug in SOFA or if I am doing something wrong with my component.

[2020-03-28 11:18] jnbrunet commented on #1293
Hi @jjcasmar

MultiMapping need both an 'input' and 'output' data attributes pointing to valid mechanical objects.

With your example:
`final.addObject("CPFMapping", template="Vec3", input="path/to/mo1", output="path/to/mo2" )`

We are working on better diagnostic message for such failed object creation, see #1266 and #1294

[2020-03-28 12:05] jjcasmar commented on #1293
Hi. I completely thought it was fromModels and toModels. I'll test with input and output, thanks!

[2020-03-28 13:16] epernod commented on #1288
Hi,
could you post what you wrote in the Cmakelists.txt of your plugin.

[2020-03-28 13:22] jjcasmar commented on #1293
Its working fine with the input/output. Sorry for the noise

[2020-03-28 13:22] #1293 closed, assigned to nobody

[2020-03-28 13:26] jjcasmar commented on #1288
I had
[code]
and
[code]

To make it work, I have added
[code]
and
[code]

I think it would be much easier if SOFA defines targets with the name of the package:
`find_package(SofaFramework REQUIRED)` defines `SofaFramework::SofaFramework`

Also, I found sometimes hard to know in which target is a particular component defined (like in this case, the MeshTopology component)

[2020-03-29 22:34] epernod commented on #1243
Back to this issue. I dig into the code. The problem comes from the fact that the RegularGridTopology is computing a Quad topology and then creating the triangles by splitting the quads.

For example for a grid of ```nx="3" ny="3" nz="1"```
There will be :
- 9 positions
- **12 edges**
- 8 triangles
- 4 quads

Instead of:
- 9 positions
- **16 edges**
- 8 triangles

So using
```<TriangleSetTopologyC

[2020-03-30 08:46] hugtalbot opened #1297 "Replace getMeshTopologyLink into getMeshTopology"
Two interface for both static and dynamic topologies but they are identitical !

1. Looking for removing all getMeshTopologyLink with getMeshTopology
2. Then remove getMeshTopologyLink safely

______________________________________________________

Suggested labels: